<html>
<head>
<title>请在此填入邮件标题</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" bgcolor="#FFFFFF">
<p><br></p>
<table width="540" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000" align="center">
  <tr> 
    <td> 
      <table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#247a57" height="75">
        <tr> 
          <td width="154"> 
            <table width="130" border="1" cellspacing="0" cellpadding="1" bgcolor="#FFFFFF" align="center" height="51" bordercolor="#000000">
              <tr> 
                <td> 
                   <img src="/ad/logo.jpg">
                </td>
              </tr>
            </table>
          </td>
          <td> 
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tr align="center"> 
                <td><b><font style="font-size:12pt" color="#ffffff">创鸿酒店预订业务系统，订房中心最佳选择！</font></b></td>
              </tr>
              <tr align="center"> 
                <td><font color="#ffffff">北京天创鸿业科技发展有限公司倾力推出</font></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td width="154" height="8" background="/ad/bg.gif"> 
          </td>
          <td width="392" height="8" background="/ad/bg.gif"></td>
        </tr>
      </table>
      <table border="0" cellspacing="0" cellpadding="4" width="100%">
        <tr valign="top"> 
          <td width="60" bgcolor="#808080" background="/ad/bg_left.gif"> 
            <div align="center"> 
              <p>&nbsp;</p>
            </div>
          </td>
          <td width="1">&nbsp;</td>
          <td background="/ad/bg3.gif"> 
            <p><br>
              <b>尊敬的经理，您好！</b><br>
              <br>
              <b> 北京天创鸿业科技发展有限公司</b>位于北京海淀，是一家专业从事旅游业电子商务和业务软件开发的软件公司，<b>创鸿酒店预订业务系统</b>是我公司为订房中心、商旅服务公司、旅行社酒店业务部门推出的一套新型酒店预订业务系统，系统除了传统的后台预订操作模块外，还引入了当前最新的一些功能模块，代表着当前企业管理软件发展的最新潮流和思想。如Internet在线预订模块、传真自动化模块、SMS短消息模块、分销管理模块、客户管理模块（客户资料分析、销售分析、商业规则制定、客户关系维护、发掘潜在客户），另外还有可选的营销模块、企业大客户管理模块以及Call 
              Center模块。强大的功能不仅能帮助订房中心实现预订流程的自动化，而且能轻松自如地处理财务自动化对帐催款，客户分析管理、制订市场营销策略等诸多环节。实现了上一套系统，全面提升订房中心的客服、销售、财务、营销水平，使订房中心在业务不断增长的发展过程中再无瓶颈。<br>
            </p>
            <p><a href=http://www.bizsky.com.cn/solution/hotelres/><font style="font-size:14.8px">创鸿酒店预订业务系统</font></a>具有<font color="#000000">以下</font><font size="2"><b><font color="#FF9933" size="6"><i>特色</i></font></b></font>：</p>
            <ul>
              <li><font face="宋体"> 详尽的酒店资料，本系统对酒店有非常详尽的描述，不仅有酒店的基本信息描述，而且对酒店的交通、房型及价格、餐饮、娱乐、服务设施都有专门的 
                数据库描述。先进的数据库设计保证了客人可以按照各种条件选择适合自己的酒店。同时系统预置了中国各省市几千家星级酒店的详细信息。</font></li>
              <li><font face="宋体"> 融合在线预订和800预订，系统采用B/S结构，前台预订和后台预订界面一致，客人无论是在Internet上预订还是通过电话/传真预订，系统处理过程一致。而且，系统提供了自动转录Internet订单到后台数据库的服务程序，使您的公司无论是采取IDC服务器托管方式，还是自行架设DDN专线方式，还是采取ADSL、ISDN、Modem上网方式，都能实现所有来源订单自动转录到后台数据库，800预订人员在后台预订操作界面统一处理。 
                </font></li>
              <li><font face="宋体">客人可在线自助修改订单和查询订单处理状态，同时客人还可查询自己既往消费记录和奖励记录。 
                </font></li>
              <li><font face="宋体">预订功能强大，客人任何复杂的预订均在在一张订单里完成，简化了预订流程，节约了预订时间。 
                </font></li>
              <li><font face="宋体">可处理多种预订模式，如预留房操作方式和同行代理操作方式。 </font></li>
              <li><font face="宋体">强大的分销管理，对于由网站或其他分销渠道进行销售提供良好的分布式处理以及统计、对帐功能。 
                </font></li>
              <li><font face="宋体">智能化客户资料管理，800预订人员可在接到客人预订电话的同时调出客户的资料及以往定单情况，供工作人员参考，如果是新客户，保存订单时系统会自动识别并保存客户资料。同时系统会对客户的消费进行积分管理。以达到识别客户价值度和维系客户关系的目的。 
                </font></li>
              <li><font face="宋体">传真自动化，整个系统实现了传真自动化，系统生成的订单自动进入传真队列，由后台程序自动发送到酒店，无须人工干预。 
                </font></li>
              <li><font face="宋体">短消息发送。系统自动发短消息通知客人，节省了公司和客户的时间和通讯费用</font></li>
              <li><font face="宋体">专门的催款对帐模块，由系统根据本月业务数据自动生成给每个酒店的帐单并自动由专门的传真服务器分发催款单给酒店，并能根据佣金回收情况作多次催款。</font></li>
              <li><font face="宋体">严格的权限管理，多级安全的数据控制方法（数据库级，应用级，数据操作级）和各级操作员进行分组授权管理，增强系统的安全性。 
                </font></li>
              <li><font face="宋体">丰富的组合统计功能，按自己的需要统计所需数据，既方便又快捷。</font></li>
              <li><font face="宋体">灵活的打印工具，打印格式任意设置。</font></li>
              <li><font face="宋体">在线即时客服中心，客户在自助预订之余可以在线以类似QQ的方式向客服人员直接咨询。 </font></li>
              <li><font face="宋体">强大的营销功能，有详尽的客户数据分析和多渠道客户沟通功能。 </font></li>
              <li><font face="宋体">业务架构灵活，可按照自身业务流程自行组合系统模块和设定操作方式。 </font></li>
              <li><font face="宋体">具备在线支付功能，通过和首都电子商城可实现各种银行信用卡的网上划拨支付。</font></li>
              <li><font face="宋体">具有专门的加盟酒店信息接口，加盟酒店通过此模块可直接更新自己酒店资料、房价、房情，更可在线远程进行订单确认、月末对帐结算确认等操作。 
                </font></li>
              <li><font face="宋体">企业大客户管理模块实现了对企业商旅服务的管理。 <br>
                </font></li>
            </ul>
            <p align="right"><a href="http://www.bizsky.com.cn/solution/hotelres/">&gt;&gt;&gt;更详细说明及在线演示请由此进入&gt;&gt;&gt;<br>
              <br>
              </a></p>
            <table width="100%" border="0" cellspacing="0" cellpadding="2">
              <tr> 
                <td colspan="2"> <font style="font-size:14.8px"><b>北京天创鸿业科技发展有限公司 
                  </b></font> <b>Beijing Bizsky Techonology </b></td>
              </tr>
              <tr> 
                <td class="email"><font face="Arial, Helvetica, sans-serif">电话： 
                  010-68479014<br>
                  传真： 010-68425816</font></td>
                <td class="email"><font face="Arial, Helvetica, sans-serif">Email： 
                  <a href="mailto:service@bizsky.com.cn">service@bizsky.com.cn</a> 
                  <br>
                  网址： <a href="http://www.bizsky.com.cn/">www.bizsky.com.cn</a></font></td>
              </tr>
            </table>
            <p align="left">&nbsp;</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<style type="text/css">
<!--
body,p,td,input {font-size: 9pt;line-height:15pt;}
select{	font-size:9pt;color:navy;}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
.border {  border: #333333; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
-->
</style>
<p>&nbsp;</p>
