<html>
<head>
<title>请在此填入邮件标题</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>

<body bgcolor="#CCCCCC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<br>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td><table width="100%" height="90" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td width="5%" height="90" valign="top"><img src="2images/images_01.gif" width="41" height="38"></td>
          <td width="90%" align="center"><img src="2images/images_06.gif" width="399"></td>
          <td width="5%" valign="bottom"><img src="2images/images_02.gif" width="41" height="38"></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="78%" height="186" valign="top"> <table width="98%" border="0" align="right" cellpadding="0" cellspacing="4">
              <tr> 
                <td> 
                  <p><font color="#197B30"><strong>《中国企业名录数据库》能为你做什么？</strong></font><br>
                    <br>
                    一、 避开前台，直接与企业高层领导联络商谈业务。 <br>
                    二、 寻求投资伙伴，以迅速推广科研成果或专利产品。 <br>
                    三、 掌握更多资料，吸引更多客户。 <br>
                    四、 直接同供货厂商联系，避开中间环节，降低进货成本。 <br>
                    五、 寻求经销商，发展销售代理，促进产品销售。<br>
                    六、 不用再翻名录书籍，告别“114”。<br>
                    <br>
                    <strong><font color="#FF0000">540万家企事业单位详细信息</font></strong><br>
                    <font color="#990000">包括：</font>单位名称、法人代表、经营范围、所属行业、企业性质、成立时间、通讯地址、邮政编码、电话号码、注册资金、员工人数<br>
                  </p></td>
              </tr>
            </table></td>
          <td width="22%"><img src="2images/images_03.gif" width="133" height="131"></td>
        </tr>
        <tr align="right"> 
          <td height="18" colspan="2" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="98%" align="right">详情请访问：<a href="http://www.bizdata.cn">http://www.bizdata.cn</a></td>
                <td width="2%">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="37" align="center" class="font"><img src="2images/images_07.gif" width="382" height="35"></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="22%" align="right"><img src="2images/images_04.gif" width="68" height="61"></td>
                <td width="2%">&nbsp;</td>
                <td width="76%"><strong><font class='font20'>010-68462298 88422420</font></strong></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
<style type="text/css">
<!--
.font {

	font-family: '黑体';

	font-size: 24px;

	color: #FF0000;

}

.font20 {
	font-family: "黑体";
	font-size: 24pt;
	color: #FF0000;
	filter: Shadow(Color=ffcc00, Direction=45);
	line-height: 45px;
}
p,td {
	font-size: 9pt;
	color: #000000;
	line-height: 22px;
}
-->
</style>
<p class="font20">&nbsp;</p>
<p class="font20">&nbsp;</p>
<p class="font20">&nbsp;</p>
</body>
</html>
