<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>请在此填入邮件标题</title>
<style type="text/css">
<!--
.td {
	font-size: 18pt;
	font-family: "黑体";
	color: #FF6600;
	line-height: 35px;
}
.font1 {
	font-size: 12pt;
	color: #FF9900;
	font-family: "黑体";
	font-weight: normal;
	line-height: 25px;
}
-->
</style>
<link href="3images/css.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC" leftmargin="0" topmargin="0">
<table width="498" height="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="221" valign="top" background="3images/images_01.jpg"> <table width="100%" height="600" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td valign="top"><table width="40%" border="0" cellspacing="8" cellpadding="0">
              <tr> 
                <td class="td"> <strong>《2004-2005中国电信黄页·中国大黄页》</strong> </td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="292" valign="bottom"><table width="100%" border="0" cellspacing="8" cellpadding="0">
              <tr>
                <td width="60%" height="151" valign="bottom" class="font1">■ 50万条企业信息<br>
                  ■ 2528页，厚8 CM,<br>
                  ■ 封面色标索引、分类索引<br>
                  ■ 光盘索引，更方便更快捷<br>
                  <font color="#000000" face="黑体">订购电话：021-50825100<br>
                  订购方法：<a href="http://www.bizdata.cn">点击</a></font></td>
                <td width="40%" valign="top"><img src="3images/images_02.jpg" width="120" height="129"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
