<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>请在此填入邮件标题</title>
</head>
<body bgcolor="#CCCCCC" leftmargin="0" topmargin="0">
<br>
<table width=500 border=0 align="center" cellpadding=0 cellspacing=0 bgcolor="#FFFFFF">
  <tr bgcolor="FF6500"> 
    <td height="2" colspan=4></td>
  </tr>
  <tr> 
    <td width="3" rowspan=3 bgcolor="FF6500">&nbsp; </td>
    <td width="404" height="62" valign="top">
<table width="100%" height="62" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td width="124" align="center"><img src="4images/bg9.gif" width="101" height="78"></td>
          <td width="10" valign="bottom">&nbsp;</td>
          <td width="279" valign="bottom"><img src="4images/bg10.gif" width="262" height="36">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="10">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
      </table>
    </td>
    <td align="right" valign="top"> <img src="4images/images-04.gif" width=54 height=62 alt=""></td>
    <td width="22" rowspan=3 bgcolor="FF6500">&nbsp; </td>
  </tr>
  <tr> 
    <td height="14" colspan=2 background="4images/images-06.gif"></td>
  </tr>
  <tr> 
    <td height="400" colspan=2 valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="3%">&nbsp;</td>
          <td width="79%"><font color="#FF6600"><strong>尊敬的蔡飞 先生：您好！</strong></font><br>
            您在Marketing100注册的 &quot;会员登录名&quot; 和 &quot;密码&quot; 已经产生！请务必记住（建议您抄写在重要的笔记本上）：<br> 
            <strong>会员登录名：</strong>caifei<br> <strong>密码：</strong>123456</td>
          <td width="18%">&nbsp;</td>
        </tr>
        <tr> 
          <td colspan="3" align="center"><table width=404 border=0 cellpadding=0 cellspacing=0>
              <tr> 
                <td width="17"> <img src="4images/images1.gif" width=17 height=18 alt=""></td>
                <td width="370" height="18" background="4images/images1-02.gif"></td>
                <td width="17"> <img src="4images/images1-03.gif" width=17 height=18 alt=""></td>
              </tr>
              <tr> 
                <td width="17" background="4images/images1-04.gif"></td>
                <td valign="top"> 欢迎您注册成为创鸿会员! 
                  <p>作为客户服务人员,为您服务是我们的本职,希望我们能合作愉快。</p>
                  <p>创鸿在追求用户认可的三年中，始终不渝于打造最完整供应链的网站目标，努力为用户创造价值，今天终于使自己赢得了比较扎实的市场地位。作为在全球互联网电子商务领域中一颗闪耀的新星，创鸿正在以惊人的眼球密度受到国内以及境外企业人士和商人的瞩目！</p>
                  </td>
                <td width="17" background="4images/images1-06.gif"></td>
              </tr>
              <tr> 
                <td> <img src="4images/images1-07.gif" width=17 height=15 alt=""></td>
                <td height="15" background="4images/images1-08.gif"></td>
                <td> <img src="4images/images1-09.gif" width=17 height=15 alt=""></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="53"></td>
          <td height="53" valign="top"><br>
            了解详情点击进入<a href="http://www.bizsky.com.cn">http://www.bizsky.com.cn</a> 
            <br>
            <br>
            地址：北京市海淀区紫竹院车道沟8号<br>
            邮编：100089<br>
            电　　话： (010) 88422420 68479014<br>
            传　　真： (010)68479014 <br>
            客服信箱： service@bizsky.com.cn <br> <br> </td>
          <td height="53">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr bgcolor="FF6500"> 
    <td height="2" colspan=4></td>
  </tr>
</table>
<style type="text/css">
<!--
p,td {
	font-size: 9pt;
	line-height: 20px;

}
a:hover {
	color: #FF6600;
	text-decoration: none;
}
a {
	color: #990066;
	text-decoration: none;

}
-->
</style>

</body>
</html>
