<html>
<head>
<title>请在此填入邮件标题</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
<!--
p,td {
	font-size: 9pt;
	line-height: 20px;

}
a:hover {
	color: #FF6600;
	text-decoration: none;
}
a {
	color: #990066;
	text-decoration: none;

}

.font1 {
	font-size: 12pt;
	color: #FF6600;
	font-family: "黑体";
	line-height: 30px;
}
.font2 {
	font-size: 12pt;
	color: #006600;
	font-family: "黑体";
	line-height: 30px;
}
.font3 {
	font-size: 10pt;
	color: #990000;
	line-height: 25px;
}
-->
</style>
</head>
<body bgcolor=#CCCCCC leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<table width=601 border=0 align="center" cellpadding=0 cellspacing=0 bgcolor="#FFFFFF">
  <tr> 
    <td colspan=10> <img src="5images/images.gif" width=601 height=17 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=17 alt=""></td>
  </tr>
  <tr> 
    <td colspan=10> <img src="5images/images-03.gif" width=601 height=28 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=28 alt=""></td>
  </tr>
  <tr> 
    <td colspan=2> <img src="5images/images-04.gif" width=118 height=99 alt=""></td>
    <td colspan=5><img src="5images/tu-01.gif" width="310" height="63"> </td>
    <td colspan=2> <img src="5images/images-06.gif" width=143 height=99 alt=""></td>
    <td> <img src="5images/images-07.gif" width=30 height=99 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=99 alt=""></td>
  </tr>
  <tr> 
    <td colspan=2> <img src="5images/images-08.gif" width=118 height=51 alt=""></td>
    <td colspan=5> <img src="5images/images-09.gif" width=310 height=51 alt=""></td>
    <td colspan=2 rowspan=4 align="center" background="5images/images-10.gif"><img src="5images/tu-05.gif" width="118" height="85"> 
    </td>
    <td rowspan=4> <img src="5images/images-11.gif" width=30 height=126 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=51 alt=""></td>
  </tr>
  <tr> 
    <td rowspan=2> <img src="5images/images-12.gif" width=82 height=45 alt=""></td>
    <td colspan=5 rowspan=8 valign="top" background="5images/images-13.gif"><table width="95%" border="0" align="right" cellpadding="0" cellspacing="3">
        <tr> 
          <td height="34" align="center" class="font1">数据库定制</td>
        </tr>
        <tr> 
          <td height="210" valign="top"> 　　商业数据定制是我公司将商业数据产品进一步细分与提供个性化服务的重要组成部分，通过商业数据定制以满足不同客户群的专业要求。<br>
            　　<font color="#FF6600"><strong>商业数据定制分为：</strong></font>常规定制和特殊定制两部分。其中：<br>
            　　<strong><font color="#FF6600">常规定制是指：</font></strong>可以从已有行业库、地区库或特色库中选择您所需要的数据产品或其组合而成的新商业数据库；<br>
            　　<strong><font color="#FF6600">特殊定制是指：</font></strong>从数据库字典中选择所需的内容最后形成所需要的商业数据库，通过网络下载或光盘传送等方式进行交付。 
          </td>
        </tr>
      </table>
      <br> <br> </td>
    <td> <img src="5images/images-14.gif" width=68 height=29 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=29 alt=""></td>
  </tr>
  <tr> 
    <td rowspan=2> <img src="5images/images-15.gif" width=68 height=46 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=16 alt=""></td>
  </tr>
  <tr> 
    <td> <img src="5images/images-16.gif" width=82 height=30 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=30 alt=""></td>
  </tr>
  <tr> 
    <td> <img src="5images/images-17.gif" width=82 height=33 alt=""></td>
    <td> <img src="5images/images-18.gif" width=68 height=33 alt=""></td>
    <td colspan=2> <img src="5images/images-19.gif" width=143 height=33 alt=""></td>
    <td>&nbsp; </td>
    <td> <img src="5images/spacer.gif" width=1 height=33 alt=""></td>
  </tr>
  <tr> 
    <td rowspan=2> <img src="5images/images-21.gif" width=82 height=120 alt=""></td>
    <td> <img src="5images/images-22.gif" width=68 height=66 alt=""></td>
    <td colspan=2> <img src="5images/images-23.gif" width=143 height=66 alt=""></td>
    <td rowspan=5>&nbsp; </td>
    <td> <img src="5images/spacer.gif" width=1 height=66 alt=""></td>
  </tr>
  <tr> 
    <td> <img src="5images/images-25.gif" width=68 height=54 alt=""></td>
    <td colspan=2> <img src="5images/images-26.gif" width=143 height=54 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=54 alt=""></td>
  </tr>
  <tr> 
    <td rowspan=2> <img src="5images/images-27.gif" width=82 height=54 alt=""></td>
    <td>&nbsp; </td>
    <td colspan=2> <img src="5images/images-29.gif" width=143 height=43 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=43 alt=""></td>
  </tr>
  <tr> 
    <td> <img src="5images/images-30.gif" width=68 height=11 alt=""></td>
    <td colspan=2> <img src="5images/images-31.gif" width=143 height=11 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=11 alt=""></td>
  </tr>
  <tr> 
    <td> <img src="5images/images-32.gif" width=82 height=62 alt=""></td>
    <td colspan=2> <img src="5images/images-33.gif" width=72 height=62 alt=""></td>
    <td colspan=3 background="5images/images-34.gif">&nbsp; </td>
    <td> <img src="5images/images-35.gif" width=68 height=62 alt=""></td>
    <td colspan=2> <img src="5images/images-36.gif" width=143 height=62 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=62 alt=""></td>
  </tr>
  <tr> 
    <td colspan=6> <img src="5images/images-37.gif" width=360 height=41 alt=""></td>
    <td colspan=2 rowspan=2 valign="top" background="5images/images-38.gif"> <table width="100%" border="0" cellspacing="1" cellpadding="0">
        <tr> 
          <td height="20" align="center" class="font2">相关软件</td>
        </tr>
        <tr> 
          <td>１、<a href="http://www.bizsky.com.cn/software/webcatalog/">商业信息搜索软件</a><br>
            ２、<a href="http://www.bizsky.com.cn/software/bizsms/summarize.htm">企业短信系列</a><br>
            ３、<a href="http://www.bizsky.com.cn/software/faxlist/">传真自动化系统</a><br>
            ４、<a href="http://www.bizsky.com.cn/software/letter/">信封标签打印系统</a><br>
            ５、<a href="http://www.bizsky.com.cn/software/maillist/">邮件营销平台</a></td>
        </tr>
      </table></td>
    <td rowspan=2> <img src="5images/images-39.gif" width=67 height=134 alt=""></td>
    <td rowspan=2>&nbsp; </td>
    <td> <img src="5images/spacer.gif" width=1 height=41 alt=""></td>
  </tr>
  <tr> 
    <td colspan=4 rowspan="2" bgcolor="#FFFFFF" class="font3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="8%">&nbsp;</td>
          <td width="92%" class="font3"><strong>联系方式</strong>：(010) 80935595 68462298<br> <strong>传真电话</strong>：（010）68479014<br> 
            <strong>网 站</strong>:<a href="http://www.bizdata.cn">http://www.bizdata.cn</a><br>
            　 <a href="http://www.bizdata.cn">创鸿商业数据(企业名录)网</a><br>
            北京天创鸿业科技发展有限公司</td>
        </tr>
      </table></td>
    <td colspan=2> <img src="5images/images-42.gif" width=39 height=93 alt=""></td>
    <td> <img src="5images/spacer.gif" width=1 height=93 alt=""></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td colspan=3> <img src="5images/images-44.gif" width=158 height=36 alt=""></td>
    <td colspan=2>&nbsp; </td>
    <td> <img src="5images/spacer.gif" width=1 height=36 alt=""></td>
  </tr>
  <tr> 
    <td> <img src="5images/spacer.gif" width=82 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=36 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=36 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=167 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=25 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=14 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=68 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=76 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=67 height=1 alt=""></td>
    <td> <img src="5images/spacer.gif" width=30 height=1 alt=""></td>
    <td></td>
  </tr>
</table>
</body>
</html>