<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>请在此填入邮件标题</title>
<style type="text/css">
<!--

p,td {
	font-size: 9pt;
	line-height: 15pt;

}

.font1 {
	font-family: "黑体";
	font-size: 30pt;
	line-height: 40pt;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 2mm;
}
.font2 {
	filter: Glow(Color=ff0000, Strength=2);
	text-decoration: blink;
	cursor: default;
	font-size: 36pt;
}
.font3 {
	font-size: 12pt;
	line-height: 18pt;
	font-family: "幼圆";
}
-->
</style>
<link href="6images/test.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#EBEBEB" leftmargin="0" topmargin="0">
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="207" align="center" valign="top" bgcolor="#CCCCCC"><table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr> 
          <td height="195" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr align="center"> 
                <td height="46" colspan="2" valign="top" bgcolor="#FF9900" class="font1">请抓紧时间免费索取</td>
              </tr>
              <tr> 
                <td width="55%" height="40" align="center" valign="top" bgcolor="#FF9900" class="font1">价值216元</td>
                <td width="45%" rowspan="2" valign="top" bgcolor="#FF9900" class="font1"><img src="6images/images.gif" width="266" height="266"></td>
              </tr>
              <tr bgcolor="#FF9900"> 
                <td height="150" bgcolor="#FFFFFF" class="font3"><strong><font color="#FFFFFF">　　</font><font color="#990000" face="幼圆">商业数据定制</font></strong>是我公司将商业数据产品进一步细分与提供个性化服务的重要组成部分，通过商业数据定制以满足不同客户群的专业要求<br>
                  <font color="#FFFFFF">　　</font><font color="#990000" face="幼圆"><strong>商业数据定制分为</strong></font>：常规定制和特殊定制两部分。其中：</td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="20%" height="46" align="center" bgcolor="#990000" class="font3"><font color="#FFFFFF"><strong>常规定制</strong></font></td>
                      <td width="2%" bgcolor="#E6E6E6" class="font3">&nbsp;</td>
                      <td width="78%" bgcolor="#E6E6E6" class="font3">可以从已有行业库、地区库或特色库中选择您所需要的数据产品或其组合而成的新商业数据库；</td>
                    </tr>
                  </table></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                      <td> 　　可以从已有行业库、地区库或特色库中选择您所需要的数据产品或其组合而成的新商业数据库；可以从已有行业库、地区库或特色库中选择您所需要的数据产品或其组合而成的新商业数据库；</td>
                    </tr>
                  </table></td>
              </tr>
              <tr> 
                <td colspan="2" valign="top" bgcolor="#FFFFFF" class="font2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="20%" height="46" align="center" bgcolor="#990000" class="font3"><font color="#FFFFFF"><strong>特殊定制</strong></font></td>
                      <td width="2%" bgcolor="#E6E6E6" class="font3">&nbsp;</td>
                      <td width="78%" bgcolor="#E6E6E6" class="font3">从数据库字典中选择所需的内容，再加上时间范围、行业等条件限制，最后形成所需要的商业数据库;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#FFFFFF" class="font2"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr> 
                      <td> 　　从数据库字典中选择所需的内容（如产品名称、产品功能、适用场所等），再加上时间范围、行业、区域等条件限制，利用国际互联网络进行信息搜寻，最后形成所需要的商业数据库，通过网络下载或光盘传送等方式进行交付。</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
