<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>曼萨妮莎3折封顶，用温暖守护你的美丽</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312"></HEAD>
<BODY>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table cellspacing=0 cellpadding=0 width=650 align=center bgcolor=#ffffff 
      border=0>
  <tbody> 
  <tr> 
    <td align=left rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS9pbmRleC5odG1sP2FkdnNyYz0yMDE1OQ==&amp;email=#L@H" 
            target=_blank><img height=72 alt=开心淘开心 
            src="template167/kxtlogo.jpg" width=167 
border=0></a></td>
    <td style="FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 18px" 
          valign=center align=right height=26>如果无法看到完整的邮件，<a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL3dpbnRlcjEwMTIvaW5kZXguaHRtbD9hZHZzcmM9MjAxNTk=&amp;email=#L@H" 
            target=_blank>请在我们的网站查看完整版本</a>　</td>
  </tr>
  <tr> 
    <td valign=top align=right><img height=25 alt="" 
            src="template167/topwenzi.jpg" width=435 
border=0></td>
  </tr>
  <tr> 
    <td 
          style="FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #fff; FONT-FAMILY: arial, helvetica, sans-serif" 
          align=middle bgcolor=#ee2571 colspan=2 height=28><a 
            style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS8/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>首页</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS9hY3RpdmUvYWN0aXZlLmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>精彩活动</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS9icmFuZC9pbmRleC5odG1sP2FkdnNyYz0yMDE1OQ==&amp;email=#L@H" 
            target=_blank>品牌专区</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS9hYm91dC9hYm91dF9reHRreC5odG1sP2FkdnNyYz0yMDE1OQ==&amp;email=#L@H" 
            target=_blank>关于我们</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS9nd2xjL2d3bGNfMV8xLmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新手引导</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vYmJzLmt4dGt4LmNvbS8/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>开心论坛</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vd3d3Lmt4dGt4LmNvbS9oZWxwL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>帮助中心</a> | <a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vZmxhc2gua3h0a3guY29tL0Jpbi9tYWluLmh0bWw/YWR2c3JjPTIwMTU5JmxvYWR0eXBlPTE=&amp;email=#L@H" 
            target=_blank>进入商城</a></td>
  </tr>
  </tbody>
</table>
<table id=__01 height=1788 cellspacing=0 cellpadding=0 width=651 
      align=center border=0>
  <tbody> 
  <tr> 
    <td colspan=9><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=307 alt="" src="template167/msns_01.jpg" 
            width=650></a></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=307 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td colspan=9><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=54 alt="" src="template167/msns_02.jpg" 
            width=650></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=54 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td valign=top colspan=3 rowspan=3><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=374 alt="" src="template167/msns_03.jpg" 
            width=171></a></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=175 alt="" src="template167/msns_04.jpg" 
            width=154></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=439 alt="" src="template167/msns_05.jpg" 
          width=5></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=175 alt="" src="template167/msns_06.jpg" 
            width=154></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=439 alt="" src="template167/msns_07.jpg" 
          width=5></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=175 alt="" src="template167/msns_08.jpg" 
            width=153></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=439 alt="" src="template167/msns_09.jpg" 
          width=8></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=175 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>系带金属扣真皮防水台高跟女靴</a> <br>
      <span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">49.4</span> 
      <span style="TEXT-DECORATION: line-through">2498</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>高筒女长靴马靴</a><br>
      <span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">369</span> 
      <span style="TEXT-DECORATION: line-through">1107</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=153 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新品水钻扣饰 豹纹高<br>
      跟女靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">260.7</span> 
      <span style="TEXT-DECORATION: line-through">869</span></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=43 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=178 alt="" src="template167/msns_13.jpg" 
            width=154></a></td>
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=178 alt="" src="template167/msns_14.jpg" 
            width=154></a></td>
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=178 alt="" src="template167/msns_15.jpg" 
            width=153></a></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=156 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td rowspan=2><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=65 alt="" src="template167/msns_16.jpg" 
          width=8></td>
    <td 
          style="FONT-SIZE: 12px; COLOR: #fff; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #434343; TEXT-ALIGN: center" 
          width=156 height=65 rowspan=2><a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款 英伦风牛皮 <br>
      复古女鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #f6ff00">209.4</span> 
      <span style="TEXT-DECORATION: line-through">698</span></td>
    <td rowspan=2><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=65 alt="" src="template167/msns_18.jpg" 
          width=7></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=22 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>牛皮兔毛高跟及裸靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">419.4</span> 
      <span style="TEXT-DECORATION: line-through">1398</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>绒面金属扣高跟反折裸靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">239.4</span> 
      <span style="TEXT-DECORATION: line-through">798</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=153 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>时尚兔毛胎牛皮尖头<br>
      高跟单鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">410.4</span> 
      <span style="TEXT-DECORATION: line-through">1368</span></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=43 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td colspan=9><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=59 alt="" src="template167/msns_22.jpg" 
            width=650></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=59 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td valign=top colspan=3 rowspan=3><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=374 alt="" src="template167/msns_23.jpg" 
            width=171></a></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="template167/msns_24.jpg" 
            width=154></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=439 alt="" src="template167/msns_25.jpg" 
          width=5></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="template167/msns_26.jpg" 
            width=154></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=439 alt="" src="template167/msns_27.jpg" 
          width=5></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="template167/msns_28.jpg" 
            width=153></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=439 alt="" src="template167/msns_29.jpg" 
          width=8></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>豹纹防水台夜店<br>
      高跟鞋女单鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">209.4</span> 
      <span style="TEXT-DECORATION: line-through">698</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>羊皮舒适高跟鞋高<br>
      帮鞋女单鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">419.4</span> 
      <span style="TEXT-DECORATION: line-through">1398</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=153 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>变换性感短靴、时尚<br>
      长靴两穿靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">629.4</span> 
      <span style="TEXT-DECORATION: line-through">2098</span></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=43 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=177 alt="" src="template167/msns_33.jpg" 
            width=154></a></td>
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=177 alt="" src="template167/msns_34.jpg" 
            width=154></a></td>
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=177 alt="" src="template167/msns_35.jpg" 
            width=153></a></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=155 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td rowspan=2><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=65 alt="" src="template167/msns_36.jpg" 
          width=8></td>
    <td 
          style="FONT-SIZE: 12px; COLOR: #fff; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #434343; TEXT-ALIGN: center" 
          width=156 height=65 rowspan=2><a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款时尚夜店真皮<br>
      超高跟单鞋</a><br>
      活动价：<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #f6ff00">299.4</span> 
      <span style="TEXT-DECORATION: line-through">998</span></td>
    <td rowspan=2><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=65 alt="" src="template167/msns_38.jpg" 
          width=7></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=22 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>磨砂牛皮流苏短靴内<br>
      增高女鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">260.4</span> 
      <span style="TEXT-DECORATION: line-through">898</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>时尚皮毛一体内增高<br>
      雪地靴短靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">238.4</span> 
      <span style="TEXT-DECORATION: line-through">998</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=153 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>韩国时尚绒面内增<br>
      高坡跟短靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">179.4</span> 
      <span style="TEXT-DECORATION: line-through">598</span></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=43 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td colspan=9><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=49 alt="" src="template167/msns_42.jpg" 
            width=650></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=49 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td valign=top colspan=3 rowspan=3><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=376 alt="" src="template167/msns_43.jpg" 
            width=171></a></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="template167/msns_44.jpg" 
            width=154></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=441 alt="" src="template167/msns_45.jpg" 
          width=5></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="template167/msns_46.jpg" 
            width=154></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=441 alt="" src="template167/msns_47.jpg" 
          width=5></td>
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="template167/msns_48.jpg" 
            width=153></a></td>
    <td rowspan=5><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=441 alt="" src="template167/msns_49.jpg" 
          width=8></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=176 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>欧美真皮鱼嘴内<br>
      高跟女凉鞋</a><br>
      <span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">329.4</span><span 
            style="TEXT-DECORATION: line-through">1098</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款羊皮鱼嘴内防水<br>
      台高跟鞋</a><br>
      <span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">419.4</span><span 
            style="TEXT-DECORATION: line-through">1398</span></td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=153 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款罗马铆钉真皮高<br>
      跟女凉鞋</a><br>
      <span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">359.4</span><span 
            style="TEXT-DECORATION: line-through">1198</span></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=43 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=179 alt="" src="template167/msns_53.jpg" 
            width=154></a></td>
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=179 alt="" src="template167/msns_54.jpg" 
            width=154></a></td>
    <td rowspan=2><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=179 alt="" src="template167/msns_55.jpg" 
            width=153></a></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=157 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td rowspan=2><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=65 alt="" src="template167/msns_56.jpg" 
          width=8></td>
    <td 
          style="FONT-SIZE: 12px; COLOR: #fff; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #434343; TEXT-ALIGN: center" 
          width=156 height=65 rowspan=2><a style="COLOR: #fff" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款时尚草编厚底<br>
      坡跟凉鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #f6ff00">209.4</span> 
      <span style="TEXT-DECORATION: line-through">698</span></td>
    <td rowspan=2><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=65 alt="" src="template167/msns_58.jpg" 
          width=7></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=22 alt="" src="" width=1></td>
  </tr>
  <tr> 
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款鱼嘴镂空中筒高<br>
      跟凉靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">389.4</span> 
      <span style="TEXT-DECORATION: line-through">1298</span> </td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=154 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>新款羊皮鱼嘴镂空高<br>
      跟女凉靴</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">329.4</span> 
      <span style="TEXT-DECORATION: line-through">1098</span> </td>
    <td 
          style="FONT-SIZE: 12px; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f7ca90; TEXT-ALIGN: center" 
          width=153 height=43><a style="COLOR: #000" 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank>夏季鱼嘴波点布坡跟<br>
      女凉鞋</a><br>
      活动价:<span 
            style="FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ed3709">209.4</span> 
      <span style="TEXT-DECORATION: line-through">698</span></td>
    <td><img 
            style="BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid" 
            height=43 alt="" src="" width=1></td>
  </tr>
  </tbody>
</table>
<table cellspacing=0 cellpadding=0 width=650 align=center bgcolor=#ffffff 
      border=0>
  <tbody> 
  <tr> 
    <td><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img height=350 
            src="template167/wodejs.jpg" width=650 
        border=0></a></td>
  </tr>
  <tr> 
    <td valign=center align=middle height=70><a 
            href="http://mail.edmbus.org/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMDI2bWFuc2EmZmxhZz0xMzE5NjEyNzU0JnVybD1odHRwOi8vaGQua3h0a3guY29tL21zbnMxMDIxL2luZGV4Lmh0bWw/YWR2c3JjPTIwMTU5&amp;email=#L@H" 
            target=_blank><img height=44 
            src="template167/gengduomore.jpg" width=190 
            border=0></a></td>
  </tr>
  </tbody>
</table>
<table cellspacing=0 cellpadding=0 width=650 align=center border=0>
  <tbody> 
  <tr> 
    <td 
          style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 20px; PADDING-TOP: 8px" 
          valign=center align=left> 
      <p>我们总是按照我们心目中的理想的完美形象去打扮自己，而实际中的我们肯定与理想化中的我们有一点出入，比如肤色太黑，体型偏胖，神情异常等等。而服装的各种款式的却能改变或者削弱我们的一些缺点，使我们达到或者接近我们心中的目标，给人以自信感。</p>
    </td>
  </tr>
  </tbody>
</table>
</BODY></HTML>
