<html><head>
<title> 外贸电商海外推广平台 中小型外贸企业的最佳选择
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
a:link {text-decoration: none;}
</style>

<p style="width:300px;color:#000;font-size:12px;line-height:24px;margin:0;">&nbsp;</p>
<table width="650" border="0" cellspacing="1" cellpadding="1" align="center">
  <tr>
    <td align="right" style="font-size:12px;line-height: 20px;">请把发件人邮箱加入白名单，以确保正常及时接收邮件。图片无法显示，<a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tLzIwMTEwODAyNS9lZG0tc2VuZC0yMDExMDgyNS8/bWVyY2hhbnQmYW1w&amp;email=##L@##H" ;utm_source="EDM&amp;utm_medium=eDM20110826EN&amp;utm_campaign=Email20110826&quot;" style="color: rgb(221, 75, 19);">请点击查看</a></td>
  </tr>
</table>
<table style="font-size: 12px; color: rgb(119, 119, 119); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none;" border="0" cellpadding="0" cellspacing="0" width="650" align="center">
  <tbody> 
  <tr> 
    <td>
      <table style="border-bottom: 1px solid rgb(221, 221, 221);" border="0" cellpadding="0" cellspacing="0" width="648">
        <tbody>
        <tr> 
          <td height="74" width="375"><a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50Lw==&amp;email=##L@##H" title="shopsimple.com" target="_blank"><img style="display: block; border: 0px none;" src="template186/Shopsimple.jpg" alt="shopsimple.com" name="edm_03" border="0" height="74" width="375"></a></td>
          <td style="padding-right: 10px; font-size: 12px; color: rgb(119, 119, 119);" align="right" height="74"><a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50Lw==&amp;email=##L@##H" target="_blank" style="color: rgb(119, 119, 119); text-decoration: none;">卖家首页</a> 
            | <a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50L2xvZ2luLmh0bWw/dXRtX3NvdXJjZT1FRE0mYW1w&amp;email=##L@##H" ;utm_medium="eDM20110826EN&amp;utm_campaign=Email20110826&quot;" target="_blank" style="color: rgb(119, 119, 119); text-decoration: none;">我的账户</a> 
            | <a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50L2hlbHAtY2VudGVyLmh0bWw=&amp;email=##L@##H" target="_blank" style="color: rgb(119, 119, 119); text-decoration: none;">帮助中心</a> 
            | <a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50L2NvbnRhY3QtdXMuaHRtbD91dG1fc291cmNlPUVETSZhbXA=&amp;email=##L@##H" ;utm_medium="eDM20110826EN&amp;utm_campaign=Email20110826&quot;" target="_blank" style="color: rgb(119, 119, 119); text-decoration: none;">联系我们</a> 
            <p>客服热线：0755-86008146</p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr> 
    <td><img src="template186/1.jpg" style="display: block; border: 0px none;" alt="" height="95" width="648"></td>
  </tr>
  <tr> 
    <td><img src="template186/2.jpg" style="display: block; border: 0px none;" alt="" height="115" width="648"></td>
  </tr>
  <tr> 
    <td><img src="template186/3.jpg" style="display: block; border: 0px none;" alt="" height="124" width="648"></td>
  </tr>
  <tr> 
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="648">
        <tbody>
        <tr> 
          <td><img src="template186/4.jpg" style="display: block; border: 0px none;" alt="" height="181" width="325"></td>
          <td><img src="template186/5.jpg" style="display: block; border: 0px none;" alt="" height="181" width="323"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr> 
    <td><img src="template186/6.jpg" style="display: block; border: 0px none;" alt="" height="42" width="648"></td>
  </tr>
  <tr> 
    <td><img src="template186/7.jpg" style="display: block; border: 0px none;" alt="" height="149" width="648"></td>
  </tr>
  <tr> 
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="648">
        <tbody>
        <tr> 
          <td><img src="template186/8.jpg" style="display: block; border: 0px none;" alt="" height="79" width="147"></td>
          <td><a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50L3JlaWdzdGVyLmh0bWw/dXRtX3NvdXJjZT1FRE0mYW1w&amp;email=##L@##H" ;utm_medium="eDM20110826EN&amp;utm_campaign=Email20110826&quot;" target="_blank"><img src="template186/9.jpg" style="display: block; border: 0px none;" alt="" border="0" height="79" width="149"></a></td>
          <td><img src="template186/10.jpg" style="display: block; border: 0px none;" alt="" height="79" width="62"></td>
          <td><a href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODgmZmxhZz0xMzE1NDYzNDE1JnVybD1odHRwOi8vd3d3LnNob3BzaW1wbGUuY29tL21lcmNoYW50L3Byb2R1Y3QtYW5kLXNlcnZpY2UvcGFja2FnZXByaWNlLmh0bWw/dXRtX3NvdXJjZT1FRE0mYW1w&amp;email=##L@##H" ;utm_medium="eDM20110826EN&amp;utm_campaign=Email20110826&quot;" target="_blank"><img src="template186/11.jpg" style="display: block; border: 0px none;" alt="" border="0" height="79" width="145"></a></td>
          <td><img src="template186/12.jpg" style="display: block; border: 0px none;" alt="" height="79" width="145"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr> 
    <td><img src="template186/13.jpg" style="display: block; border: 0px none;" alt="" height="87" width="648"></td>
  </tr>
  <tr> 
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="648">
        <tbody>
        <tr> 
          <td><img src="template186/14.jpg" style="display: block; border: 0px none;" alt="" height="266" width="281"></td>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="367">
              <tbody>
              <tr> 
                <td><img src="template186/16.jpg" style="display: block; border: 0px none;" alt="" height="81" width="367"></td>
              </tr>
              <tr> 
                <td><img src="template186/17.jpg" style="display: block; border: 0px none;" alt="" height="100" width="367"></td>
              </tr>
              <tr> 
                <td><img src="template186/19.jpg" style="display: block; border: 0px none;" alt="" height="85" width="367"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr> 
    <td><img src="template186/15.jpg" style="display: block; border: 0px none;" alt="" height="80" width="648"></td>
  </tr>
  <tr> 
    <td><img src="template186/18.jpg" style="display: block; border: 0px none;" alt="" height="44" width="648"></td>
  </tr>
  <tr> 
    <td><img src="template186/20.jpg" style="display: block; border: 0px none;" alt="" height="50" width="648"></td>
  </tr>
  <tr> 
    <td style="padding-bottom: 30px; border-bottom: 1px solid rgb(221, 221, 221);"><img src="template186/21.jpg" style="display: block; border: 0px none;" alt="" height="30" width="648"></td>
  </tr>
  <tr> 
    <td style="border-bottom: 4px solid rgb(96, 163, 17); font-size:12px;line-height: 20px; padding-left: 19px;" height="100">此邮件无需直接回复，如有任何问题请使用以下联系方式： 
      <br>
      联系电话：0755-86008146<br>
      电子邮箱：support@shopsimple.com</td>
  </tr>
  </tbody>
</table>
</body></html>