<html><head>
<title> {%%cou%%}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<link href="%7B%%cou%%%7D_files/style.css" type="text/css" rel="stylesheet">
</head>

<body><br>
<table border="0" cellpadding="0" cellspacing="0" width="602" align="center">
  <tbody>
  <tr>
    <td width="602">
      <div style="font-size:12px;" align="right">如果无法预览图片内容，<a style="color: rgb(255, 0, 0);" href="http://edm.yiyiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8wMzI5JmZsYWc9MTMzMjkyMzcwNSZ1cmw9aHR0cDovL3d3dy55aXlpdS5jb20veWoveWl5aXVlZG0yLmh0bQ==&amp;email=##L@##H">请点击此处</a></div>
    </td>
  </tr>
  <tr>
    <td style="color: red; font-size: 12px;" align="left">温馨提示：亿亿网只允许发布招标、求购、交易、拟建项目信息，不允许发布供应等信息。</td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
  <tbody>
  <tr>
    <td><img alt="" src="%7B%%cou%%%7D_files/spacer.htm" border="0" height="1" width="151"></td>
    <td><img alt="" src="%7B%%cou%%%7D_files/spacer.htm" border="0" height="1" width="37"></td>
    <td><img alt="" src="%7B%%cou%%%7D_files/spacer.htm" border="0" height="1" width="38"></td>
    <td><img alt="" src="%7B%%cou%%%7D_files/spacer.htm" border="0" height="1" width="374"></td>
    <td><img alt="" src="%7B%%cou%%%7D_files/spacer.htm" border="0" height="1" width="1"></td>
  </tr>
  <tr>
    <td colspan="3"><a href="http://edm.yiyiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8wMzI5JmZsYWc9MTMzMjkyMzcwNSZ1cmw9aHR0cDovL3d3dy55aXlpdS5jb20=&amp;email=##L@##H" target="_blank"><img id="n2_r1_c1" name="n2_r1_c1" alt="" src="template114/2_r1_c1.jpg" border="0" height="102" width="226"></a></td>
    <td><img id="n2_r1_c4" name="n2_r1_c4" alt="" src="template114/2_r1_c4.jpg" border="0" height="102" width="374"></td>
    <td><img alt="" src="template114/spacer.gif" border="0" height="102" width="1"></td>
  </tr>
  <tr>
    <td colspan="4"><img id="n2_r2_c1" name="n2_r2_c1" alt="" src="template114/2_r2_c1.jpg" border="0" height="61" width="600"></td>
    <td><img alt="" src="template114/spacer.gif" border="0" height="61" width="1"></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://edm.yiyiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8wMzI5JmZsYWc9MTMzMjkyMzcwNSZ1cmw9aHR0cDovL3d3dy55aXlpdS5jb20=&amp;email=##L@##H" target="_blank"><img id="n2_r3_c1" name="n2_r3_c1" alt="" src="template114/2_r3_c1.jpg" border="0" height="80" width="188"></a></td>
    <td colspan="2"><img id="n2_r3_c3" name="n2_r3_c3" alt="" src="template114/2_r3_c3.jpg" border="0" height="80" width="412"></td>
    <td><img alt="" src="template114/spacer.gif" border="0" height="80" width="1"></td>
  </tr>
  <tr>
    <td colspan="4"><img id="n2_r4_c1" name="n2_r4_c1" alt="" src="template114/2_r4_c1.jpg" border="0" height="307" width="600"></td>
    <td><img alt="" src="template114/spacer.gif" border="0" height="307" width="1"></td>
  </tr>
  <tr>
    <td><a href="http://edm.yiyiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8wMzI5JmZsYWc9MTMzMjkyMzcwNSZ1cmw9aHR0cDovL3d3dy55aXlpdS5jb20vZG93bmxvYWQuaHRtbA==&amp;email=##L@##H" target="_blank"><img id="n2_r5_c1" name="n2_r5_c1" alt="" src="template114/2_r5_c1.jpg" border="0" height="38" width="151"></a></td>
    <td colspan="3"><img id="n2_r5_c2" name="n2_r5_c2" alt="" src="template114/2_r5_c2.jpg" border="0" height="38" width="449"></td>
    <td><img alt="" src="template114/spacer.gif" border="0" height="38" width="1"></td>
  </tr>
  <tr>
    <td colspan="4"><img id="n2_r6_c1" name="n2_r6_c1" alt="" src="template114/2_r6_c1.jpg" border="0" height="262" width="600"></td>
    <td><img alt="" src="template114/spacer.gif" border="0" height="262" width="1"></td>
  </tr>
  </tbody>
</table>
<table width="600" align="center">
  <tbody>
  <tr>
    <td style="font-size: 12px;" align="center">皖ICP备 08002167号 亿亿招标网版权所有 客服电话：400-099-8070 
      QQ:1017324690 1518584772 </td>
  </tr>
  </tbody>
</table>
</body></html>