<html><head>
<title> 测试你的相亲必杀技 </title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
  <tbody> 
  <tr>
    <td style="background: url(&quot;template151/mainbg_1.jpg&quot;) repeat scroll 0% 0% transparent;" height="325" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody>
        <tr>
          <td align="right">&nbsp;</td>
        </tr>
        <tr>
          <td style="line-height: 20px; padding-right: 20px; height: 20px; font-size: 12px; text-decoration: none;" align="right">如果您的邮件不显示，<a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/N253dzBtRlpIRCpGQjhodGdRakNIc0dhTHh1UERleU02N2I5dWhBRzZ4dEhGTGp4RFAt&amp;email=##L@##H" target="_blank"><font style="color:#df1058;text-decoration:none;">请点击这里</font></a></td>
        </tr>
        <tr>
          <td valign="top"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/RjNJWU0tZ1VRUWxjbUVsZzFZU05jZVpoUC1SQXpOblJCQ0lXWDFqekhPSks4ckdzT2lZSXNDN25jcg==&amp;email=##L@##H" target="_blank"><img style="border-width: 0px; border-style: none; border-color: -moz-use-text-color;" src="template151/space.gif" height="145" width="600"></a></td>
        </tr>
        <tr>
          <td valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="400" align="right">
              <tbody>
              <tr>
                <td><a style="line-height: 1.5; font-family: '微软雅黑','黑体'; color: rgb(255, 255, 255); font-size: 14px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/aUFUeDM3ZW52KnJDdzlKa25Tc3hBaUZ4QzI3SXRycWp5Q0ZDZEdvWThLaVAzdjVlbE91UTE5ZDBnNi11ZzlQUVRRYmJtMi1pRFd2LWhYNHMxUS4u&amp;email=##L@##H" target="_blank">据说结婚就像考试，本来是各自写各自的卷子，但一旦有人开始交卷的时候，难免心里会紧张一下。交卷的人越多就越着急，最后自己也就草草地交了。。。现在的你是处于着急的状态吗? 
                  相亲道路上各样的人，你该怎么对付？</a></td>
                <td width="45">&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="background: url(&quot;template151/mainbg_2.jpg&quot;) repeat scroll 0% 0% transparent;" height="273" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td style="padding: 109px 0px 0px 70px;" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
              <tr>
                <td>
                  <p style="text-align:left;padding-bottom:0px;margin:0px;padding-left:0px;padding-right:0px;padding-top:0px;"><a style="color: rgb(255, 255, 255); font-size: 12px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/VGhWWVNlRzQ1VVZjQVZlUlBlVy15eldOeHV6WDg3d2htOUZCWHhia2h3UmlQd2tuc0hMeXhieEd4Y3BhT3BTajVoZEhBc09iLVRVRE8tdm9XbGdrWXcuLg==&amp;email=##L@##H" target="_blank">交友活动</a></p>
                  <p style="text-align:left;padding-bottom:0px;line-height:18px;margin:0px;padding-left:0px;padding-right:0px;height:18px;padding-top:0px;"><a style="color: rgb(255, 255, 255); font-size: 12px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/TXA5am0xdmo3TW5DY05Gd3NERUZTTFRSTDdWWTZ0ODh1bHZXRWJIbm41WlJsN2NNRypFdkJLMHpiQ0pPVWdibEFRNkNqbjc0MUlxcDRJM2kzaE5sMUJzRjA1Wlc=&amp;email=##L@##H" target="_blank">在爱情的道路上，你遇到了哪些问题？</a></p>
                  <p style="text-align:left;padding-bottom:0px;line-height:20px;margin:0px;padding-left:0px;padding-right:0px;padding-top:0px;"><a style="color: rgb(255, 255, 255); font-size: 12px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/UTMtdGtDQjg5MUsqb0d0bmV6SVkqWGxFMVJzd2hHV29xTzV3RzZNZzU3R2FoaUdMMXBHWTFPYWI0NEg0ODd1OVhTUUJ6NEtDR2h2NEt6YWxXcXBFc0w4Lg==&amp;email=##L@##H" target="_blank">寻找你心中的Mr.right</a></p>
                  <p style="text-align:left;padding-bottom:0px;line-height:18px;margin:0px;padding-left:0px;padding-right:0px;height:18px;padding-top:0px;"><a style="color: rgb(255, 255, 255); font-size: 12px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/WGpHWXpidFc1VmNrT0U5OHVOTW9YUk5SdFliYWRUaU1TMUF5OE1HMkdZLTRod1hhZ2ROekllYnlYakF4bVFlaS1HNHFEdThCZ05ncVI2OWZkZy4u&amp;email=##L@##H" target="_blank">专业红娘一对一的帮你物色对象</a></p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="padding-top: 10px;" valign="top" width="280">
            <table border="0" cellpadding="0" cellspacing="0" width="92%">
              <tbody>
              <tr>
                <td><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/VEVvZnUtUDZKMTRtcHpLYkNyNzFzYWhUc2lYc21XQlV0aXFDd011bWlZOGZsUHdRVDB3LVVhNDRGSFA4Q2pWb1hGR040N2ViQzZtTCp6Rm1iZy4u&amp;email=##L@##H" target="_blank"><img style="border-width: 0px; border-style: none; border-color: -moz-use-text-color;" src="template151/space.gif" height="37" width="260"></a></td>
              </tr>
              <tr>
                <td style="padding-top: 5px;"><a style="line-height: 17px; color: rgb(0, 0, 0); font-size: 12px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/VEVvZnUtUDZKMTRtcHpLYkNyNzFzYWhUc2lYc21XQlV0aXFDd011bWlZOGZsUHdRVDB3LVVhNDRGSFA4Q2pWb1hGR040N2ViQzZtTCp6Rm1iZy4u&amp;email=##L@##H" target="_blank">当主动式遇上应付式，对方所表现出来的情况是不大愿意有进一步发展的，走个过场而已，但你又对人家有兴趣，可以以退为进，先从纯粹的朋友做起，让对方吃个定心丸...</a></td>
              </tr>
              <tr>
                <td align="right"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/VEVvZnUtUDZKMTRtcHpLYkNyNzFzYWhUc2lYc21XQlV0aXFDd011bWlZOGZsUHdRVDB3LVVhNDRGSFA4Q2pWb1hGR040N2ViQzZtTCp6Rm1iZy4u&amp;email=##L@##H" target="_blank"><font style="color:#df1058;font-size:12px;text-decoration:none;">了解更多》</font></a></td>
              </tr>
              <tr>
                <td style="padding-top: 15px;"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/WlNPVWhOUipMSXFkY3FSWEZxTC1nMlVZdzVqaU50RDBYZHMzUEVCbC11Q1JWbmQ1a1hTUGs3d0FoZFhKZm9jNUZmNEhweDJhTmlTMENGMmJrQS4u&amp;email=##L@##H" target="_blank"><img style="border-width: 0px; border-style: none; border-color: -moz-use-text-color;" src="template151/space.gif" height="32" width="260"></a></td>
              </tr>
              <tr>
                <td style="padding-top: 5px;"><a style="line-height: 17px; color: rgb(0, 0, 0); font-size: 12px; text-decoration: none;" href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/WlNPVWhOUipMSXFkY3FSWEZxTC1nMlVZdzVqaU50RDBYZHMzUEVCbC11Q1JWbmQ1a1hTUGs3d0FoZFhKZm9jNUZmNEhweDJhTmlTMENGMmJrQS4u&amp;email=##L@##H" target="_blank">其实，相亲最多的是平时不太爱说话的人。第一种可能是对方本来就这样，和谁都是不怎么说话的，第二种是他和朋友很多话讲，但和陌生人讲话便会紧张。达人建议...</a></td>
              </tr>
              <tr>
                <td align="right"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/WlNPVWhOUipMSXFkY3FSWEZxTC1nMlVZdzVqaU50RDBYZHMzUEVCbC11Q1JWbmQ1a1hTUGs3d0FoZFhKZm9jNUZmNEhweDJhTmlTMENGMmJrQS4u&amp;email=##L@##H" target="_blank"><font style="color:#df1058;font-size:12px;text-decoration:none;">了解更多》</font></a></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="background: url(&quot;template151/mainbg_3.jpg&quot;) repeat scroll 0% 0% transparent;" height="326" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td style="padding: 60px 0px 0px;" valign="top" width="50%">
            <table border="0" cellpadding="0" cellspacing="0" width="90%">
              <tbody>
              <tr>
                <td rowspan="2" valign="top" width="135">
                  <div style="padding-left:20px;"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/ZFVIbll6S3NDS1oqZTFSYXY5YW5qSFZBVGs0cTUxbFpqWHZYTVVIV3B4R05URXV0eWZyeEQ3aS1qYVF1Y01yTU9sWW1ZWlNKSkJLU29seXNmZy4u&amp;email=##L@##H" target="_blank"><img style="border-width: 0px; border-style: none; border-color: -moz-use-text-color;" src="template151/space.gif" height="120" width="92"></a></div>
                </td>
                <td style="line-height: 16px; font-size: 12px;">身高：182cm<br>
                  学历：硕士<br>
                  年龄：28<br>
                  住房：已购住房<br>
                  居住城市：北京</td>
              </tr>
              <tr>
                <td style="line-height: 16px; color: rgb(255, 255, 255); font-size: 12px; padding-top: 15px;">内心独白：我想找一个只属于我的沈佳直。我做一个只属于你的柯景腾。待我们坐着摇椅一起慢慢变老的时候，再一起回忆那些年我追过的你。</td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="padding-top: 60px;" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="82%">
              <tbody>
              <tr>
                <td rowspan="2" valign="top" width="110"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/RHpwYmlpMkxVaVc3ZmJFeVlHYy1KeFZtODlCWjNZRmJPZ0NKTDhkc3RJTXF2TDFJZC1sUFBJcTlLTjJndU1xaXFHYkZESi1xODNRajIzMXp1dy4u&amp;email=##L@##H" target="_blank"><img style="border-width: 0px; border-style: none; border-color: -moz-use-text-color;" src="template151/space.gif" height="120" width="92"></a></td>
                <td style="line-height: 16px; font-size: 12px;">身高：168cm<br>
                  学历：本科<br>
                  年龄：23<br>
                  住房：与父母同住<br>
                  居住城市：北京</td>
              </tr>
              <tr>
                <td style="line-height: 16px; color: rgb(255, 255, 255); font-size: 12px; padding-top: 15px;" valign="top">内心独白：我要嫁的不是王子，而是要把我当公主的人。</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td style="padding: 20px 40px 0px 0px;" valign="top" align="right"><a href="http://edm.yobai.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9yZW5yZW4yXzQxJmZsYWc9MTMzNDAyNjMwMCZ1cmw9aHR0cDovL3d3dy5qaWF5dWFuLmNvbS9zdC92Mi5waHA/RHpwYmlpMkxVaVc3ZmJFeVlHYy1KeFZtODlCWjNZRmJPZ0NKTDhkc3RJTXF2TDFJZC1sUFBJcTlLTjJndU1xaXFHYkZESi1xODNRajIzMXp1dy4u&amp;email=##L@##H" target="_blank"><font style="color:#df1058;font-size:12px;text-decoration:none;">了解更多》</font></a></td>
        </tr>
        <tr>
          <td style="line-height: 30px; height: 30px; font-size: 12px;" colspan="2" valign="top" align="center">纳斯达克上市企业 
            股票代码（DATE）</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body></html>