<html xmlns="http://www.w3.org/1999/xhtml"><head>
 <meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head><body>
<div id="newRead">
<div>
<div class="rmCnt" style="padding: 10px; font-family: ''; height: 300px;
 size: 14px;">
<center>
<div style="padding: 5px; font-size: 9pt; width: 100%; color: rgb(82, 
82, 82);">若您无法正常浏览此邮件，请点<a 
href="http://esuarmiw6.vtltqk.laboye.cn/101/view.php" target="_blank">[阅
读]</a>。 若您想将此邮件推荐给您的朋友,请转发给你的朋友。 </div>
</center>
<p></p>
<center>
<table id="__01" width="608" border="0" cellpadding="0" cellspacing="0" 
height="625">
  <tbody>

  <tr>
    <td><img alt="" src="template96/1.gif" width="347" border="0"
 height="295"></td>
    <td colspan="2"><img alt="" src="template96/2.gif" 
width="261" border="0" height="295"></td>
  </tr>
  <tr>
    <td><img alt="" src="template96/3.gif" width="347" border="0"
 height="300"></td>
    <td><img alt="" src="template96/4.gif" width="250" border="0"
 height="300"></td>
    <td rowspan="2"><img alt="" src="template96/5.gif" width="11"
 border="0" height="330"></td>
  </tr>

  <tr>
    <td colspan="2"><img alt="" src="template96/6.gif" 
width="597" border="0" height="30"></td>
  </tr></tbody></table><br></center>
<center>
<div style="padding: 5px; font-size: 9pt; width: 100%; color: rgb(82, 
82, 82);">若您不希望再次收到此类邮件，请点 
<a href="http://djcbma27r.q4ed51.621200.cn/101/unsub.php" 
target="_blank">[退订]</a>。 若此邮件对您造成滋扰，可点此 <a 
href="http://cdsvovb1e.gj3vbo.jiubatai.cn/101/abuse.php" target="_blank">[投
诉]</a>。 感谢您的支持! 
</div>
</center><br><br></div></div></div>

</body></html>