<html><head>
<title> 批发好货源周刊——“笋货”第一期
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
  <tbody>
  <tr> 
    <td>
      <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr> 
          <td style="text-align: right; padding-right: 8px; background: none repeat scroll 0% 0% rgb(246, 246, 246); height: 23px; font-size: 12px; padding-top: 3px;" colspan="2"><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5L21haWwvbWFpbC1pbmRleC5odG1s&amp;email=##L@##H" target="_blank">如果无法浏览此邮件，请点击“这里”查看</a></td>
        </tr>
        </tbody>
      </table>
      <table width="600">
        <tbody>
        <tr> 
          <td style="vertical-align: bottom;" width="350"> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank"> 
            <img src="template177/100801yo5lziyst1544l44.jpg" title="衣联网" border="0"> 
            </a> </td>
          <td width="240" align="right"> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H"> 
            <img src="template177/144541bbqh4dqbufdrazzf.jpg" border="0"> 
            </a> <img src="template177/144540272h2va897722zfg.jpg"> 
          </td>
        </tr>
        </tbody> 
      </table>
      <div style="width: 600px; height: 35px; margin: 0pt auto; padding: 0pt; border: 0pt none; overflow: hidden; font-size: 14px;" 宋体="" ;="" font-weight:bold;="" background-color:#c00000;="" color:#fff;="" text-align:center;="" line-height:1em;="">
        <table width="600" background="template177/1500130yiq2mqhcgqy22k5.gif" border="0" cellpadding="0" cellspacing="0" height="35" align="center">
          <tbody>
          <tr class="navClass" align="center"> 
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">首页</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL3NlYXJjaC1jYXRlZ29yeS0yODkuaHRtbA==&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">女装</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL3NlYXJjaC1jYXRlZ29yeS0yOTIuaHRtbA==&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">男装</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTE=&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">实体货源</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTM=&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">网络货源</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTI=&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">工厂货源</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTQ=&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">品牌货源</font></a></td>
            <td><img src="template177/1500138a3mm998z9mbmqod.gif" width="3" border="0" height="35"></td>
            <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTU=&amp;email=##L@##H" target="_blank" style="text-decoration: none;"><font color="#ffffff">外贸尾货</font></a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tbody> 
        <tr>
          <td> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIxMi8=&amp;email=##L@##H" target="_blank"> 
            <img src="template177/144540v0pjhwpfvyiuijkt.jpg" border="0"> 
            </a> </td>
        </tr>
        </tbody> 
      </table>
      <table width="600" bgcolor="#e71f19" border="0" cellpadding="0" cellspacing="0" height="32">
        <tbody> 
        <tr>
          <td width="16"> <br>
          </td>
          <td width="498"> <img src="template177/143535kyc7cm2ctcdmkuck.jpg"> 
          </td>
          <td width="60"> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIxMi8=&amp;email=##L@##H"> 
            <img src="template177/1435351c1d91dd1hd6q0h1.jpg" border="0"> 
            </a> </td>
        </tr>
        </tbody> 
      </table>
      <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tbody> 
        <tr height="5"> 
          <td width="203"> <br>
          </td>
          <td width="203"> <br>
          </td>
          <td width="194"> <br>
          </td>
        </tr>
        <tr> 
          <td> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9MzM1NTI0&amp;email=##L@##H" target="_blank"> 
            <img src="template177/144726eope9t3fj9c2xe9e.jpg" border="0"> 
            </a> </td>
          <td> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9Mzc4Njk4&amp;email=##L@##H" target="_blank"> 
            <img src="template177/144726h091hlz3ic3t33li.jpg" border="0"> 
            </a> </td>
          <td> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9NDczMDk5&amp;email=##L@##H" target="_blank"> 
            <img src="template177/144726wqa4f9wvfvfryq7f.jpg" border="0"> 
            </a> </td>
        </tr>
        <tr> 
          <td style="font-size: 12px;"> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9MzM1NTI0&amp;email=##L@##H" target="_blank">韩版时尚秋冬羊绒打底衫</a>&nbsp; 
            <img src="template177/143535qkj9hnqj5l59l7h5.jpg" border="0" align="absbottom"> 
          </td>
          <td style="font-size: 12px;"> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9Mzc4Njk4&amp;email=##L@##H" target="_blank">内加绒保暖长袖拉链皮衣外套</a>&nbsp; 
            <img src="template177/143535qkj9hnqj5l59l7h5.jpg" border="0" align="absbottom"> 
          </td>
          <td style="font-size: 12px;"> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9NDczMDk5&amp;email=##L@##H" target="_blank">简洁干练短款棉衣外套</a>&nbsp; 
            <img src="template177/143535cr363eddc3ccr3ec.jpg" border="0" align="absbottom"> 
          </td>
        </tr>
        <tr style="color: rgb(183, 0, 49);" height="18"> 
          <td>￥<span style="font-family:tahoma;">9.00</span> </td>
          <td>￥<span style="font-family:tahoma;">54.00</span> </td>
          <td>￥<span style="font-family:tahoma;">30.00</span> </td>
        </tr>
        <tr height="10"> </tr>
        </tbody> 
      </table>
      <table width="600" bgcolor="#197ae7" border="0" cellpadding="0" cellspacing="0" height="32">
        <tbody> 
        <tr>
          <td width="16"> <br>
          </td>
          <td width="498"> <img src="template177/143535neu4lysjurn7oc5u.jpg"> 
          </td>
          <td width="60"><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H"><img src="template177/143534949499xiaaaueata.jpg" border="0"></a> 
          </td>
        </tr>
        </tbody> 
      </table>
      <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tbody> 
        <tr height="5"> 
          <td width="203"> <br>
          </td>
          <td width="203"> <br>
          </td>
          <td width="194"> <br>
          </td>
        </tr>
        <tr> 
          <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly9xaWdlZ2UuZWVsbHkuY29tL2dvb2RzLTQ2MDgxNy5odG1s&amp;email=##L@##H"><img src="template177/122031vyi1zo7iqn1qny6q.jpg" border="0"></a></td>
          <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly96aGljb25neGkuZWVsbHkuY29tL2dvb2RzLTQ0NDcyNC5odG1s&amp;email=##L@##H"><img src="template177/1226448bfblhm2zcezryiz.jpg" border="0"></a></td>
          <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly9xbHp3LmVlbGx5LmNvbS9nb29kcy00ODc2NDAuaHRtbA==&amp;email=##L@##H"><img src="template177/122645g8efyfjunyfe95v9.jpg" border="0"></a></td>
        </tr>
        <tr> 
          <td style="font-size: 12px;">反面皮内里仿真毛外套&nbsp; <img src="template177/143534a7hz7uqu356p0qa7.jpg" border="0" align="absbottom"> 
          </td>
          <td style="font-size: 12px;">厂家直销日韩女装羊羔毛棉衣&nbsp; <img src="template177/143534a7hz7uqu356p0qa7.jpg" border="0" align="absbottom"> 
          </td>
          <td style="font-size: 12px;">时尚字母装饰针织衫&nbsp; <img src="template177/143534qmj1r3ihggiz9shm.jpg" border="0" align="absbottom"> 
          </td>
        </tr>
        <tr style="color: rgb(183, 0, 49);" height="18"> 
          <td>￥<span style="font-family:tahoma;">89.00</span> </td>
          <td>￥<span style="font-family:tahoma;">69.00</span> </td>
          <td>￥<span style="font-family:tahoma;">57.00</span> </td>
        </tr>
        <tr height="15"> </tr>
        </tbody> 
      </table>
      <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tbody> 
        <tr>
          <td> <a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIxMl8yLw==&amp;email=##L@##H" target="_blank"> 
            <img src="template177/144540i9fib6blf6vnib6b.jpg" border="0"> 
            </a> </td>
        </tr>
        </tbody> 
      </table>
      <table style="margin-top: 3px; margin-bottom: 3px; font-family: 宋体; font-size: 12px;" width="600" cellpadding="0" cellspacing="0">
        <tbody> 
        <tr> 
          <td style="text-align: left; padding-bottom: 5px; line-height: 24px; padding-left: 30px; background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(102, 102, 102); padding-top: 10px;"> 
            <strong style="color:#333333;">请不要直接回复此邮件，您可以通过点击以下链接了解常见问题。</strong> 
            <br>
            <span style="color:#b70031;">*</span>商品价格或促销内容如有调整，以衣联网站最终页面为准。<br>
            <span style="color:#b70031;">*</span>如您不希望再次收到我们的邮件，请随时<a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly9lZG0ubGFyZWRvdXRlLmNuL3N1YnNjcmliZS5waHA/bGlzdF9uYW1lPXBhdWxtdXNlcl9saXN0Jmxpc3RfcmVxdWVzdD11bnN1YnNjcmliZSZlbWFpbD0jI0xAIyNI&amp;email=##L@##H">点击这里</a>取消订阅。<br>
            <span style="color:#b70031;">*</span>其它任何问题欢迎您邮件或致电衣联网客服：400-6688-038。<br>
            <span style="color:#b70031;">*</span>如有问题也请访问<a style="color: rgb(183, 0, 49); text-decoration: none;" href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdHpxMSZmbGFnPTEzMjUwNDIyNDMmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9aGVscA==&amp;email=##L@##H" target="_blank">帮助中心</a>。 
          </td>
        </tr>
        <tr> 
          <td style="font-size: 12px; color: rgb(102, 102, 102); text-align: center; padding: 5px 0pt 5px 3px;">Copyright 
            广州市衣联网络科技有限公司版权所有&nbsp;&nbsp; 粤B2-20070339</td>
        </tr>
        <tr> 
          <td style="text-align: center; padding-left: 5px; background: none repeat scroll 0% 0% rgb(246, 246, 246);" height="20">&nbsp;</td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  </tbody> 
</table>
</body></html>