<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>暖通空调E周刊第111期</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
</HEAD>
<BODY><BR>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table style="FONT-SIZE: 12px" cellspacing=0 cellpadding=0 width=700 
      align=center bgcolor=#8cb42a border=0>
  <tbody> 
  <tr> 
    <td style="BACKGROUND: #8cb42a; COLOR: #ffffff" height=30>　<a 
            style="COLOR: #fff" 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL3dlZWtseS8yMDExLTEwLTIxLmh0bWw=&amp;email=#L@H" 
            target=_blank>如果您不能正常看到以下内容，请访问http://topic.ehvacr.com/weekly/2011-10-21.html</a> 
      　　　2011-10-24 星期一</td>
  </tr>
  <tr> 
    <td 
          style="BACKGROUND: url(template175/top_bg1.gif) repeat-x" 
          valign=bottom height=114> 
      <table style="FONT-SIZE: 12px" height=47 width="98%" border=0>
        <tbody> 
        <tr> 
          <td width="4%">&nbsp;</td>
          <td align=left width="24%"><b>暖通空调E周刊第111期</b></td>
          <td align=left width="72%"><a 
                  style="COLOR: #111; TEXT-DECORATION: none" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL3dlZWtseS8=&amp;email=#L@H" 
                  target=_blank>全部周刊</a>　|　<a 
                  style="COLOR: #111; TEXT-DECORATION: none" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly93d3cuZWh2YWNyLmNvbS91c2VyL2luZGV4LnBocA==&amp;email=#L@H" 
                  target=_blank>会员登录</a>　|　<a 
                  style="COLOR: #111; TEXT-DECORATION: none" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly93d3cuZWh2YWNyLmNvbS9hYm91dC9mZWVkYmFjay5odG1s&amp;email=#L@H" 
                  target=_blank>建议反馈</a>　|　<a 
                  style="COLOR: #111; TEXT-DECORATION: none" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly93d3cuZWh2YWNyLmNvbS8=&amp;email=#L@H" 
                  target=_blank>网站首页</a> | 
            <!-- 开始退订代码 -->
            <a 
                  style="COLOR: #111; TEXT-DECORATION: none" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9lZG0uZWh2YWNyLmNvbS9zdWJzY3JpYmUucGhwP2xpc3RfbmFtZT1yb290X2xpc3QmYW1w&amp;email=#L@H" 
                  ;list_request='unsubscribe&amp;email=##L@##H"'>取消订阅</a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table style="MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px" cellspacing=0 
      cellpadding=0 width=700 align=center border=0>
  <tbody> 
  <tr> 
    <td><a 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTF0eW5ycy8=&amp;email=#L@H" 
            target=_blank><img height=60 src="template175/diaoyan.gif" 
            width=700 border=0></a></td>
  </tr>
  </tbody>
</table>
<table style="FONT-SIZE: 12px; LINE-HEIGHT: 22px" cellspacing=0 
      cellpadding=0 width=700 align=center border=0>
  <tbody> 
  <tr> 
    <td valign=top> 
      <table style="FONT-SIZE: 12px" cellspacing=1 cellpadding=0 
            width="98%" bgcolor=#e7e7e7 border=0>
        <tbody> 
        <tr> 
          <td width=150 height=28><span 
                  style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(template175/aarow.gif) no-repeat 0px center; MARGIN-LEFT: 15px; COLOR: #333333">主编推荐</span></td>
          <td align=right width=204>主编邮箱：<a 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPW1haW" 
                  target=_blank 
                  @qq.com?>hitouch123@163.com </a>&nbsp;</td>
        </tr>
        <tr> 
          <td 
                style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-TOP: 5px" 
                valign=top bgcolor=#ffffff colspan=2> 
            <p style="TEXT-ALIGN: center"><strong><a 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tLzIwMTFjYXIvaW5kZXguaHRtbA==&amp;email=#L@H" 
                  target=_blank>2011中国制冷学会年会将视频直播</a></strong></p>
            <p>　　走中国创造之路！是本届年会的主题。学会年会自2005年开始以此主题作为每次年会的主题，将其全国会员技术交流会定为每两年一届的行业会议，今年10月23-26日在南京召开的，将是第四届中国制冷学会年会。本届年会共24场报告，内容丰富，涉及行业学术最前端相关技术的交流。暖通空调在线将对大会主场进行视频直播。欢迎届时观看，与现场主讲人互动。</p>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px" cellspacing=0 
            cellpadding=0 width="98%" border=0>
        <tbody> 
        <tr> 
          <td></td>
        </tr>
        </tbody>
      </table>
      <table style="FONT-SIZE: 12px" cellspacing=1 cellpadding=0 
            width="98%" bgcolor=#e7e7e7 border=0>
        <tbody> 
        <tr> 
          <td 
                style="BACKGROUND: #e7e7e7; WIDTH: 350px; LINE-HEIGHT: 28px; HEIGHT: 28px"><span 
                  style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(template175/aarow.gif) no-repeat 0px center; MARGIN-LEFT: 15px; COLOR: #333333">一周观察</span></td>
          <td 
                style="BACKGROUND: #e7e7e7; WIDTH: 50px; LINE-HEIGHT: 28px; HEIGHT: 28px"> 
            <div align=center><a style="FONT-WEIGHT: bold; COLOR: #be1c1d" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vb2JzZXJ2YXRpb25zLw==&amp;email=#L@H" 
                  target=_blank>更多</a></div>
          </td>
        </tr>
        <tr> 
          <td bgcolor=#ffffff colspan=2> 
            <table cellspacing=4 cellpadding=4 width="100%" align=center 
                  border=0>
              <tbody> 
              <tr> 
                <td style="FONT-SIZE: 12px; LINE-HEIGHT: 22px"> 
                  <p 
                        style="TEXT-ALIGN: center"><strong>第十二届西博会生态城市与绿色建筑高峰论坛召开</strong></p>
                  <p>　　2011年10月17日，第十二届中国西部国际博览会的重点活动之一，“生态城市与绿色建筑高峰论坛”在成都圆满召开。此次高峰论坛，标志着西博会引入“城市与建筑”话题的探讨与相关展示，成为2011年“西博会”的创新亮点，也将生态城市与绿色建筑这个热门话题带到了西部。</p>
                  <p>　　“十二五”西部大开发开局之年，西部的发展引人注目。世界发展看中国，中国发展看西部。“生态城市与绿色建筑高峰论坛”的召开，为西部未来发展的可持续科学发展，寻找适合西部地区条件的能源建设之路，生态城市与绿色建筑在西部的发展，开启了新的篇章。</p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table cellspacing=0 cellpadding=0 width="90%" border=0>
        <tbody> 
        <tr> 
          <td height=5></td>
        </tr>
        </tbody>
      </table>
      <table style="FONT-SIZE: 12px" cellspacing=1 cellpadding=0 
            width="98%" bgcolor=#e7e7e7 border=0>
        <tbody> 
        <tr> 
          <td 
                style="BACKGROUND: #e7e7e7; WIDTH: 350px; LINE-HEIGHT: 28px; HEIGHT: 28px"><span 
                  style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(template175/aarow.gif) no-repeat 0px center; MARGIN-LEFT: 15px; COLOR: #333333">资讯摘编</span></td>
          <td 
                style="BACKGROUND: #e7e7e7; WIDTH: 50px; LINE-HEIGHT: 28px; HEIGHT: 28px"><a 
                  style="FONT-WEIGHT: bold; COLOR: #be1c1d" 
                  href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20v&amp;email=#L@H" 
                  target=_blank>更多</a></td>
        </tr>
        <tr> 
          <td bgcolor=#ffffff colspan=2> 
            <table cellspacing=0 cellpadding=4 width="100%" border=0>
              <tbody> 
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vaW50ZXJuYXRpb25hbC8yMDExLzEwMjEvNzM5NzguaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b><strong>8月份北美制冷与空调设备销售数据</strong></b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">美国制冷空调供暖分销商协会（HARDI）公布了其8月份的统计数据。数据表明，8月份北美制冷空调供暖产品销售比去年同期增长了7.9%，比7月份增长了4.9%。...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vbmV3cy8yMDExLzEwMjEvNzQwMDMuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b><strong>生态城市绿色建筑项目列入“十二五”计划</strong></b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">，“生态城市绿色建筑关键技术集成研究与综合示范项目”日前被列入国家“十二五”科技支撑计划。该项目围绕绿色建筑“四节一环保”的核心理念，从城市可持续发展...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vaW50ZXJuYXRpb25hbC8yMDExLzEwMjAvNzM5NDkuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b>ASHRAE新的机房水冷系统分级标准</b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">美国制冷空调供暖工程师学会（ASHRAE）日前出台第一份针对供应商的热力学指南——新的机房水冷却系统白皮书...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vbmV3cy8yMDExLzEwMjEvNzM5ODEuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b><strong>邯郸市大力推广使用热泵等可再生能源利用</strong></b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">空气源热近日，河北省邯郸市节能减排领导小组办公室等四部门联合发出通知，决定大力推广使用空气源热泵热水器，加强可再生能源利用...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vbmV3cy8yMDExLzEwMjAvNzM5NDMuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b>合肥可再生能源建筑示范项目验收办法出台</b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">日前，《合肥市可再生能源建筑应用示范项目专项验收暂行办法》正式印发，对可再生能源建筑应用示范项目范围、申请验收条件、验收程序等，作出了明确规定。 
                  可再...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vaW50ZXJuYXRpb25hbC8yMDExLzEwMTkvNzM5MTQuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b>欧盟2050年能源路线大幅转向可再生能源</b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">欧盟委员会今年年底前将公布《2050年能源路线图》，作为其早些时候出炉的《欧盟2050年低碳经济路线图》的一个补充...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vbmV3cy8yMDExLzEwMTcvNzM4NTAuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b>区域能源发展论坛在成都召开</b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">2011年10月17日，借西博会的盛势，由中国建筑设计研究院主办的生态城市与绿色建筑高峰论坛之区域能源发展论坛将在成都娇子国际会议中心召开。 
                  ...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vbmV3cy8yMDExLzEwMTgvNzM4ODguaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b>广东东莞重点对大型公建进行节能改造</b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">根据实施方案，新建建筑要全部执行建筑节能强制性标准，实现设计、施工阶段建筑节能标准执行率100%...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              <tr> 
                <td width=12><img 
                      src="template175/edm_point.gif"></td>
                <td><a 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20vbmV3cy8yMDExLzEwMTcvNzM4NDIuaHRtbA==&amp;email=#L@H" 
                        target=_blank><font 
                        style="FONT-SIZE: 13px; COLOR: #339900; LINE-HEIGHT: 24px; TEXT-DECORATION: none"><b><strong>国家发改委发布天然气分布式能源发展指导意见</strong></b></font></a></td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td><span 
                        style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px">提出“2015年前完成天然气分布式能源主要装备研制；2020年在全国规模以上城市推广使用分布式能源系统，装机规模达到5000万千瓦”的目标...</span> 
                  <hr 
                        style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td valign=top width=290> 
      <table cellspacing=0 cellpadding=0 width="100%" border=0>
        <tbody> 
        <tr> 
          <td height=8> 
            <table style="FONT-SIZE: 12px" cellspacing=0 cellpadding=0 
                  width="100%" border=0>
              <tbody> 
              <tr style="BACKGROUND: #8cb42a"> 
                <td 
                      style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px" 
                      width=180>专题精选</td>
                <td 
                      style="PADDING-LEFT: 15px; WIDTH: 50px; TEXT-ALIGN: center" 
                      width=65><a style="COLOR: #ffffff" 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tLw==&amp;email=#L@H" 
                        target=_blank>更多</a></td>
              </tr>
              <tr> 
                <td 
                      style="BORDER-RIGHT: #8cb42a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8cb42a 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; BORDER-LEFT: #8cb42a 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #8cb42a 1px solid" 
                      colspan=2> 
                  <table style="FONT-SIZE: 12px; LINE-HEIGHT: 22px" 
                        cellspacing=2 cellpadding=0 width="100%" border=0>
                    <tbody> 
                    <tr> 
                      <td valign=center align=left width="100%"><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTFhbGZhbGF2YWwv&amp;email=#L@H" 
                              target=_blank><img 
                              style="MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 5px" 
                              height=97 
                              src="template175/1-1109291405580-L.gif" 
                              width=130 align=left border=0></a><strong><a 
                              style="FONT-WEIGHT: bold; COLOR: #be1c1d" 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTFhbGZhbGF2YWwv&amp;email=#L@H" 
                              target=_blank>阿法拉伐有奖知识问答</a></strong><br>
                        阿法拉伐有奖知识问答...[<a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTFhbGZhbGF2YWwv&amp;email=#L@H">访问专题</a>]</td>
                    </tr>
                    </tbody>
                  </table>
                  <table style="FONT-SIZE: 12px; LINE-HEIGHT: 22px" 
                        cellspacing=2 cellpadding=0 width="100%" border=0>
                    <tbody> 
                    <tr> 
                      <td valign=center align=left width="100%"><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTF0eW5ycw==&amp;email=#L@H" 
                              target=_blank><img 
                              style="MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 5px" 
                              height=97 src="template175/1_140139364.gif" 
                              width=130 align=left border=0></a><strong><a 
                              style="FONT-WEIGHT: bold; COLOR: #be1c1d" 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTF0eW5ycw==&amp;email=#L@H" 
                              target=_blank>太阳能热水系统强制安装政策调研问卷</a></strong><br>
                        本次调研由国际金属太阳能产业联盟（IMSIA）发起，旨在为相关政府主管部门，在推广可再生能源尤其是太阳能在建筑领域的应用，提供建设性建议。太阳能...[<a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL2FzazIwMTF0eW5ycw==&amp;email=#L@H">访问专题</a>]</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr> 
          <td height=8></td>
        </tr>
        <tr> 
          <td valign=top> 
            <table style="FONT-SIZE: 12px" cellspacing=0 cellpadding=0 
                  width="100%" align=center border=0>
              <tbody> 
              <tr style="BACKGROUND: #8cb42a"> 
                <td 
                      style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px" 
                      width=180>锐点博客</td>
                <td 
                      style="PADDING-LEFT: 15px; WIDTH: 50px; TEXT-ALIGN: center" 
                      width=65><a style="COLOR: #ffffff" 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9ibG9nLmVodmFjci5jb20v&amp;email=#L@H" 
                        target=_blank>更多</a></td>
              </tr>
              <tr> 
                <td 
                      style="BORDER-RIGHT: #8cb42a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8cb42a 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #8cb42a 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8cb42a 1px solid" 
                      valign=top colspan=2> 
                  <table style="FONT-SIZE: 12px; LINE-HEIGHT: 22px" 
                        cellspacing=3 cellpadding=0 width="100%" border=0>
                    <tbody> 
                    <tr> 
                      <td valign=top width="20%"><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9ibG9nLmVodmFjci5jb20vPzgxOTc1&amp;email=#L@H" 
                              target=_blank><img height=48 
                              src="template175/75_avatar_small.jpg" 
                              width=48 border=0><br>
                        wangwei4702724</a></td>
                      <td valign=center width="80%"><strong><a 
                              style="FONT-WEIGHT: bold; COLOR: #be1c1d" 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS9ibG9nLTgxOTc1LTI0OTAuaHRtbA==&amp;email=#L@H" 
                              target=_blank>多层建筑中庭防排烟系统设计<br>
                        </a></strong>摘 要：介绍了某多层建筑（商场）中庭防排烟系统的设...</td>
                    </tr>
                    <tr> 
                      <td valign=top width="20%"><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9ibG9nLmVodmFjci5jb20vPzc1OTE5&amp;email=#L@H" 
                              target=_blank><img height=48 
                              src="template175/19_avatar_small.gif" 
                              width=48 border=0><br>
                        如歌</a></td>
                      <td valign=center width="80%"><strong><a 
                              style="FONT-WEIGHT: bold; COLOR: #be1c1d" 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS9ibG9nLTc1OTE5LTI0ODcuaHRtbA==&amp;email=#L@H" 
                              target=_blank>暖通设计方面提醒 说给设计新人的话<br>
                        </a></strong>很多刚入行的人判断一个系统时，都从暖通专业的角度...</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <table cellspacing=0 cellpadding=0 width="90%" border=0>
              <tbody> 
              <tr> 
                <td height=10></td>
              </tr>
              </tbody>
            </table>
            <table style="FONT-SIZE: 12px" cellspacing=0 cellpadding=0 
                  width="100%" align=center border=0>
              <tbody> 
              <tr style="BACKGROUND: #8cb42a"> 
                <td 
                      style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px" 
                      width=180>论坛精华</td>
                <td 
                      style="PADDING-LEFT: 15px; WIDTH: 50px; TEXT-ALIGN: center" 
                      width=65><a style="COLOR: #ffffff" 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS8=&amp;email=#L@H" 
                        target=_blank>更多</a></td>
              </tr>
              <tr> 
                <td 
                      style="BORDER-RIGHT: #8cb42a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8cb42a 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #8cb42a 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8cb42a 1px solid" 
                      valign=top colspan=2> 
                  <table cellspacing=0 cellpadding=0 width="100%" 
border=0>
                    <tbody> 
                    <tr> 
                      <td><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS9mb3J1bS5waHA/bW9kPXZpZXd0aHJlYWQmYW1w&amp;email=#L@H" 
                              target=_blank 
                              ;tid='45319&amp;extra=page%3D1&amp;ordertype=2&amp;page=1"'><font 
                              style="FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 23px; TEXT-DECORATION: none">中央空调冷冻水定压问题探讨</font></a></td>
                    </tr>
                    <tr> 
                      <td><span 
                              style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 22px">网友“学暖通的”上传系统图，问“图中补水定压点A处的压力应该定为多少？是否为PA=HBA+5+ΔHBCDA（KPa）；另外阻力ΔHAE是否考虑？”该问题正进行探讨分析... 
                        <hr 
                              style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                        </span></td>
                    </tr>
                    <tr> 
                      <td><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUyNzMtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 23px; TEXT-DECORATION: none">资料共享：加压送风系统图块</font></a></td>
                    </tr>
                    <tr> 
                      <td><span 
                              style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 22px">因为有行业各路网友的添砖加瓦，论坛资料库日渐成长，为行业网友工作和学习提供最大方便和快捷，近日，网友“enyongh”提供加压送风系统图块，好评不断... 
                        <hr 
                              style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                        </span></td>
                    </tr>
                    <tr> 
                      <td><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUyOTUtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 23px; TEXT-DECORATION: none">封闭楼梯间送风问题</font></a></td>
                    </tr>
                    <tr> 
                      <td><span 
                              style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 22px">网友求助：“针对非高层建筑，不满足自然通风的封闭楼梯间需要做正压送风”，在线智囊团倾力相助... 
                        <hr 
                              style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                        </span></td>
                    </tr>
                    <tr> 
                      <td><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUwNTktMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 23px; TEXT-DECORATION: none">水泵并联以后的流量探讨与分析</font></a></td>
                    </tr>
                    <tr> 
                      <td><span 
                              style="FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 22px">该贴针对“两台一样的水泵并联以后的流量”问题展开投票，根据投票的答案引发了一系列相关问题的探讨，目前历时两周讨论已升温到了48页，引起了论坛网友的火热关注... 
                        <hr 
                              style="CLEAR: both; BORDER-RIGHT: #cccccc 1px dotted; BORDER-TOP: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 1px">
                        </span></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <table cellspacing=0 cellpadding=0 width="90%" border=0>
              <tbody> 
              <tr> 
                <td height=10></td>
              </tr>
              </tbody>
            </table>
            <table style="FONT-SIZE: 12px" cellspacing=0 cellpadding=0 
                  width="100%" align=center border=0>
              <tbody> 
              <tr style="BACKGROUND: #8cb42a"> 
                <td 
                      style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px" 
                      width=180>市场沙龙</td>
                <td 
                      style="PADDING-LEFT: 15px; WIDTH: 50px; TEXT-ALIGN: center" 
                      width=65><a style="COLOR: #ffffff" 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS9ncm91cC0xNzMtMS5odG1s&amp;email=#L@H" 
                        target=_blank>更多</a></td>
              </tr>
              <tr> 
                <td 
                      style="BORDER-RIGHT: #8cb42a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8cb42a 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #8cb42a 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8cb42a 1px solid" 
                      valign=top colspan=2> 
                  <table cellspacing=0 cellpadding=0 width="100%" 
border=0>
                    <tbody> 
                    <tr> 
                      <td valign=top width="90%"><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDU0MTgtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-SIZE: 12px; COLOR: #950400; LINE-HEIGHT: 22px; TEXT-DECORATION: none">如何写好市场开发计划书</font></a><br>
                        <a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUyNTItMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-SIZE: 12px; COLOR: #950400; LINE-HEIGHT: 22px; TEXT-DECORATION: none">谁谋杀了市场营销</font></a><br>
                        <a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUyNTEtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-SIZE: 12px; COLOR: #950400; LINE-HEIGHT: 22px; TEXT-DECORATION: none">淘宝商城变“伤”城，QQ商城忙“上”城</font></a><br>
                        <a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDQ4NDYtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><font 
                              style="FONT-SIZE: 12px; COLOR: #950400; LINE-HEIGHT: 22px; TEXT-DECORATION: none">美资品牌和日本品牌并购的点滴</font></a><br>
                      </td>
                      <td valign=center width="10%"><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS9ncm91cC0xNzMtMS5odG1s&amp;email=#L@H" 
                              target=_blank><img height=99 
                              src="template175/jiaru.gif" width=22 
                              border=0></a></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <table cellspacing=0 cellpadding=0 width="90%" border=0>
              <tbody> 
              <tr> 
                <td height=10></td>
              </tr>
              </tbody>
            </table>
            <table style="FONT-SIZE: 12px" cellspacing=0 cellpadding=0 
                  width="100%" align=center border=0>
              <tbody> 
              <tr style="BACKGROUND: #8cb42a"> 
                <td 
                      style="PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px" 
                      width=180>每周公告</td>
                <td 
                      style="PADDING-LEFT: 15px; WIDTH: 50px; TEXT-ALIGN: center" 
                      width=65><a style="COLOR: #ffffff" 
                        href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9uZXdzLmVodmFjci5jb20v&amp;email=#L@H" 
                        target=_blank>更多</a></td>
              </tr>
              <tr> 
                <td 
                      style="BORDER-RIGHT: #8cb42a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8cb42a 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #8cb42a 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8cb42a 1px solid" 
                      valign=top colspan=2> 
                  <table style="FONT-SIZE: 12px" cellspacing=0 
                        cellpadding=0 width="100%" border=0>
                    <tbody> 
                    <tr> 
                      <td valign=center width="96%"> 
                        <p>1、中国制冷学会年会将于2011年10月23-26日在南京举行。(<a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tLzIwMTFjYXIv&amp;email=#L@H" 
                              target=_blank><span 
                              style="COLOR: #ff0000"><strong>视频直播</strong></span></a>)</p>
                        <p>2、第9届艾默生杯空调与冷冻设计应用大赛颁奖仪式将于2011年10月24日在南京举行。(<a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9kaWdpdGFsc2Nyb2xsLmVodmFjci5jb20vMjAxMUVtZXJzb25DdXAvdmlkZW8v&amp;email=#L@H" 
                              target=_blank><span 
                              style="COLOR: #ff0000"><strong>视频直播</strong></span></a>)</p>
                        <p>3、暖通空调在线-阿法拉伐2011有奖知识问答第三周于2011年10月22日开始。（<span 
                              style="COLOR: #ff0000"><strong><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUwNDItMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><span 
                              style="COLOR: #ff0000">点击详情</span></a></strong></span>）</p>
                        <p>4、2011太阳能热水系统强制安装政策调研有奖问卷活动正在进行。（<span 
                              style="COLOR: #ff0000"><strong><a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUyNDgtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><span 
                              style="COLOR: #ff0000">点击详情</span></a></strong></span>）</p>
                        <p>5、天津市各高校、设计院羽毛球比赛开始报名。（<a 
                              href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9iYnMuZWh2YWNyLmNvbS90aHJlYWQtNDUyMDAtMS0xLmh0bWw=&amp;email=#L@H" 
                              target=_blank><span 
                              style="COLOR: #ff0000"><strong>点击详情</strong></span></a>）</p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px" cellspacing=0 
            cellpadding=0 width="100%" border=0>
        <tbody> 
        <tr> 
          <td height=10></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table style="FONT-SIZE: 12px; MARGIN: 0px auto" height=10 cellspacing=0 
      cellpadding=0 width=700 align=center border=0>
  <tbody> 
  <tr> 
    <td 
          style="BACKGROUND: #8cb42a; COLOR: #fff; HEIGHT: 25px; TEXT-ALIGN: center">暖通空调在线 
      版权所有 　<a style="COLOR: #ffffff" 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly93d3cuZWh2YWNyLmNvbS9hYm91dC9hYm91dC5odG1s&amp;email=#L@H" 
            target=_blank>关于我们</a>　|　 <a style="COLOR: #ffffff" 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly93d3cuZWh2YWNyLmNvbS9hYm91dC9jb250YWN0dXMuaHRtbA==&amp;email=#L@H" 
            target=_blank>联系方式</a>　|　 <a style="COLOR: #ffffff" 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly93d3cuZWh2YWNyLmNvbS9hYm91dC9sZWdhbG5vdGljZXMuaHRtbA==&amp;email=#L@H" 
            target=_blank>法律声明</a>　|　 <a style="COLOR: #ffffff" 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly9pbWcxLmVodmFjci5jb20vYWQwNjA2Lw==&amp;email=#L@H" 
            target=_blank>广告服务</a>　 |　 <a style="COLOR: #ffffff" 
            href="http://edm.ehvacr.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdCZmbGFnPTEzMTkzNzI5MTYmdXJsPWh0dHA6Ly90b3BpYy5laHZhY3IuY29tL3dlZWtseS8=&amp;email=#L@H" 
            target=_blank>订阅周刊</a></td>
  </tr>
  </tbody>
</table>
</BODY></HTML>
