<html><head>
<title> {%%name%%},你的泰坦尼克情人是谁?
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<link href="%7B%%name%%%7D,%E4%BD%A0%E7%9A%84%E6%B3%B0%E5%9D%A6%E5%B0%BC%E5%85%8B%E6%83%85%E4%BA%BA%E6%98%AF%E8%B0%81_files/style.css" type="text/css" rel="stylesheet">
</head>

<body><br>
<table border="0" cellpadding="0" cellspacing="0" width="800" align="center">
  <tbody> 
  <tr> 
    <td style="padding-right: 20px; background: url(&quot;http://images1.jyimg.com/w4/parties/2012/edm/titanic/i/edm_01.jpg&quot;) no-repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); font-size: 12px;" height="36" align="right">如果您的邮件不显示，请<a style="color: rgb(223, 16, 88);" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N1YmplY3QvMjAxMlEyL3RpdGFuaWMv&amp;email=##L@##H" target="_blank">点击这里</a></td>
  </tr>
  <tr> 
    <td><a href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank"><img alt="" src="%7B%%name%%%7D,%E4%BD%A0%E7%9A%84%E6%B3%B0%E5%9D%A6%E5%B0%BC%E5%85%8B%E6%83%85%E4%BA%BA%E6%98%AF%E8%B0%81_files/edm_02.jpg" border="0" height="301" width="800"></a></td>
  </tr>
  <tr> 
    <td style="line-height: 1.5; background: url(&quot;http://images1.jyimg.com/w4/parties/2012/edm/titanic/i/edm_04.jpg&quot;) no-repeat scroll 0% 0% transparent; font-size: 12px;" height="158" valign="top"> 
      <table style="margin: 67px 0px 0px 75px;" border="0" cellpadding="0" cellspacing="0" width="600">
        <tbody> 
        <tr> 
          <td><a style="color: rgb(0, 0, 0); text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">他不是王子般的高大帅气。她也没有公主般的美丽婀娜。<br>
            他们只是两个平凡的人在世纪佳缘相遇 相知 相恋了。09年，他们结婚了，在戴上婚戒的那一刻，<br>
            <font color="#6c3077">他看着她的眼睛：在世纪佳缘上遇上你，是我这辈子最幸运的事！</font></a></td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <tr> 
    <td style="background: url(&quot;http://images1.jyimg.com/w4/parties/2012/edm/titanic/i/edm_06.jpg&quot;) no-repeat scroll 0% 0% transparent;" height="382" valign="top"> 
      <table border="0" cellpadding="0" cellspacing="0" width="90%" align="center">
        <tbody> 
        <tr> 
          <td style="color: rgb(106, 106, 106); font-size: 12px;" height="30"><a style="color: rgb(102, 102, 102); text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank"><font color="#569695">成功故事相册</font>&nbsp;&nbsp;（共&nbsp;4&nbsp;张，点击小图，查看大图） 
            <font color="#569695">返回频道首页&gt;&gt;最新上传故事列表页&gt;&gt;</font>空间页</a></td>
        </tr>
        </tbody> 
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="90%" align="center">
        <tbody> 
        <tr> 
          <td><a href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank"><img src="%7B%%name%%%7D,%E4%BD%A0%E7%9A%84%E6%B3%B0%E5%9D%A6%E5%B0%BC%E5%85%8B%E6%83%85%E4%BA%BA%E6%98%AF%E8%B0%81_files/space.gif" border="0" height="340" width="530"></a></td>
          <td style="color: rgb(108, 48, 119); font-size: 12px; padding-top: 10px;" valign="top" width="200"> 
            <table border="0" cellpadding="0" cellspacing="0" width="90%">
              <tbody> 
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">阿修罗009</a></td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">30岁</a></td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">国外</a></td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">2006年06月注册世纪佳缘</a></td>
              </tr>
              <tr> 
                <td height="50">&nbsp;</td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">天使在我心中</a></td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">27岁</a></td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">上海</a></td>
              </tr>
              <tr> 
                <td style="border-bottom: 1px solid rgb(216, 216, 216);" height="20"><a style="color: rgb(108, 48, 119); font-size: 12px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">2006年01月注册世纪佳缘</a></td>
              </tr>
              <tr> 
                <td height="20"><a href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank"><img src="%7B%%name%%%7D,%E4%BD%A0%E7%9A%84%E6%B3%B0%E5%9D%A6%E5%B0%BC%E5%85%8B%E6%83%85%E4%BA%BA%E6%98%AF%E8%B0%81_files/space.gif" border="0" height="110" width="140"></a></td>
              </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <tr> 
    <td style="line-height: 1.5; background: url(&quot;http://images1.jyimg.com/w4/parties/2012/edm/titanic/i/edm_07.jpg&quot;) no-repeat scroll 0% 0% transparent; font-size: 12px;" height="175" valign="top"> 
      <table style="margin: 73px 0px 0px 75px;" border="0" cellpadding="0" cellspacing="0" width="600">
        <tbody> 
        <tr> 
          <td><a style="color: rgb(0, 0, 0); text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">上佳缘纯属巧合，有一次坐出租车偶尔听到了电台里在采访小龙女。抱着好奇的心理，我回家就注册了佳缘。从来没有指望虚拟的网络能给我带来爱情，从来不相信完全陌生的两个人可以通过网络走到一起。但这一切确确实实的发生了，而且就发上了在我身上。</a></td>
        </tr>
        </tbody> 
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody> 
        <tr> 
          <td style="padding-top: 20px;" align="right"><a style="color: rgb(0, 0, 0); text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">评论(14) 
            阅读(47845) 点击此处查看原文 &gt;&gt;</a></td>
          <td width="35">&nbsp;</td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <tr> 
    <td style="line-height: 1.8; background: url(&quot;http://images1.jyimg.com/w4/parties/2012/edm/titanic/i/edm_08.jpg&quot;) no-repeat scroll 0% 0% transparent; font-size: 12px;" height="231" valign="top"> 
      <table style="margin: 73px 0px 0px 75px;" border="0" cellpadding="0" cellspacing="0" width="600">
        <tbody> 
        <tr> 
          <td><a style="color: rgb(0, 0, 0); text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">一年前，我们在佳缘上相遇。那时：我在上海，伟在吉大。<br>
            两个月后，我们在上海相见。那时：摩天轮见证了我们爱情的开始。<br>
            三个月后，我在上海送你伟走出国门读博。那时：我们知道这是对我们爱情最大的考验。<br>
            一个月后，我从地球的这端飞到了另一端。那时：我们更加珍惜这短暂的相处，也更珍惜对方。<br>
            五个月后，我又一次飞到美国。这时：我们结婚了！彼…</a></td>
        </tr>
        </tbody> 
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody> 
        <tr> 
          <td style="padding-top: 23px;" align="right"><a style="color: rgb(0, 0, 0); text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank">评论(1) 
            阅读(28491680) 点击此处查看原文 &gt;&gt;</a></td>
          <td width="35">&nbsp;</td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <tr> 
    <td><a href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank"><img src="%7B%%name%%%7D,%E4%BD%A0%E7%9A%84%E6%B3%B0%E5%9D%A6%E5%B0%BC%E5%85%8B%E6%83%85%E4%BA%BA%E6%98%AF%E8%B0%81_files/edm_09.jpg" border="0"></a></td>
  </tr>
  <tr> 
    <td height="50" align="center"><a style="font-family: 黑体; color: rgb(108, 48, 119); font-size: 16px; text-decoration: none;" href="http://edm.uliao.cc/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9tZW5nYmFzaGExXzEmZmxhZz0xMzM0NzQwMTA1JnVybD1odHRwOi8vd3d3LmppYXl1YW4uY29tL3N0Lz9pZD0zMTUwNjgmdXJsPWh0dHA6Ly9yZWcuamlheXVhbi5jb20=&amp;email=##L@##H" target="_blank"><strong>缘分从这里开始，愿更多佳缘的朋友，用一颗真诚的心，早日找到另一半，携手共度美好人生</strong></a></td>
  </tr>
  <tr> 
    <td style="color: rgb(51, 51, 51); font-size: 12px;" height="50" align="center">纳斯达克上市企业 
      股票代码（DATE）</td>
  </tr>
  </tbody> 
</table>
</body></html>