<html><head>
<title> 来就送一线奢侈品小样，周二周四下午1点奢侈品特卖活动
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>
<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>

<table style="" font-size:12px;?="" 宋体?="" border="0" cellpadding="0" cellspacing="0" width="650" align="center">
  <tbody>
  <tr style="line-height: 30px;">
    <td style="font-size: 12px;">如果无法看到邮件完整内容,请<a style="color: rgb(204, 0, 0);" href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzAyJmZsYWc9MTMzMDUwNzYyNyZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vbXVzaWMvZWRtL2luZGV4X2VkbTE4Lmh0bWw=&amp;email=##L@##H" target="_new"><span>点击这里</span></a><br>
      为了保证您能够正常收到唯尚网的活动信息，请将<span style="color:#cc0000;"> vipshang@vipshang.com 
      </span>邮件地址添加进您的通讯录。 </td>
  </tr>
  <tr>
    <td style="margin-top: 15px;" colspan="2"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzAyJmZsYWc9MTMzMDUwNzYyNyZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vcmVnaXN0ZXJfZ2V0X2JvbnVzNC5waHA=&amp;email=##L@##H" target="_new"><img style="border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="唯尚网" src="template165/emd20120229_1.jpg" height="120" border="0" width="652"> 
      </a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzAyJmZsYWc9MTMzMDUwNzYyNyZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vcmVnaXN0ZXJfZ2V0X2JvbnVzNC5waHA=&amp;email=##L@##H" target="_new"><img style="border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="唯尚网" src="template165/emd20120229_2.jpg" height="326" width="652"> 
      </a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzAyJmZsYWc9MTMzMDUwNzYyNyZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vcmVnaXN0ZXJfZ2V0X2JvbnVzNC5waHA=&amp;email=##L@##H" target="_new"><img style="border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="唯尚网" src="template165/emd20120229_3.jpg" height="211" width="652"> 
      </a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzAyJmZsYWc9MTMzMDUwNzYyNyZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vcmVnaXN0ZXJfZ2V0X2JvbnVzNC5waHA=&amp;email=##L@##H" target="_new"><img style="border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="唯尚网" src="template165/emd20120229_4.jpg" height="247" width="652"> 
      </a></td>
  </tr>
  <tr style="height: 70px;" bgcolor="#e9e9e9">
    <td style="border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153); padding: 5px 25px 10px 10px; line-height: 18px; color: rgb(102, 102, 102);" colspan="2"><font style="font-size:12px;">唯尚网专业的奢侈品线上线下立体零售商，包括箱包、钟表、珠宝、美妆、配饰、服装、鞋履等多品类便捷，诚信<br>
      服务，为您提供安全放心物美价廉的国际名品服务。<br>
      100% 正品保证、资深时尚顾问、 VIP 礼遇、免运费、 7 天无条件退换货。</font> <a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzAyJmZsYWc9MTMzMDUwNzYyNyZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vcmVnaXN0ZXJfZ2V0X2JvbnVzNC5waHA=&amp;email=##L@##H"><img style="border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block; float: right;" src="template165/emd20120229_5.jpg" height="23" width="71"></a> 
    </td>
  </tr>
  <tr style="line-height: 20px; color: rgb(102, 102, 102);">
    <td style="border-bottom: 3px solid rgb(153, 153, 153); padding-bottom: 10px; padding-left: 30px; font-size: 12px; padding-top: 10px;">1. 
      如有您有任何疑问，可以点此访问唯尚网，联系我们的客服人员；<br>
      2. 如有其他任何问题需要人工服务，欢迎致电唯尚网客服：<span style="color:#cc0000;"> 4007-988-988 </span>；<br>
      3. 唯尚网商品每天都在调整，请以唯尚网最终页面为准；<br>
      4. 请把<span style="color:#cc0000;"> vipshang@vipshang.com </span>加到邮箱联系人 
      , 以便正确接收此邮件。 </td>
  </tr>
  <tr style="height: 40px; color: rgb(102, 102, 102);">
    <td style="text-align: center; font-size: 12px;">Copyright (C) 唯尚网 2004-2011, 
      All Rights Reserveed</td>
  </tr>
  </tbody>
</table>
</body></html>