<html><head>
<title> 2012送礼全攻略，全场2折起！+66元得龙年银条！
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
</style>

<table border="0" cellpadding="0" cellspacing="0" width="700" align="center">
  <tbody>
  <tr>
    <td style="font-size: 12px; background-color: rgb(242, 242, 242);" colspan="8" height="30" align="right">如果图片不能显示，请<a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank">点击查看</a></td>
  </tr>
  <tr>
    <td colspan="8"><img alt="橡果国际24小时热线400-810-9716" src="template134/heard09.jpg" height="64" width="700"></td>
  </tr>
  <tr>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20v&amp;email=##L@##H" target="_blank"><img alt="首页" src="template134/heard01.jpg" border="0" height="33" width="100"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vcHJvbW90aW9uL2ppbmxpYTM1MC8=&amp;email=##L@##H" target="_blank"><img alt="金立" src="template134/heard02.jpg" border="0" height="33" width="75"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vYmFiYWthX25ldy8=&amp;email=##L@##H" target="_blank"><img alt="背背佳" src="template134/heard03.jpg" border="0" height="33" width="82"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vcHJvbW90aW9uL2FveWEv&amp;email=##L@##H" target="_blank"><img alt="奥雅" src="template134/heard04.jpg" border="0" height="33" width="74"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vb3ppbmdfbmV3Lw==&amp;email=##L@##H" target="_blank"><img alt="好记星" src="template134/heard05.jpg" border="0" height="33" width="83"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vcHJvbW90aW9uLzIwMTEveWllcmppYW4v&amp;email=##L@##H" target="_blank"><img alt="益尔健" src="template134/heard06.jpg" border="0" height="33" width="90"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vc2hvdWNhbmcv&amp;email=##L@##H" target="_blank"><img alt="收藏品" src="template134/heard07.jpg" border="0" height="33" width="82"></a></td>
    <td><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vY2h1ZmFuZ2ppYWRpYW4v&amp;email=##L@##H" target="_blank"><img alt="综合" src="template134/heard08.jpg" border="0" height="33" width="114"></a></td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="700" align="center">
  <tbody>
  <tr></tr>
  <tr>
    <td colspan="2"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="2012春节送礼全攻略" src="template134/edm_01.jpg" border="0" height="121" width="700"></a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="2012春节送礼全攻略" src="template134/edm_02.jpg" border="0" height="83" width="700"></a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img src="template134/edm_03.jpg" border="0" height="101" width="700"></a></td>
  </tr>
  </tbody>
</table>
<table style="border-right: 2px solid rgb(0, 0, 0); border-width: 2px; border-style: solid; border-color: rgb(0, 0, 0);" border="0" cellpadding="0" cellspacing="0" width="700" align="center">
  <tbody>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="送长辈" src="template134/edm_04.jpg" border="0" height="240" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>泰昌牌红泰昌养生足浴盆TC-2066 
            </strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="泰昌牌红泰昌养生足浴盆TC-2066" src="template134/edm_08.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>真体格 
            肩背松捶打按摩器G1608</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="真体格 肩背松捶打按摩器G1608" src="template134/edm_09.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjNmJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyNC5zaHRtbA==&amp;email=##L@##H" target="_blank"></a><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="送长她" src="template134/edm_05.jpg" border="0" height="240" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>奥雅(aoya)无瑕亮采四件套</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="奥雅(aoya)无瑕亮采四件套" src="template134/edm_10.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>皙泉优肌前导保养护肤大礼包</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="皙泉优肌前导保养护肤大礼包" src="template134/edm_11.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="送长他" src="template134/edm_06.jpg" border="0" height="240" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>浪威全陶瓷真钻男表RW2909-M</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="浪威全陶瓷真钻男表RW2909-M" src="template134/edm_12.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>金立W100 
            3G双模手机</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="金立W100 3G双模手机" src="template134/edm_13.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="送长孩子" src="template134/edm_07.jpg" border="0" height="240" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>好记星学习机Q7</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="好记星学习机Q7" src="template134/edm_14.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="font-size: 12px;" height="26" align="center"><strong>橡果国际背背佳U9官网火爆促销</strong></td>
        </tr>
        <tr>
          <td align="center"><a href="http://edm.chinadrtv.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGxhb2h1aXl1YW40cGkmZmxhZz0xMzI1ODE5OTU2JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMjAxMDViJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyOS5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="橡果国际背背佳U9官网火爆促销" src="template134/edm_15.jpg" border="0" height="221" width="210"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="700" align="center">
  <tbody>
  <tr>
    <td bgcolor="#ffffff" height="1" width="700"></td>
  </tr>
  <tr>
    <td style="font-size: 12px;" colspan="3" bgcolor="#cccccc" height="45" valign="center" width="700" align="center">Copyright 
      2009-2010 www.chinadrtv.com All Rights Reserved<br>
      橡果国际 版权所有</td>
  </tr>
  </tbody>
</table>
</body></html>