<html><head>
<title>圣诞狂享“惠”——贡天下特产网 </title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table bgcolor="#A50001" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody> 
  <tr> 
    <td> <br>
      <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" width="740">
        <tbody> 
        <tr> 
          <td height="19"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vP3NvdXJjZT1lZG0mdXRtX3NvdXJjZT1lZG0mdXRtX21lZGl1bT0xNjMmdXRtX3Rlcm09MTIyMyZ1dG1fY29udGVudD0xMjQwJnV0bV9jYW1wYWlnbj14bWFz&amp;email=##L@##H" target="_blank"><img src="template150/logo.png" alt="" border="0" height="54" hspace="5" width="293"></a> 
          </td>
          <td height="19"> 
            <div align="right"> <img src="template150/ganenji.jpg" alt="" height="64" width="427"> 
            </div>
          </td>
        </tr>
        <tr> 
          <td colspan="2" background="%E7%BC%A4%E7%BA%B7%E5%9C%A3%E8%AF%9E%E7%8B%82%E4%BA%AB%E6%83%A0%EF%BC%8C%E7%89%B9%E4%BA%A7%E7%9C%81%E9%92%B1%E9%80%81%E5%A5%BD%E7%A4%BC%E5%85%A8%E5%9C%BA3%E5%85%83%E8%B5%B7%EF%BC%81%E6%9F%A5%E7%9C%8B%E6%9B%B4%E5%A4%9A%E8%AF%B7%E7%82%B9%E5%87%BB)_files/oriental_bg.jpg" height="36"> 
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody> 
              <tr> 
                <td width="10%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vP3NvdXJjZT1lZG0mdXRtX3NvdXJjZT1lZG0mdXRtX21lZGl1bT0xNjMmdXRtX3Rlcm09MTIyMyZ1dG1fY29udGVudD0xMjQwJnV0bV9jYW1wYWlnbj14bWFz&amp;email=##L@##H" target="_blank">首页</a> 
                  </div>
                </td>
                <td width="12%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvMi8/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank">坚果/果干</a> 
                  </div>
                </td>
                <td width="12%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvMjMzLz9zb3VyY2U9ZWRtJnV0bV9zb3VyY2U9ZWRtJnV0bV9tZWRpdW09MTYzJnV0bV90ZXJtPTEyMjMmdXRtX2NvbnRlbnQ9MTI0MCZ1dG1fY2FtcGFpZ249eG1hcw==&amp;email=##L@##H" target="_blank">海鲜干货</a> 
                  </div>
                </td>
                <td width="13%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvOTkvP3NvdXJjZT1lZG0mdXRtX3NvdXJjZT1lZG0mdXRtX21lZGl1bT0xNjMmdXRtX3Rlcm09MTIyMyZ1dG1fY29udGVudD0xMjQwJnV0bV9jYW1wYWlnbj14bWFz&amp;email=##L@##H" target="_blank">酒饮冲调</a> 
                  </div>
                </td>
                <td width="13%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvMTc2Lz9zb3VyY2U9ZWRtJnV0bV9zb3VyY2U9ZWRtJnV0bV9tZWRpdW09MTYzJnV0bV90ZXJtPTEyMjMmdXRtX2NvbnRlbnQ9MTI0MCZ1dG1fY2FtcGFpZ249eG1hcw==&amp;email=##L@##H" target="_blank">滋补保健</a> 
                  </div>
                </td>
                <td width="14%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvMjA5Lz9zb3VyY2U9ZWRtJnV0bV9zb3VyY2U9ZWRtJnV0bV9tZWRpdW09MTYzJnV0bV90ZXJtPTEyMjMmdXRtX2NvbnRlbnQ9MTI0MCZ1dG1fY2FtcGFpZ249eG1hcw==&amp;email=##L@##H" target="_blank">肉禽蛋奶</a> 
                  </div>
                </td>
                <td width="13%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvNTYvP3NvdXJjZT1lZG0mdXRtX3NvdXJjZT1lZG0mdXRtX21lZGl1bT0xNjMmdXRtX3Rlcm09MTIyMyZ1dG1fY29udGVudD0xMjQwJnV0bV9jYW1wYWlnbj14bWFz&amp;email=##L@##H" target="_blank">糖果糕点</a> 
                  </div>
                </td>
                <td width="13%"> 
                  <div align="center"> <a style="text-decoration:none;color:#ffffff;font-size:14px;" href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vY2F0ZWdvcnkvMTQ4Lz9zb3VyY2U9ZWRtJnV0bV9zb3VyY2U9ZWRtJnV0bV9tZWRpdW09MTYzJnV0bV90ZXJtPTEyMjMmdXRtX2NvbnRlbnQ9MTI0MCZ1dG1fY2FtcGFpZ249eG1hcw==&amp;email=##L@##H" target="_blank">菜蔬菌菇</a> 
                  </div>
                </td>
              </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        <tr> 
          <td style="font-size:12px;color:#8f8f8f;" bgcolor="#F0EEEF" height="25" width="310"> 
            &nbsp;&nbsp;&nbsp;2012年第652期 &nbsp;&nbsp;&nbsp;精选商品信息 </td>
          <td style="font-size:12px;color:#8f8f8f;" bgcolor="#F0EEEF" width="428"> 
            <div align="right"> 每周投递&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
          </td>
        </tr>
        <tr> 
          <td colspan="2" height="480" valign="top"> 
            <table border="0" cellpadding="0" cellspacing="0" width="740">
              <tbody> 
              <tr> 
                <td colspan="4" valign="top"> <img src="template150/top-1.jpg" alt="" height="148" width="740"> 
                </td>
              </tr>
              <tr> 
                <td colspan="4" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vYWN0L3NoZW5nZGFuL2luZGV4Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/top-2.jpg" alt="圣诞狂享“惠”" border="0" height="154" width="740"></a> 
                </td>
              </tr>
              <tr> 
                <td colspan="4" valign="top"> 
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody> 
                    <tr> 
                      <td colspan="4"> <img src="template150/title-1.jpg" alt="" height="77" width="740"> 
                      </td>
                    </tr>
                    <tr> 
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xNjAwMzk4Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-1.jpg" alt="春光开心椰球（榴莲味）135g" border="0" height="213" width="193"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMjAwMDA2Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-2.jpg" alt="盛兴龙龙须酥（原味）120g" border="0" height="213" width="184"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xOTAwMDg5Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-3.jpg" alt="7D芒果干100g" border="0" height="213" width="177"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMzAwMDA3Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-4.jpg" alt="新疆八大怪天香红马奶葡萄干160g" border="0" height="213" width="186"></a> 
                      </td>
                    </tr>
                    <tr> 
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMDAwMDA2Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-5.jpg" alt="维之王山楂蜜饯500g" border="0" height="245" width="193"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8yMTAwMDA0Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-6.jpg" alt="嘉华鲜花荞饼50g" border="0" height="245" width="184"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xODAwMDMzLmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-7.jpg" alt="可可西里100g藏式卤汁牦牛肉" border="0" height="245" width="177"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xNTAwMDQ1Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-8.jpg" alt="宁安堡280克/袋甘草杏肉" border="0" height="245" width="186"></a> 
                      </td>
                    </tr>
                    </tbody> 
                  </table>
                </td>
              </tr>
              <tr> 
                <td colspan="4" valign="top"> 
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody> 
                    <tr> 
                      <td colspan="4"> <img src="template150/title-2.jpg" alt="" height="77" width="740"> 
                      </td>
                    </tr>
                    <tr> 
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMzAwMTMzLmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-9.jpg" alt="新疆昆仑山和田玉枣三星500g" border="0" height="219" width="198"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8yMTAwMDE3Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-10.jpg" alt="嘉华云腿玫瑰酥(礼袋)300g" border="0" height="219" width="178"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMTAwMDA0Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-11.jpg" alt="蒙都手撕牛肉香辣味488g" border="0" height="219" width="178"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMjAwMTc0Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-12.jpg" alt="陈锡九熟咸海鸭蛋700g" border="0" height="219" width="186"></a> 
                      </td>
                    </tr>
                    <tr> 
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMjAwMDkwLmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-13.jpg" alt="宁福桂圆肉500g" border="0" height="244" width="198"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xNTAwMTM3Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-14.jpg" alt="洁马百合干260g袋装" border="0" height="244" width="178"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xMTAwMTI5Lmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-15.jpg" alt="御盛斋手扒羊肉450g" border="0" height="244" width="178"></a> 
                      </td>
                      <td align="left" valign="top"> <a href="http://mail.gongtianxia.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF85MDNfMTYzXzUwa18wOTA2JmZsYWc9MTM1NjA4Mjg5NCZ1cmw9aHR0cDovL3d3dy5nb25ndGlhbnhpYS5jb20vcHJvZHVjdC8xNjAwNTMwLmh0bWw/c291cmNlPWVkbSZ1dG1fc291cmNlPWVkbSZ1dG1fbWVkaXVtPTE2MyZ1dG1fdGVybT0xMjIzJnV0bV9jb250ZW50PTEyNDAmdXRtX2NhbXBhaWduPXhtYXM=&amp;email=##L@##H" target="_blank"><img src="template150/tu-16.jpg" alt="侯臣极品罐装咖啡粉200g" border="0" height="244" width="186"></a> 
                      </td>
                    </tr>
                    </tbody> 
                  </table>
                </td>
              </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        <tr> 
          <td style="font-size:12px;color:#fff;" colspan="2" bgcolor="#A50001" height="54"> 
            <p align="center"> 京ICP备11040976号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              京公网安备11010502021521 </p>
          </td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  </tbody> 
</table>
</body></html>