<html><head>
<title> 秋燥对抗季 无菌加湿 </title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>img{border:none;display:block;}.p-top-text {font-size:12px;align:center;}.p-edm-top{background:url('template180/edm_gifts_02.jpg');}.p-ta{font-size:12px;color:#ffffff; text-decoration: none;}.p-top-td{text-align:center;}.p-img-td{text-align:center;}</style>
<table id="Table_01" align="center" border="0" cellpadding="0" cellspacing="0" height="1585" width="720">
  <tbody>
  <tr>
    <td class="p-top-text" colspan="7" height="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本页面以HTML形式展现，如果无法正常浏览邮件，请通过以下地址：<a href="http://www.parkson.com.cn/" target="_blank">www.parkson.com.cn</a> 
      进行访问。 </td>
  </tr>
  <tr>
    <td class="p-edm-top" colspan="7" height="86"><br>
      <br>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td width="51">&nbsp;</td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/" target="_blank">首页</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=300" target="_blank">女士</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=301" target="_blank">男士</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=302" target="_blank">青春</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=304" target="_blank">美妆</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=305" target="_blank">时尚家苑</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=303" target="_blank">儿童</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=306" target="_blank">礼品</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/category_second_browse.html?categoryId=54" target="_blank">名品</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template180/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" style="color:#b6995a;" href="http://www.parkson.com.cn/emall/catalog/activity_adv03.html" target="_blank">品牌促销</a></div>
          </td>
          <td width="51">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="7"><a href="http://www.parkson.com.cn/emall/catalog/customized_page.html?code=Humidifier_121029&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_02_01.jpg" height="295" width="720"></a></td>
  </tr>
  <tr>
    <td colspan="3"><img alt="" src="template180/edm_sub20_02_02_01.jpg" height="22" width="367"></td>
    <td><a title="分享到微博" onClick="autumnEDMShare(" href="javascript:void(0);" share.php??,?sina?)?="" share="" v.t.sina.com.cn="" d7d72f36ce964033a8b44a59fd6cd5a4.jpg?,?http:="" 66968900009000005="" 66968900009="" productimage="" image="" upload="" resources="" image.parkson.com.cn="" emall?,?http:="" www.parkson.com.cn="" http:=""><img alt="" src="template180/edm_sub20_02_02_02.jpg" height="22" width="85"></a></td>
    <td colspan="3"><img alt="" src="template180/edm_sub20_02_02_03.jpg" height="22" width="268"></td>
  </tr>
  <tr>
    <td colspan="7"><img alt="" src="template180/edm_sub20_02_03.jpg" height="53" width="720"></td>
  </tr>
  <tr>
    <td colspan="7"><img alt="" src="template180/edm_sub20_07.jpg" height="1" width="720"></td>
  </tr>
  <tr>
    <td colspan="7"><a title="AIR-O-SWISS 瑞士风 AOSU7146便携之星加湿器" href="http://www.parkson.com.cn/emall/catalog/product_detail.html?cid=29899&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_03.jpg" height="478" width="720"></a></td>
  </tr>
  <tr>
    <td colspan="7"><img alt="" src="template180/edm_sub20_09.jpg" height="65" width="720"></td>
  </tr>
  <tr>
    <td><a title="AIR-O-SWISS 瑞士风 AOS2055加湿净化空气清洗器" href="http://www.parkson.com.cn/emall/catalog/product_detail.html?pid=2504418&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_10.jpg" height="281" width="180"></a></td>
    <td><a title="IR-O-SWISS 瑞士风 AOSW2255A加湿净化空气清洗器" href="http://www.parkson.com.cn/emall/catalog/product_detail.html?pid=2504420&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_11.jpg" height="281" width="165"></a></td>
    <td colspan="3"><a title="AIR-O-SWISS 瑞士风 AOS2061活性碳网空气净化器" href="http://www.parkson.com.cn/emall/catalog/product_detail.html?pid=2504417&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_12.jpg" height="281" width="165"></a></td>
    <td colspan="2"><a title="AIR-O-SWISS 瑞士风 AOS2071浅灰色活性碳网空气加湿净化器" href="http://www.parkson.com.cn/emall/catalog/product_detail.html?pid=2504416&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_13.jpg" height="281" width="210"></a></td>
  </tr>
  <tr>
    <td colspan="6"><img alt="" src="template180/edm_sub20_14.jpg" height="109" width="632"></td>
    <td><a href="http://www.parkson.com.cn/emall/catalog/product_search.html?pager.keyword=text:%E7%91%9E%E5%A3%AB%E9%A3%8E%20AND%20brandId:4356&amp;utm_source=edm&amp;utm_medium=20121009a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template180/edm_sub20_15.jpg" height="109" width="88"></a></td>
  </tr>
  <tr>
    <td class="p-top-text" colspan="7" height="100">&nbsp;&nbsp;&nbsp;&nbsp;为确保我们的促销信息不被当做垃圾邮件处理，请把<a href="mailto:newsletter@parkson.com.cn" target="_blank">newsletter@parkson.com.cn</a>添加为你的联系人。本邮件请勿回复。<br>
      &nbsp;&nbsp;-----------------------------------------------------------------------------------------------------------------<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Copyright?2012 www.parkson.com.cn 百盛网版权所有</td>
  </tr>
  <tr>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="180"></td>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="165"></td>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="22"></td>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="85"></td>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="58"></td>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="122"></td>
    <td><img alt="" src="template180/edm_sub20_spacer.gif" height="1" width="88"></td>
  </tr>
  </tbody>
</table>
</body></html>