<html><head>
<title>今天您“赛默飞”了吗？问卷调查活动反响热烈</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<title>无标题文档</title>
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<style type="text/css"><!--.w_1 {padding-right: 19px;padding-left: 19px;font-family: '宋体';font-size: 14px;color: #FFFFFF;line-height: 24px;text-indent: 2em;}.bei_1 {}.bei2 {}.w_2 {font-family: '宋体';font-size: 14px;color: #000000;line-height: 24px;text-indent: 2em;letter-spacing: 1px;margin-top: 40px;margin-right: 25px;margin-left: 25px;}.w3 {font-family: '宋体';font-size: 14px;color: #FF0000;font-weight: bold;margin-top: 25px;margin-left: 50px;}.btn {text-align: center;}.STYLE1 {font-family: '宋体';font-size: 14px;color: #fc8e13;font-weight: bold;line-height: 30px;}.STYLE2 {font-family: '宋体';font-size: 14px;color: #646161;}.w_4 {font-family: '宋体';font-size: 14px;line-height: 24px;color: #646161;text-indent: 2em;padding-left: 5px;}.STYLE3 {color: #FF0000;font-size: 14px;font-family: '宋体';text-decoration: none;}--></style>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="650">
  <tbody>
  <tr> 
    <td><a href="http://edm.sepu.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hbGwyMDEyMDMyMyZmbGFnPTEzNDM4OTgxNTImdXJsPWh0dHA6Ly93d3cudGhlcm1vLmNvbS5jbi9TdXJ2ZXlEZXRhaWwuYXNweD9JRD0xNDk=&amp;email=##L@##H" target="_blank"><img src="template162/top.jpg" border="0" width="650" height="61"></a></td>
  </tr>
  </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="650">
  <tbody>
  <tr> 
    <td bgcolor="#FC8E13">
      <p style="padding-right:19px;padding-left:19px;font-family:" 宋体';font-size:14px;color:#ffffff;line-height:24px;text-indent:2em;'="">自 
        2012年3月“今天你赛默飞了吗”GC/GC-MS/ICP/ICP-MS/AA产品问卷调查活动启动以来，已经吸引了全国各地超过800名用户参与到 
        我们的活动中。通过本次活动的进行，我们更好的了解客户的需求并进行针对性服务，我们每期都进行抽奖活动，回馈参与客户。</p>
      <p style="padding-right:19px;padding-left:19px;font-family:" 宋体';font-size:14px;color:#ffffff;line-height:24px;text-indent:2em;'="">我 
        们的有奖问卷调查共设6期，从2012年4月起至9月结束，每期抽取10个中奖名额,每期月底抽奖，结果在下月第一周公布。当月未中名单将进入下月抽奖池 
        中继续参加抽奖直到6期活动结。因调查活动反响热烈，首期我们抽取了40名幸运客户，并在之后每期将奖品增加到20名。至 目前为止，我们已经抽取了4、5、6月三期的奖品，分别为带有Thermo 
        LOGO 多功能军刀、无线鼠标、乐亿多保鲜盒，抽奖礼品广受好评。</p>
    </td>
  </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FC8E13" border="0" cellpadding="0" cellspacing="0" width="650">
  <tbody>
  <tr> 
    <td align="right" height="180"><img src="template162/pic1.jpg" width="188" height="147"></td>
    <td align="center"><img src="template162/pic2.jpg" width="211" height="147"></td>
    <td><img src="template162/pic3.jpg" width="189" height="147"></td>
  </tr>
  </tbody>
</table>
<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" width="650" height="340">
  <tbody>
  <tr> 
    <td align="center" width="286" height="375"><img src="template162/pic4.jpg" width="245" height="325"> 
      <table style="margin-top:7px;" border="0" cellpadding="0" cellspacing="0" width="280">
        <tbody>
        <tr> 
          <td align="center"><span style="font-family:" 宋体';font-size:14px;color:#fc8e13;font-weight:bold;line-height:30px;'="">7月中奖礼品</span></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td class="bei_1" valign="top" width="364">
      <table border="0" cellpadding="0" cellspacing="0" width="360">
        <tbody>
        <tr> 
          <td align="center" height="187"><img src="template162/bg1.jpg" width="336" height="156"></td>
        </tr>
        <tr> 
          <td align="center" height="150"><img src="template162/bg2.jpg" usemap="#Map" border="0" width="336" height="129"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="650">
  <tbody>
  <tr> 
    <td bgcolor="#EEEEEE">
      <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="608">
        <tbody>
        <tr> 
          <td height="30"><span style="font-family:" 宋体';font-size:14px;color:#646161;'="">活动简介：</span></td>
        </tr>
        <tr> 
          <td>
            <p style="font-family:" 宋体';font-size:14px;line-height:24px;color:#646161;text-indent:2em;padding-left:5px;'="">自 
              80年代正式进入中国的30年来，赛默飞为中国发展作出了自己的贡献。当您仔细留意一下您的实验室，总有一款产品是来自我们的“Thermo 
              Scientific”或“Fisher Scientific”品牌：小至样品瓶、色谱柱、移液器、离心机等各种小型仪器耗材，大至超低温冰箱、色谱、质谱等高端仪器。今天，当您看到这则内容， 
              回头看看您身边的实验室，是否也发现了我们的产品？您是否正在使用我们的产品做着您的日常实验分析工作？今天，您使用赛默飞了吗？今天您赛默飞了吗？快来 
              参与我们的有奖调查吧！</p>
          </td>
        </tr>
        <tr> 
          <td style="font-family:" 宋体';font-size:14px;color:#646161;'="" height="30">关于赛默飞世尔科技</td>
        </tr>
        <tr> 
          <td>
            <p style="font-family:" 宋体';font-size:14px;line-height:24px;color:#646161;text-indent:2em;padding-left:5px;'="">赛 
              默飞世尔科技（纽约证交所代码：TMO）是科学服务领域的世界领导者。我们的使命是帮助客户使世界更健康、更清洁、更安全。公司年销售额120亿美元，员 
              工约39000人。主要客户类型包括：医药和生物技术公司、医院和临床诊断实验室、大学、科研院所和政府机构，以及环境与过程控制行业。借助于 
              Thermo Scientific、Fisher Scientific和Unity? Lab Services三个首要品牌，我们将创新技术、便捷采购方案和实验室运营管理的整体解决方案相结合，为客户、股东和员工创造价值。我们的产品和服务帮助 
              客户解决在分析领域所遇到的复杂问题与挑战，促进医疗诊断发展、提高实验室生产力。欲了解更多信息，请浏览公司网 站：www.thermofisher.com</p>
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="608">
        <tbody>
        <tr> 
          <td align="center" height="28"><span><a href="http://edm.sepu.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hbGwyMDEyMDMyMyZmbGFnPTEzNDM4OTgxNTImdXJsPWh0dHA6Ly93d3cudGhlcm1vLmNvbS5jbi9OZXdzRXZlbnREZXRhaWwuYXNweD9JRD04NTY=&amp;email=##L@##H" style="color:#ff0000;font-size:14px;font-family:" 宋体';text-decoration:none;'="" target="_blank">同期活动：您晒案例，我们奖励！——赛默飞GC/GC-MS/AA/ICP/ICP-MS应用案例有奖征集活动</a></span></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="105,50,304,113" href="http://edm.sepu.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hbGwyMDEyMDMyMyZmbGFnPTEzNDM4OTgxNTImdXJsPWh0dHA6Ly93d3cudGhlcm1vLmNvbS5jbi9TdXJ2ZXlEZXRhaWwuYXNweD9JRD0xNDk=&amp;email=##L@##H" target="_blank">
</map>
</body></html>