<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>中原地产云周刊创刊号-无忧全度假，尽在石梅湾</title>
</head>

<body>
<table align="center" border="0" width="700" cellpadding="0" cellspacing="0">
  <tbody><tr>
   <td style="text-align: right; padding-right: 8px; background: #f6f6f6; height: 23px; font-size: 12px; padding-top:3px">如果无法浏览此邮件，请点击“<a style="color: #b70031" href="http://edm.centalinevip.com/edm/20111104/edm2.html" target="_blank">这里-中原地产云周刊创刊号</a>”查看 </td>
  </tr>
  <tr>
    <td align="center"><a href="http://113.106.89.171/" target="_blank"><img alt="" src="template195/image_01.jpg" border="0" height="180" width="700"></a></td>
  </tr>
    <tr>
    <td align="center"><a href="http://113.106.89.171/" target="_blank"><img alt="" src="template195/image_02.jpg" border="0" height="180" width="700"></a></td>
  </tr>
    <tr>
    <td align="center"><a href="http://113.106.89.171/" target="_blank"><img alt="" src="template195/image_03.jpg" border="0" height="180" width="700"></a></td>
  </tr>
  <tr>
    <td align="center"><a href="http://113.106.89.171/" target="_blank"><img alt="" src="template195/image_04.jpg" border="0" height="180" width="700"></a></td>
  </tr>
  <tr>
    <td align="center"><a href="http://113.106.89.171/" target="_blank"><img alt="" src="template195/image_05.jpg" border="0" height="158" width="700"></a></td>
  </tr>
  </tbody></table>
  <table style="margin-top:3px; margin-bottom:3px; font-family:宋体; font-size:12px" align="center" width="700" cellpadding="0" cellspacing="0">
  <tbody><tr>
        <td style="text-align:left; padding-bottom:5px; line-height: 24px; padding-left: 30px; background: #f6f6f6; color: #666; padding-top: 10px"><strong style="color:#333">请不要直接回复此邮件，您可以通过点击以下链接了解常见问题。</strong><br>
          <span style="color: #b70031">*</span>项目价格或促销内容如有调整，以中原地产网站最终页面为准。<br>
          <span style="color: #b70031">*</span>如您不希望再次收到我们的邮件，请随时<a href="http://edm.centalinevip.com/subscribe.php?list_name=root_list_centaline&amp;list_request=unsubscribe&amp;email=##L@##H">点击这里</a>取消订阅。<br>
          <span style="color: #b70031">*</span>其它任何问题欢迎您致电中原客服：4008-873-552(中国大陆)。<br>
	</td>
      </tr>
	  </tbody></table>
	  <table align="center" border="0" width="700" cellpadding="0" cellspacing="0">
    <tbody><tr>
    <td align="center"><a href="http://113.106.89.171/" target="_blank"><img alt="" src="template195/image_06.jpg" border="0" height="112" width="700"></a></td>
  </tr>
</tbody></table>



</body></html>