<html><head>
<title> 最潮中秋企业礼品侯门天鹅肉
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 12px;line-height:20px;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<br>
<table border="0" cellpadding="0" cellspacing="0" width="650" align="center">
  <tbody> 
  <tr>
    <th scope="col"><a href="http://mail.houfufood.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGJlaWppbmcmZmxhZz0xMzE0NzU4MzIzJnVybD1odHRwOi8vd3d3LmhvdW1lbmZvb2QuY29tL3podWFudGkv&amp;email=##L@##H"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color;" alt="" src="template197/img7.jpg"></a></th>
  </tr>
  <tr>
    <td><a href="http://mail.houfufood.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGJlaWppbmcmZmxhZz0xMzE0NzU4MzIzJnVybD1odHRwOi8vd3d3LmhvdW1lbmZvb2QuY29tL3podWFudGkv&amp;email=##L@##H"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color;" alt="" src="template197/img8.jpg"></a></td>
  </tr>
  <tr>
    <td><a href="http://mail.houfufood.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGJlaWppbmcmZmxhZz0xMzE0NzU4MzIzJnVybD1odHRwOi8vd3d3LmhvdW1lbmZvb2QuY29tL3podWFudGkv&amp;email=##L@##H"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color;" alt="" src="template197/img9.jpg"></a></td>
  </tr>
  <tr>
    <td><a href="http://mail.houfufood.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGJlaWppbmcmZmxhZz0xMzE0NzU4MzIzJnVybD1odHRwOi8vd3d3LmhvdW1lbmZvb2QuY29tL3podWFudGkv&amp;email=##L@##H"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color;" alt="" src="template197/img10.jpg"></a></td>
  </tr>
  <tr>
    <td><a href="http://mail.houfufood.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGJlaWppbmcmZmxhZz0xMzE0NzU4MzIzJnVybD1odHRwOi8vd3d3LmhvdW1lbmZvb2QuY29tL3podWFudGkv&amp;email=##L@##H"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color;" alt="" src="template197/img11.jpg"></a></td>
  </tr>
  </tbody>
</table>
</body></html>