<html><head>
<title> 百盛网1000积分大礼发放进行中 </title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<style>img{border:none;display:block;}.p-top-text {font-size:12px;align:center;}.p-edm-top{background:url('http://www.parkson.com.cn/resources/upload/edm/edm_sub18_03.jpg');}.p-ta{font-size:12px;color:#ffffff; text-decoration: none;}.p-top-td{text-align:center;}.p-img-td{text-align:center;}</style>
<table id="Table_01" align="center" border="0" cellpadding="0" cellspacing="0" height="1199" width="720">
  <tbody>
  <tr>
    <td colspan="5"><img alt="" src="template144/edm_sub18_01.jpg" height="1" width="720"></td>
  </tr>
  <tr>
    <td class="p-top-text" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本页面以HTML形式展现，如果无法正常浏览邮件，请通过以下地址：<a href="http://www.parkson.com.cn/" target="_blank">www.parkson.com.cn</a> 
      进行访问。 </td>
    <td><img alt="" src="template144/spacer_sub18.gif" height="62" width="1"></td>
  </tr>
  <tr>
    <td class="p-edm-top" colspan="10" height="92"><br>
      <br>
      <br>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td width="51">&nbsp;</td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/" target="_blank">首页</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=300" target="_blank">女士</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=301" target="_blank">男士</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=302" target="_blank">青春</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=304" target="_blank">美妆</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=305" target="_blank">时尚家苑</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=303" target="_blank">儿童</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=306" target="_blank">礼品</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" href="http://www.parkson.com.cn/emall/catalog/category_second_browse.html?categoryId=54" target="_blank">名品</a></div>
          </td>
          <td class="p-img-td" width="2">
            <div><img src="template144/sub6_bo_nav_line.png"></div>
          </td>
          <td class="p-top-td" width="60">
            <div><a class="p-ta" style="color:#b6995a;" href="http://www.parkson.com.cn/emall/catalog/activity_adv03.html" target="_blank">品牌促销</a></div>
          </td>
          <td width="51">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="5"><img alt="" src="template144/edm_sub18_04.jpg" height="249" width="720"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template144/edm_sub18_05.jpg" height="41" width="405"></td>
    <td colspan="2"><a href="http://www.parkson.com.cn/emall/member/login%21input.html?redirectionUrl=http://www.parkson.com.cn/emall/index.html&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_06.jpg" height="41" width="193"></a></td>
    <td><img alt="" src="template144/edm_sub18_07.jpg" height="41" width="122"></td>
  </tr>
  <tr>
    <td colspan="5"><img alt="" src="template144/edm_sub18_08.jpg" height="350" width="720"></td>
  </tr>
  <tr>
    <td><a href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=300&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_08_01.jpg" height="158" width="245"></a></td>
    <td colspan="2"><a href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=301&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_08_02.jpg" height="158" width="217"></a></td>
    <td colspan="2"><a href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=304&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_08_03.jpg" height="158" width="258"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=302&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_08_04.jpg" height="158" width="245"></a></td>
    <td colspan="2"><a href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=54&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_08_05.jpg" height="158" width="217"></a></td>
    <td colspan="2"><a href="http://www.parkson.com.cn/emall/catalog/women.html?categoryId=305&amp;utm_source=edm&amp;utm_medium=20121029a&amp;utm_campaign=CRM&amp;ga_ref=edm&amp;ga_key=20121029a" target="_blank"><img alt="" src="template144/edm_sub18_08_06.jpg" height="158" width="258"></a></td>
  </tr>
  <tr>
    <td class="p-top-text" colspan="5" height="100">&nbsp;&nbsp;&nbsp;&nbsp;为确保我们的促销信息不被当做垃圾邮件处理，请把<a href="mailto:newsletter@parkson.com.cn" target="_blank">newsletter@parkson.com.cn</a>添加为你的联系人。本邮件请勿回复。<br>
      ----------------------------------------------------------------------------------------------------------------------<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy 2012 www.parkson.com.cn 百盛网版权所有</td>
  </tr>
  <tr>
    <td><img alt="" src="template144/spacer.gif" height="1" width="245"></td>
    <td><img alt="" src="template144/spacer.gif" height="1" width="160"></td>
    <td><img alt="" src="template144/spacer.gif" height="1" width="57"></td>
    <td><img alt="" src="template144/spacer.gif" height="1" width="136"></td>
    <td><img alt="" src="template144/spacer.gif" height="1" width="122"></td>
  </tr>
  </tbody>
</table>
<!-- End Save for Web Slices -->
<img src="%E7%99%BE%E7%9B%9B%E7%BD%911000%E7%A7%AF%E5%88%86%E5%A4%A7%E7%A4%BC%E5%8F%91%E6%94%BE%E8%BF%9B%E8%A1%8C%E4%B8%AD_files/probe.htm" border="0" height="1" width="1"> 
</body></html>