<html><head>
<title> 开学送好礼！好记星V21直降100再送九阳料理机!背背佳全线2.5折起！
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td style="font-size: 12px; background-color: rgb(242, 242, 242);" height="30" align="right">如果图片不能显示，请<a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank">点击查看</a></td>
  </tr>
  <tr>
    <td><img alt="橡果国际24小时热线400-810-9716" src="template164/heard09.jpg" height="64" width="700"></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDExMTIwMWEmZGF0PTk3MTYmdXJsPS9wcm9tb3Rpb24vMjAxMS8xMDIwMi5zaHRtbA==&amp;email=##L@##H" target="_blank"><img alt="首页" src="template164/heard_01a.jpg" border="0" height="33" width="700"></a></td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td colspan="3"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="开学送好记星 背背佳 让孩子学习更轻松" src="template164/kxs-edm_01.jpg" border="0" height="87" width="700"></a></td>
  </tr>
  <tr>
    <td colspan="3"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="开学送好记星 背背佳 让孩子学习更轻松" src="template164/kxs-edm_02.jpg" border="0" height="94" width="700"></a></td>
  </tr>
  <tr>
    <td colspan="3"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="开学送好记星 背背佳 让孩子学习更轻松" src="template164/kxs-edm_03.jpg" border="0" height="105" width="700"></a></td>
  </tr>
  </tbody>
</table>
<table style="border-right: 2px solid rgb(255, 159, 8); border-width: 2px; border-style: solid; border-color: rgb(255, 159, 8);" border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="好记星全能王学习机" src="template164/kxs-edm_05.jpg" border="0" height="288" width="220"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="背背佳U9官网火爆促销" src="template164/kxs-edm_07.jpg" border="0" height="288" width="214"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="好记星学习机Q7 赠送康佳电磁炉" src="template164/kxs-edm_09.jpg" border="0" height="288" width="208"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="好记星学生平板电脑" src="template164/kxs-edm_19.jpg" border="0" height="277" width="220"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="背背佳U+ " src="template164/kxs-edm_21.jpg" border="0" height="277" width="214"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="好记星M6平板学习电脑7寸真彩屏" src="template164/kxs-edm_23.jpg" border="0" height="277" width="208"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="购买本专区任意商品+55元即可换购以下任意单品" src="template164/kxs-edm_33.jpg" border="0" height="279" width="220"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205); border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="倍健螺旋藻" src="template164/kxs-edm_35.jpg" border="0" height="279" width="214"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-bottom: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody>
        <tr>
          <td style="padding: 5px 0px;" align="center"><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9kb19kYXQuanNwP3NpZD1lZG0yMDEyMDIwN2EmZGF0PTk3MTYmdXJsPS9hY3Rpb24vYWN0aW9uMTQzLnNodG1s&amp;email=##L@##H" target="_blank"><img alt="喜瑞安睡天使胶囊60粒装" src="template164/kxs-edm_37.jpg" border="0" height="279" width="208"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody></tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table style="border-right: 1px dashed rgb(205, 205, 205);" border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody></tbody>
      </table>
    </td>
    <td bgcolor="#ffffff">
      <table border="0" cellpadding="0" cellspacing="0" height="250" width="230">
        <tbody></tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td style="padding: 0px 10px; font-size: 12px; color: rgb(51, 51, 51); line-height: 16px; background-color: rgb(232, 232, 232);" colspan="3" height="75" valign="center" width="680">您之所以收到这封邮件，是因为您曾经注册成为橡果商城的用户。<br>
      本邮件由橡果系统发出，请勿直接回复！ <br>
      如果您有任何疑问或建议，请联系我们。橡果商城（<a style="color: rgb(204, 0, 0);" href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdGRvbmdnZXhpbnpodWNlMSZmbGFnPTEzMjg3Nzc1NzQmdXJsPWh0dHA6Ly93d3cuY2hpbmFkcnR2LmNvbS9sb2dpbi5qc3A/ZmZsYWc9MQ==&amp;email=##L@##H" target="_blank">www.chinadrtv.com</a>） 
      - 橡果国际官方购物网站，正品保障，先行赔付。 </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" height="1" width="700"></td>
  </tr>
  <tr>
    <td style="font-size: 12px;" colspan="3" bgcolor="#cccccc" height="45" align="center" valign="center" width="700">Copyright 
      2009-2010 www.chinadrtv.com All Rights Reserved<br>
      橡果国际 版权所有</td>
  </tr>
  </tbody>
</table>
</body></html>