<html><head>
<title> 2011年一级建造师考试报名及辅导材料
</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
</style>
<table align="center" border="0" width="555" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td>
      <div style="font-size:14px;" align="center">
        <table id="table1" border="0" width="555" cellspacing="0">
          <tbody>
          <tr>
            <td colspan="8" width="553">
              <p align="center">如果本邮件无法正常显示请<a href="http://www.wangxiao.cn/jz1/?agent=email" target="_blank">点击这里</a> 
                。<a href="http://www.wangxiao.cn/jz1/email/qq.html" target="_blank"><img src="template132/zx_qq.gif" border="none"></a></p>
            </td>
          </tr>
          <tr>
            <td colspan="8" width="553">
              <p align="center"><font style="FONT-SIZE: 14px" ?="" align="center">为了能正常及时收到会员邮件，请将<a style="text-decoration:none;" href="mailto:service@wangxiao.net" target="_blank">service@wangxiao.net</a>添加到白名单或通讯录 
                。</font></p>
            </td>
          </tr>
          <tr>
            <td><a href="http://www.wangxiao.cn/jz1/fudao/?agent=email" target="_blank">辅导资料</a></td>
            <td><a href="http://www.wangxiao.cn/jz1/shiti/?agent=email" target="_blank">历年试题</a></td>
            <td><a href="http://www.wangxiao.cn/jz1/moni/?agent=email" target="_blank">模拟试题</a></td>
            <td><a href="http://exam.wangxiao.cn/html/class/subject_279.html?agent=email">在线模考</a></td>
            <td><a href="http://www.wangxiao.cn/jz1/class/?agent=email" target="_blank"><font color="#ff0000">网络课堂</font></a></td>
            <td><a href="http://www.wangxiao.cn/jz1/sx/?agent=email" target="_blank">考情分析</a></td>
            <td><a href="http://www.wangxiao.cn/jz1/book/?agent=email" target="_blank">考试用书</a></td>
            <td><a href="http://www.wangxiao.cn/jz1/dt/?agent=email" target="_blank">考试动态</a></td>
          </tr>
          <tr>
            <td colspan="8" width="553"><a href="http://www.wangxiao.cn/jz1/?agent=email" target="_blank"><img src="template132/email.gif" border="none"></a></td>
          </tr>
          </tbody>
        </table>
        <p>
          为确保此邮件正常接收，建议您将 service@wangxiao.net 添加到邮箱的联系人列表中。<br>
          如果此邮件打扰了您，请随手删掉，并请见谅。若您不想再次收到邮件，请点击<a href="<%%unsub_link%%>">这里退订</a>。<br>
          免费客服电话：4000-18-8000 客服QQ:<a href="http://www.wangxiao.cn/jz1/email/class/email/qq.html" target="_blank">800001886</a><br>

          </p>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</body></html>