<html><head>
<meta http-equiv="content-type" content="text/html; charset=gb2312"><style>

html{word-wrap:break-word;}
body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:8px 10px;margin:0;}
pre {
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
</style>




</head><body><table align="center" border="0" cellpadding="0" cellspacing="0" width="598">
    <tbody><tr>
        <td><img src="template124/header_100401.jpg" height="73" width="598"></td>
    </tr>
    <tr>
        <td background="template124/bgy.jpg">
            <div style="padding:20px 40px 5px;font-size:14px;line-height:160%;">
                <p style="margin:12px 0;">尊敬的用户：</p>
                <p style="margin:12px 0;">　　您已成功激活网易手机号码邮箱：<strong style="color:#388A0E"><a target="_blank" href="mailto:13912356781@163.com">13912356781@163.com</a></strong>，现在你就能使用这个帐号来登录和收发邮件了。为方便好友知道这是您的帐号，请您尽快<strong style="color: blue;">设置您的昵称</strong>，设置路径：设置-个人信息设置。
                <a href="http://help.163.com/special/00752CLD/163mail_sjyx.html" style="color: rgb(31, 94, 135);" target="_blank">了解更多&gt;&gt;</a>
                </p>
                <p style="margin:12px 0;">　　您邮箱的初始密码是<strong style="color:#388A0E">185639</strong>，为了您的帐号安全，建议您马上修改密码。
                <a target="_blank" id="option_passwd" href="http://reg.163.com/setinfo/ChangePasswd_1.jsp?noheader=1&amp;username=m13912356781@163.com" style="color: rgb(31, 94, 135);" sys="1">修改密码&gt;&gt;</a>
                </p>
                                                <div style="background:#FFFFF3;font-size:12px;padding:5px 15px">
                    <p style="margin:5px 0;">为感谢您的使用，我们还赠送您以下服务：</p>
                    <p style="margin:5px 0;"><img src="template124/gift.gif" align="absmiddle" height="13" width="13"> <strong style="color:#358B0C">163M网盘：</strong>文件永久保存，单个文件最大50M。</p>
                    <p style="margin:5px 0;"><img src="template124/gift.gif" alt="" align="absmiddle" height="13" width="13"> 使用网易手机号码邮箱<strong style="color:#358B0C">web登录和收发邮件，获得双倍积分</strong>。</p>
                                        <p style="margin:5px 0;"><img src="template124/gift.gif" alt="" align="absmiddle" height="13" width="13"> 手机邮客户端-把邮箱装进口袋，随时随地收发邮件 <a target="_blank" href="http://m.123.163.com/download0/?163mailnotify">马上下载&gt;&gt;</a></p>
                </div>
                                <p style="margin:20px 0; text-align: center;"><strong>如果您已经换号，请点击下面按钮激活您的新网易手机号码邮箱：</strong></p>
                <p style="margin:20px 0; text-align: center;"><a href="http://e.mail.163.com/mobilemail/home.do?username=m13912356781&amp;domain=163.com&amp;from=dm_ag" style="color: rgb(31, 94, 135);" target="_blank"><img src="template124/btn1.gif" alt="激活网易手机号码邮箱" border="0" height="24" width="143"></a></p>
                <p style="text-align:right;">网易邮件中心<br>
                2012年6月2日</p>
                <div style="height:1px;background:#ddd;overflow:hidden;"></div>
                <p style="margin:15px 0;color:#717171;font-size:12px;">
                    <strong>温馨提示：</strong><br>
                    1.只要知道好友手机号码，您就可给他发邮件，格式：“手机号码@163.com”<br>
                    2.如果您换手机号码，原来的网易手机号码邮箱被人注册，您将不能使用原手机号码来登录邮箱，只能使用主帐号来登录。<br>
                    3.如果您想用简版邮箱，请登录：http://123.163.com；如果您想使用完整版邮箱，请登录：http：//email.163.com<br>
                    4.如果您手机换号，请登录完整版邮箱，删除旧号码，并激活您的新号码，同时告知好友变更情况。<br>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td><img src="template124/footer.jpg" height="20" width="598"></td>
    </tr>
</tbody></table>
 

<script language="javascript">try{parent.JS.modules[window.name].content.setHeight();}catch(e){}</script>
</body></html>