<html><head>
<title> 《制图与CAD》教学的专业软件应用与研究--浩辰CAD教育版：第07期
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<link href="%E3%80%8A%E5%88%B6%E5%9B%BE%E4%B8%8ECAD%E3%80%8B%E6%95%99%E5%AD%A6%E7%9A%84%E4%B8%93%E4%B8%9A%E8%BD%AF%E4%BB%B6%E5%BA%94%E7%94%A8%E4%B8%8E%E7%A0%94%E7%A9%B6--%E6%B5%A9%E8%BE%B0CAD%E6%95%99%E8%82%B2%E7%89%88%EF%BC%9A%E7%AC%AC07%E6%9C%9F_files/style.css" type="text/css" rel="stylesheet">
</head>

<body>
<table id="__01" border="0" cellpadding="0" cellspacing="0" height="1759" width="730" align="center">
  <tbody> 
  <tr>
    <td colspan="2"><img alt="" src="template118/index_01.gif" height="44" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_02.gif" usemap="#Map" border="0" height="105" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_03.gif" usemap="#Map2" border="0" height="111" width="730"></td>
  </tr>
  <tr>
    <td><img alt="" src="template118/index_04.jpg" usemap="#Map3" border="0" height="252" width="400"></td>
    <td><img alt="" src="template118/index_05.gif" usemap="#Map4" border="0" height="252" width="330"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_06.gif" usemap="#Map5" border="0" height="70" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_07.jpg" usemap="#Map6" border="0" height="181" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_08.jpg" usemap="#Map7" border="0" height="206" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_09.jpg" usemap="#Map8" border="0" height="208" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_10.jpg" usemap="#Map9" border="0" height="219" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_11.jpg" usemap="#Map10" border="0" height="50" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_12.gif" usemap="#Map11" border="0" height="178" width="730"></td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" src="template118/index_13.gif" usemap="#Map12" border="0" height="135" width="730"></td>
  </tr>
  </tbody>
</table>
<map name="Map">
  <area shape="RECT" target="_blank" coords="261,37,517,77" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTU4OC5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="611,60,708,98" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy53ZWliby5jb20vZ3N0YXJjYWQ=&amp;email=##L@##H">
</map>
<map name="Map2">
  <area shape="RECT" target="_blank" coords="179,32,336,90" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vVF9zZWNvbmRfbmV3cy9pbmRleF8zNzguaHRtbA==&amp;email=##L@##H">
</map>
<map name="Map3">
  <area shape="RECT" target="_blank" coords="43,25,347,52" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ny5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="40,64,398,226" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ny5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="325,228,398,251" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ny5odG1s&amp;email=##L@##H">
</map>
<map name="Map4">
  <area shape="RECT" target="_blank" coords="6,18,289,227" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ny5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="7,231,291,270" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ny5odG1s&amp;email=##L@##H">
</map>
<map name="Map5">
  <area shape="RECT" target="_blank" coords="20,27,223,57" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vVF9zZWNvbmRfbmV3cy9pbmRleF8zNzguaHRtbA==&amp;email=##L@##H">
</map>
<map name="Map6">
  <area shape="RECT" target="_blank" coords="38,24,226,150" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NC5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="249,5,426,23" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NC5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="249,28,709,134" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NC5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="614,148,709,180" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NC5odG1s&amp;email=##L@##H">
</map>
<map name="Map7">
  <area shape="RECT" target="_blank" coords="39,41,225,168" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0My5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="248,23,418,45" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0My5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="249,46,709,170" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0My5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="621,174,709,204" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0My5odG1s&amp;email=##L@##H">
</map>
<map name="Map8">
  <area shape="RECT" target="_blank" coords="39,47,228,171" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NS5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="248,15,507,46" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NS5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="249,54,710,165" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NS5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="616,171,709,207" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0NS5odG1s&amp;email=##L@##H">
</map>
<map name="Map9">
  <area shape="RECT" target="_blank" coords="39,38,225,162" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ni5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="248,12,591,41" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ni5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="248,45,709,175" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ni5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="617,178,709,213" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTY0Ni5odG1s&amp;email=##L@##H">
</map>
<map name="Map10">
  <area shape="RECT" target="_blank" coords="22,3,244,35" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF80Ny5odG1s&amp;email=##L@##H">
</map>
<map name="Map11">
  <area shape="RECT" target="_blank" coords="37,9,222,147" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF80Ny5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="241,7,710,44" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20v&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="240,52,710,124" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20v&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="622,127,709,163" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20v&amp;email=##L@##H">
</map>
<map name="Map12">
  <area shape="RECT" target="_blank" coords="150,17,214,44" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20v&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="217,18,282,45" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vVF9zZWNvbmRfbmV3cy9pbmRleF8zNzguaHRtbA==&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="290,18,347,45" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vVF9kb3dubG9hZC9saXN0XzEuaHRtbA==&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="355,19,411,44" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vVF9zZWNvbmRfbmV3cy9pbmRleF8zOTkuaHRtbA==&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="419,19,477,45" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTU4OC5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="555,19,631,49" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF8zNzhfY29udGVudHBhZ2VfMTU4OC5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="483,19,544,47" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9aHR0cDovL3d3dy5nc3RhcmNhZC5jb20vdF9zZWNvbmRfbmV3cy9pbmRleF80Ny5odG1s&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="302,47,406,75" href="http://mail.gstarcad.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9qeTA3JmZsYWc9MTMyMTQzNzMyNSZ1cmw9bWFpbHRvOndlYg==&amp;email=##L@##H" @gstarcad.com"="">
</map>
</body></html>