<html><head>
<title> 从KPI到KCI，360度助力国企年终考核
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table style="font-size: 12px;" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
    <td align="center" bgcolor="#cccccc" valign="top">
      <table style="line-height: 200%; font-size: 12px;" border="0" cellpadding="0" cellspacing="0" width="650">
        <tbody>
        <tr>
          <td><img src="template154/banner.jpg" height="190" width="650"></td>
        </tr>
        <tr>
          <td align="center" bgcolor="#ffffff" valign="middle">
            <table border="0" cellpadding="0" cellspacing="0" width="600">
              <tbody>
              <tr>
                <td style="font-size: 12px;" align="left" bgcolor="#ffffff">
                  <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="106" valign="bottom">　 
                              　（新华网讯）随着中秋的结束，一年一度的国企年终考核也逐渐拉开序幕。为科学、客观对国企进行年终考核，中组部、国资委相继印发了《中央企业领导人员管 
                              理暂行规定》和《中央企业领导班子和领导人员综合考核评价办法(试行)》。规定要求在贯彻执行党的路线方针政策前提下，充分吸收360度考核的理念，逐步 
                              建立以业绩为导向的综合考核评价机制。</td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="26">　　但国企年终考核考什么？怎么考？对于社会大众来说，一直是一个比较神秘的话题。 
                            </td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="50">　“以前我们在年终考核打分时，由于对上级领导的真正作为知之不多，而且往往碍于面子，给所有参评领导、部门都打高分。”在采访中，某北京国企人事干部向记者坦言。</td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="40">　　据长期参与国企考核的著名人才测评机构诺姆四达副总裁纪超介绍，眼下在个别国企年终考核中，存在着一种“月饼包装现象”，剥开一层层维多利亚式的华丽外衣，却发现内部相差无几，包装的形式远大于内容。 
                            </td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left">
                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                <tbody>
                                <tr>
                                  <td width="507"><img alt="" src="template154/title01.jpg" height="48" width="500"></td>
                                  <td width="93"></td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="78">　 
                              　目前我国国企年终考核大体分为两个部分：一是KPI（关键绩效指标），此部分一般有明确的目标和数据，较容易审核。二是民主测评，即全员打分阶段，由于 
                              大家处于一个系统，往往碍于情面，较难给出比较客观公正的考核分数，有些大、中型国企，甚至出现了在排名上轮流坐庄的“潜规则”。</td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="46">　　 
                              针对目前国企年终考核存在的问题，记者了解到已有第三方机构为此提供了专业化的国企考核服务，典型有的像著名人才测评机构诺姆四达推出的新一代国企年终考核系统等。<a class="linkStyle" href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8yMSZmbGFnPTEzMTk1MTk1NjcmdXJsPWh0dHA6Ly8yMjIuMzUuMTM2LjY0L21haWwvMjAxMTEwMDgvaW5kZXgxLmh0bWw=&amp;email=##L@##H">(查看更多)</a></td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left">
                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                <tbody></tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left">
                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                <tbody></tbody>
                              </table>
                            </td>
                          </tr>
                          <tr></tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" bgcolor="#ffffff">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody></tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td background="template154/2-2.jpg">
            <table border="0" cellpadding="0" cellspacing="0" width="650">
              <tbody>
              <tr>
                <td width="410">&nbsp;</td>
                <td width="30"><a href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8yMSZmbGFnPTEzMTk1MTk1NjcmdXJsPWh0dHA6Ly93ZWliby5jb20vbm9ybXN0YXJzaA==&amp;email=##L@##H" target="_blank"><img src="template154/foot.jpg" height="36" width="30"></a></td>
                <td width="210">&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body></html>