<html><head>
<title> 2013最新司法考试课程下载
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
</style>
<table border="0" height="80" width="600" align="center">
  <tbody> 
  <tr>
    <td height="80" width="167"><img src="template138/taobao.jpg" border="0" height="68" width="159"></td>
    <td height="80" width="57"><img src="template138/xuxian.jpg" border="0" height="90" width="29"></td>
    <td height="80" width="362">
      <p style="line-height:15px;"><br>
        <font color="#808080" style="font-size:12px;line-height:16px">如果您看不见图片请点击<a href="http://edm.edugl.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMl8xMSZmbGFnPTEzNTUxMzM3MjUmdXJsPWh0dHA6Ly9pdGVtLnRhb2Jhby5jb20vaXRlbS5odG0/c3BtPTY4Ni4xMDAwOTI1LjEwMDA3NzQuMjAuM1R2U2FmJmlkPTEzMTQ2MTg5NzA4&amp;email=##L@##H">这里</a><br>
        请把发件人邮箱加入白名单，以确保正常及时接收邮件<br>
        如果您不愿意继续接收，请点击退订本类邮件 </font></p>
    </td>
  </tr>
  </tbody>
</table>
<table border="0" height="300" width="600" align="center">
  <tbody> 
  <tr>
    <td height="300" width="600"><a href="http://edm.edugl.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xMl8xMSZmbGFnPTEzNTUxMzM3MjUmdXJsPWh0dHA6Ly9pdGVtLnRhb2Jhby5jb20vaXRlbS5odG0/c3BtPTY4Ni4xMDAwOTI1LjEwMDA3NzQuMjAuM1R2U2FmJmlkPTEzMTQ2MTg5NzA4&amp;email=##L@##H"><img src="template138/tupian1.jpg" border="0" height="355" width="598"></a></td>
  </tr>
  </tbody>
</table>
<table bgcolor="#ff3399" border="0" height="30" width="600" align="center">
  <tbody> 
  <tr>
    <td height="30" width="600">&nbsp;<font color="#ffffff" style="font-size:14px;"><span style="letter-spacing:3px;font-weight:700;">红红考资</span></font></td>
  </tr>
  </tbody>
</table>
<table border="0" height="150" width="600" align="center">
  <tbody> 
  <tr>
    <td height="150" width="600">
      <table border="0" height="100" width="600">
        <tbody>
        <tr>
          <td style="text-align:left;padding-bottom:5px;line-height:24px;padding-left:30px;padding-right:30px;background:#f6f6f6;color:#666;padding-top:10px;"><b><span style="font-size:11pt;">司法考试超高清视频课程，开始报名了，汇聚国内名师。业内最全最清晰的视频课件下载站。<br>
            全新的百兆双线服务器下载系统，让你更快，更优的，享受到高清的视频课程，再也不用为到处找资料发愁了，司法考试，有我们为你保驾护航。<br>
            高清视频课程下载地址：www.edugl.com</span></b><br>
          </td>
        </tr>
        </tbody>
      </table>
      <table bgcolor="#ff3399" border="0" height="30" width="600">
        <tbody>
        <tr>
          <td height="30" width="600"><span style="letter-spacing:3px;font-weight:700;"><font color="#ffffff" style="font-size:14px;">&nbsp;部分视频截图</font></span></td>
        </tr>
        </tbody>
      </table>
      <table border="0" height="100" width="600">
        <tbody>
        <tr>
          <td align="center" height="100" width="200" valign="top"><img src="template138/tupian2.jpg" border="0" height="99" width="190"> 
          </td>
          <td align="center" height="100" width="200" valign="top"><img src="template138/tupian3.jpg" border="0" height="99" width="190"> 
          </td>
          <td align="center" height="100" width="200" valign="top"><img src="template138/tupian4.jpg" border="0" height="99" width="190"></td>
        </tr>
        </tbody>
      </table>
      <table border="0" height="100" width="600">
        <tbody>
        <tr>
          <td style="text-align:left;padding-bottom:5px;line-height:24px;padding-left:30px;background:#f6f6f6;color:#666;padding-top:10px;"><strong style="color:#333;">请不要直接回复此邮件，您可以通过点击以下链接了解常见问题。</strong><br>
            <span style="color:#b70031;">*</span>相关价格或促销内容如有调整，以网站最终页面为准。<br>
            <span style="color:#b70031;">*</span>如您不希望再次收到我们的邮件，请随时点击这里取消订阅。<br>
            <span style="color:#b70031;">*</span>其它任何问题欢迎您咨询QQ:804449899。<br>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<img src="2013%E6%9C%80%E6%96%B0%E5%8F%B8%E6%B3%95%E8%80%83%E8%AF%95%E8%AF%BE%E7%A8%8B%E4%B8%8B%E8%BD%BD_files/probe.htm" border="0" height="1" width="1"> 
</body></html>