<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>寻爱网</title>
</head>

<body>
<table width="960" style="background:#e4e4e4;margin:0 auto;"><tr><td>
    <table width="680" cellpadding="0" cellspacing="0" style="background:#fff;margin:0 auto;"><tr><td>
    	<table width="680" height="20" style="background:url(template183/mail-a.gif) no-repeat bottom;"><tr><td></td></tr></table>
    	<table width="680" height="30" style="background:url(template183/mail-b.gif) repeat-x;"><tr><td></td></tr></table>
        <table width="680" height="80">
        	<tr>
            	<td width="210" align="center"><a href="http://www.0261.com"><img src="template183/logo.gif" border="0" /></a></td>
                <td width="490"><img src="template183/403-2-h.gif" /></td>
            </tr>
        </table>
        <table width="680" height="260" style="background:url(template183/main.png);">
        	<tr height="100"><td width="70">&nbsp;</td><td>&nbsp;</td></tr>
            <tr height="160"><td>&nbsp;</td><td><a href="#"><img src="template183/btn.png" border="0" /></a></td></tr>
        </table>
        <table width="680" height="34" style="background:#f94977;">
        	<tr>
            	<td style="font-size:14px;color:#fff;font-weight:700;">&#12288;会员推荐</td>
                <td align="right"><a href="#" style="font-size:12px;color:#fff;">更多>></a>&#12288;</td>
            </tr>
        </table>
        <table width="680">
        	<tr align="center" height="140">
            	<td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=35109661"><img src="template183/photoa.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=988949"><img src="template183/photob.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=990490"><img src="template183/photoc.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=1198634"><img src="template183/photod.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=934674"><img src="template183/photoe.jpg" border="0" /></a></td>
            </tr>
            <tr height="30" align="center" style="font-size:12px;">
            	<td>21岁，莆田</td>
                <td>30岁，上海</td>
                <td>28岁，长治</td>
                <td>26岁，香港</td>
                <td>29岁，长沙</td>
            </tr>
            <tr align="center" height="140">
            	<td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=35104920"><img src="template183/photof.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=504876"><img src="template183/photog.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=35107124"><img src="template183/photoh.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=992702"><img src="template183/photoi.jpg" border="0" /></a></td>
                <td><a href="http://www.0261.com/index.php?n=space&h=viewpro&uid=2300774"><img src="template183/photoj.jpg" border="0" /></a></td>
            </tr>
            <tr height="30" align="center" style="font-size:12px;">
            	<td>26岁，上海</td>
                <td>29岁，武山</td>
                <td>21岁，北京</td>
                <td>20岁，北京</td>
                <td>22岁，深圳</td>
            </tr>
        </table>
    </td></tr></table>
</td></tr></table>
</body>
</html>