<html><head>
<title> 春节回家送紫环颈椎治疗仪仅695！再送399元紫环足部按摩器！
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td style="font-size: 12px; background-color: rgb(242, 242, 242);" colspan="8" height="30" align="right">如果图片不能显示，请<a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjNmJmRhdD05NzE2JnVybD0vYWN0aW9uL2FjdGlvbjEyNC5zaHRtbA==&amp;email=##L@##H" target="_blank">点击查看</a></td>
  </tr>
  <tr>
    <td colspan="8"><img alt="橡果国际24小时热线400-810-9716" src="template152/heard09.jpg" height="64" width="700"></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20v&amp;email=##L@##H" target="_blank"><img alt="首页" src="template152/heard01.jpg" border="0" height="33" width="100"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vcHJvbW90aW9uL2ppbmxpYTM1MC8=&amp;email=##L@##H" target="_blank"><img alt="金立" src="template152/heard02.jpg" border="0" height="33" width="75"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vYmFiYWthX25ldy8=&amp;email=##L@##H" target="_blank"><img alt="背背佳" src="template152/heard03.jpg" border="0" height="33" width="82"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vcHJvbW90aW9uL2FveWEv&amp;email=##L@##H" target="_blank"><img alt="奥雅" src="template152/heard04.jpg" border="0" height="33" width="74"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vb3ppbmdfbmV3Lw==&amp;email=##L@##H" target="_blank"><img alt="好记星" src="template152/heard05.jpg" border="0" height="33" width="83"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vcHJvbW90aW9uLzIwMTEveWllcmppYW4v&amp;email=##L@##H" target="_blank"><img alt="益尔健" src="template152/heard06.jpg" border="0" height="33" width="90"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vc2hvdWNhbmcv&amp;email=##L@##H" target="_blank"><img alt="收藏品" src="template152/heard07.jpg" border="0" height="33" width="82"></a></td>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vY2h1ZmFuZ2ppYWRpYW4v&amp;email=##L@##H" target="_blank"><img alt="综合" src="template152/heard08.jpg" border="0" height="33" width="114"></a></td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_01.jpg" border="0" height="113" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_02.jpg" border="0" height="116" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_03.jpg" border="0" height="129" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_04.jpg" border="0" height="128" width="700"></a></td>
  </tr>
  <tr>
    <td style="padding-left: 260px; font-size: 14px; line-height: 30px;" background="template152/edm_05.jpg" height="184" width="700"><strong>“紫环'颈椎治疗仪二代功能</strong><br>
      1、牵引复位，缓解颈椎僵硬<br>
      2、改善睡眠，增加睡眠深度<br>
      3、消除水肿、炎症、改善脑供血不足<br>
      4、电极贴片可对全身任意疼痛点治疗</td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_06.jpg" border="0" height="85" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_07.jpg" border="0" height="63" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_08.jpg" border="0" height="68" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_09.jpg" border="0" height="136" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_10.jpg" border="0" height="76" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_11.jpg" border="0" height="78" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_12.jpg" border="0" height="84" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_13.jpg" border="0" height="70" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_14.jpg" border="0" height="63" width="700"></a></td>
  </tr>
  <tr>
    <td><a href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vZG9fZGF0LmpzcD9zaWQ9ZWRtMjAxMTEyMjlhJmRhdD05NzE2JnVybD0vcHJvbW90aW9uLzIwMTEvemlodWFuLw==&amp;email=##L@##H" target="_blank"><img alt="紫环颈椎治疗仪二代" src="template152/edm_15.jpg" border="0" height="84" width="700"></a></td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700">
  <tbody>
  <tr>
    <td style="padding: 0px 10px; font-size: 12px; color: rgb(51, 51, 51); line-height: 16px; background-color: rgb(232, 232, 232);" colspan="3" height="75" valign="center" width="680">您之所以收到这封邮件，是因为您曾经注册成为橡果商城的用户。<br>
      本邮件由橡果系统发出，请勿直接回复！ <br>
      如果您有任何疑问或建议，请联系我们。橡果商城（<a style="color: rgb(204, 0, 0);" href="http://edm.xiangguoguoji.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDEyMzAmZmxhZz0xMzI1MjE1MDI5JnVybD1odHRwOi8vd3d3LmNoaW5hZHJ0di5jb20vbG9naW4uanNwP2ZmbGFnPTE=&amp;email=##L@##H" target="_blank">www.chinadrtv.com</a>） 
      - 橡果国际官方购物网站，正品保障，先行赔付。 </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" height="1" width="700"></td>
  </tr>
  <tr>
    <td style="font-size: 12px;" colspan="3" bgcolor="#cccccc" height="45" align="center" valign="center" width="700">Copyright 
      2009-2010 www.chinadrtv.com All Rights Reserved<br>
      橡果国际 版权所有</td>
  </tr>
  </tbody>
</table>
</body></html>