<html><head>
<title> 您注册的商标已经公告，请核实信息。
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="674">
  <tbody> 
  <tr> 
    <td background="template174/e-shot_2.jpg" height="50" valign="bottom"> 
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody> 
        <tr> 
          <td align="center" background="template174/e-shot_2.jpg" height="40" width="28%"><img src="template174/e-shot_2-1.jpg" height="86" width="142"></td>
          <td style="font-weight: 700; font-size: 14px; color: rgb(0, 0, 0);" background="template174/e-shot_2.jpg" valign="bottom" width="72%"> 
            <table border="0" cellpadding="0" cellspacing="0" height="80" width="481">
              <tbody> 
              <tr> 
                <td align="right" width="481"> 
                  <table border="0" width="478">
                    <tbody> 
                    <tr> 
                      <td style="font-size: 12px;" width="301"><a style="color: rgb(255, 0, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20=&amp;email=##L@##H" target="_blank">如邮件不能正常显示，请点击此处</a></td>
                      <td width="17"><img src="template174/gywm.jpg" height="16" width="17"></td>
                      <td style="font-size: 12px;" width="61"><a style="color: rgb(102, 102, 102);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20vQVBQQ0hBWFVOL2pzY3guYXNw&amp;email=##L@##H" target="_blank">快速查询</a></td>
                      <td width="18"><img src="template174/gywm.jpg" height="16" width="17"></td>
                      <td style="font-size: 12px;" width="59"><a style="color: rgb(102, 102, 102);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5pbmlwby5jbi9BZGRlbmRhL2xpbmsv&amp;email=##L@##H" target="_blank">联系我们</a></td>
                    </tr>
                    </tbody> 
                  </table>
                </td>
              </tr>
              <tr> 
                <td style="font-weight: 700; font-size: 14px; color: rgb(0, 0, 0);"><span style="color:#ff6600;"><a style="color: rgb(255, 102, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5pbmlwby5jbg==&amp;email=##L@##H" target="_blank">商标首页</a> 
                  | <a style="color: rgb(255, 102, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5pbmlwby5jbi9odG1sL3Nia3Qv&amp;email=##L@##H" target="_blank">商标注册</a></span><span class="STYLE1"> 
                  | <a style="color: rgb(255, 102, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5pbmlwby5jbi9odG1sL2dqemN5dy8=&amp;email=##L@##H" target="_blank">国际注册</a> 
                  | <a style="color: rgb(255, 102, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20=&amp;email=##L@##H" target="_blank">商标查询</a> 
                  | <a style="color: rgb(255, 102, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20vQVBQQ0hBWFVOL3NwZmwuQVNQ&amp;email=##L@##H" target="_blank">商品分类</a> 
                  | <a style="color: rgb(255, 102, 0);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20vQVBQQ0hBWFVOL3NiZ2cuQVNQ&amp;email=##L@##H" target="_blank">商标公告</a></span></td>
              </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <tr> 
    <td><a href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20=&amp;email=##L@##H" target="_blank"><img src="template174/e-shot_9.jpg" border="0" height="122" width="674"></a></td>
  </tr>
  <tr> 
    <td background="template174/e-shot_11.jpg" height="23">&nbsp;</td>
  </tr>
  <tr> 
    <td height="23"> 
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody> 
        <tr> 
          <td valign="top" width="250"> 
            <table border="0" cellpadding="0" cellspacing="0" width="246">
              <tbody> 
              <tr> 
                <td background="template174/e-shot_13.jpg" height="49"> 
                  <div style="font-weight:700;font-size:14px;color:#ffffff;" align="center">商标注册证</div>
                </td>
              </tr>
              <tr> 
                <td height="374"> 
                  <div align="center"><img src="template174/e-shot_1.jpg" height="338" width="239"></div>
                </td>
              </tr>
              </tbody> 
            </table>
          </td>
          <td valign="top" width="22"> 
            <div align="center"><img src="template174/e-shot_15.jpg" height="272" width="7"></div>
          </td>
          <td valign="top" width="402"> 
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="92%">
              <tbody> 
              <tr> 
                <td style="font-size: 14px; line-height: 20px;"><font color="#ff0000"><b>请核准您的商标：</b></font><br>
                  <div style="font-size:14px;" align="left"> 
                    <table border="0" height="132" width="357">
                      <tbody> 
                      <tr> 
                        <td><font style="font-size:14px;">经过我们的查询，您注册的商标详情如下：</font></td>
                      </tr>
                      <tr> 
                        <td>&nbsp;<font style="font-size:14px;" color="#990000">● 
                          注册号：9475761</font></td>
                      </tr>
                      <tr> 
                        <td>&nbsp;<font style="font-size:14px;" color="#990000">● 
                          商标名：乾济堂</font></td>
                      </tr>
                      <tr> 
                        <td>&nbsp;<font style="font-size:14px;" color="#990000">● 
                          类别号：33类</font></td>
                      </tr>
                      <tr> 
                        <td style="font-size: 14px; line-height: 20px;"> 
                          <p>您的商标已经核准公告。在公告期中您的商标有可能会被异议，您需要对商标异议做出答辩。<br>
                            如果该商标不是您的，或者有任何其他的商标问题。</p>
                          <font color="#ff6600"><b>请联系您的商标服务专员：</b></font></td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              </tbody> 
            </table>
            <table align="center" bgcolor="#ebf7ac" border="0" cellpadding="22" cellspacing="1" width="375">
              <tbody> 
              <tr> 
                <td bgcolor="#f8ffde"> 
                  <table border="1" bordercolor="#fbf1c6" cellpadding="0" cellspacing="0" width="321">
                    <tbody> 
                    <tr> 
                      <td align="right" bgcolor="#f8ffde" height="25" width="78"><font style="font-size:14px;line-height:20px;" color="#cc6600">公司名称：</font></td>
                      <td style="font-size: 14px; line-height: 20px;" bgcolor="#f8ffde" width="237">北京欧邦知识产权代理有限公司</td>
                    </tr>
                    <tr> 
                      <td align="right" bgcolor="#f8ffde" height="25"><font style="font-size:14px;line-height:20px;" color="#cc6600">联系人：</font></td>
                      <td style="font-size: 14px; line-height: 20px;" bgcolor="#f8ffde">许小姐</td>
                    </tr>
                    <tr> 
                      <td align="right" bgcolor="#f8ffde" height="25"><font style="font-size:14px;line-height:20px;" color="#cc6600">电话：</font></td>
                      <td style="font-size: 14px; line-height: 20px;" bgcolor="#f8ffde">010-51666240-204</td>
                    </tr>
                    <tr> 
                      <td align="right" bgcolor="#f8ffde" height="25"><font style="font-size:14px;line-height:20px;" color="#cc6600">QQ号码：</font></td>
                      <td style="font-size: 14px; line-height: 20px;" bgcolor="#f8ffde">1024806764</td>
                    </tr>
                    <tr> 
                      <td align="right" bgcolor="#f8ffde" height="25"><font style="font-size:14px;line-height:20px;" color="#cc6600">email：</font></td>
                      <td style="font-size: 14px; line-height: 20px;" bgcolor="#f8ffde">ctmg@inipo.cn</td>
                    </tr>
                    </tbody> 
                  </table>
                </td>
              </tr>
              </tbody> 
            </table>
            <br>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="375">
              <tbody> 
              <tr> 
                <td height="40"> 
                  <div align="center"><a style="font-size: 14px; color: rgb(255, 255, 255);" href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9Iw==&amp;email=##L@##H"></a><a href="http://edm.chntm.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF94dXpoZW56aGVuJmZsYWc9MTMzMTI1ODM4MiZ1cmw9aHR0cDovL3d3dy5jaGF0bS5jb20=&amp;email=##L@##H" target="_blank"><img alt="" src="template174/e-shot_21.jpg" border="0" height="40" width="375"></a></div>
                </td>
              </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  </tbody> 
</table>
<table class="contents" align="center" border="1" bordercolor="#fbf1c6" cellpadding="0" cellspacing="0" width="665">
  <tbody> 
  <tr> 
    <td align="center" bgcolor="#f8ffde" valign="center" width="411"> 
      <table border="0" height="110" width="395">
        <tbody> 
        <tr> 
          <td style="font-size: 12px; line-height: 20px;" height="106" width="396"><font color="#ff0000">声明：</font>您之所以收到这封邮件，是因为您曾经在中国商标在线查询商标。我们根据您的商标向您反馈信息。我们保证仅向您发送关于商标具体的电子邮件。我们尊重并保护您的隐私。<br>
            如果您不想继续接收来自中国商标在线的本类邮件，请点击退订本类邮件。 <br>
            商标信息有任何变动，最终以中国商标网的数据为准。<br>
            任何问题欢迎您致电或邮件联系国注册商标在客服中心：400-705-0155。</td>
        </tr>
        </tbody> 
      </table>
    </td>
    <td colspan="2" align="center" bgcolor="#f8ffde" height="169" valign="center" width="248"><img src="template174/bkright.jpg" height="175" width="248"></td>
  </tr>
  </tbody> 
</table>
<p></p>
</body></html>