<html><head>
<title> {%%name%%},学而思实习绿色通道向你开放了！　
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<link href="%7B%%name%%%7D,%E5%AD%A6%E8%80%8C%E6%80%9D%E5%AE%9E%E4%B9%A0%E7%BB%BF%E8%89%B2%E9%80%9A%E9%81%93%E5%90%91%E4%BD%A0%E5%BC%80%E6%94%BE%E4%BA%86%EF%BC%81_files/style.css" type="text/css" rel="stylesheet">
</head>

<body><br>
<table width="600" align="center">
  <tbody> 
  <tr>
    <td></td>
    <td height="60"></td>
  </tr>
  <tr>
    <td width="40"></td>
    <td style="font-size: 14px;" height="30" valign="middle">恭喜！</td>
  </tr>
  <tr>
    <td></td>
    <td height="20"></td>
  </tr>
  <tr>
    <td></td>
    <td style="font-size: 14px;" height="30" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;我们在大街网开通了储备人才库，并向 
      <strong>{%%school%%}</strong>&nbsp;<strong>{%%major%%}</strong> 专业的优秀学生提供了<strong>实习绿色通道</strong>，你已被大街网成功推荐！ 
      <p>&nbsp;&nbsp;&nbsp;&nbsp;现正式向你发出邀请，请在<span style="color:red;">一周内</span>点击以下链接接受邀请。 
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://199.15.117.68/%7B%%url%%%7D">{%%url%%}</a> 
      </p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="font-size: 14px;" height="30" valign="middle">
      <p align="right">祝好！</p>
      <p align="right">学而思招聘团队</p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td height="40"></td>
  </tr>
  <tr>
    <td></td>
    <td style="border-bottom: 1px solid rgb(224, 224, 224); line-height: 2px; font-size: 12px;" height="2">&nbsp;</td>
  </tr>
  <tr>
    <td></td>
    <td style="line-height: 24px; color: rgb(153, 153, 153); font-size: 12px;">本邮件包含登录信息，<span style="font-weight:bold;">请勿转发他人</span>。系统自动发出，<span style="font-weight:bold;">请勿直接回复</span>。<br>
      如有疑问或建议，可发送邮件至<a href="mailto:service@dajie.com">service@dajie.com</a>，或致电:400-813-1117 
    </td>
  </tr>
  </tbody>
</table>
</body></html>