<html><head>
<title> 安全提醒，第一期密宝已失效
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:12pt;}
</style>

<table align=center>
  <tbody> 
  <tr> 
    <td> 
      <style>#wrap{ width:814px ; border:1px solid #89C2F1; height:auto; margin:0px auto}.clear{ clear:both; font-size:0px}#titletop{ margin:18px auto; width:815px; height:auto; padding:7px 0px 1px 0px; margin-bottom:0px}.middle { padding:20px 60px 0px 60px; height:400px; font-size:12px}#tip{ margin-top:15px; font-size:12px; margin-left:70px; border:1px dotted #999999; width:450px}#tip a{ margin-right:30px; color:#0068cf; display:inline; font-size:12px}.middle a{ display:block; margin:20px 0px 0px 0px}.middle p{ font-size:12px; margin:15px 0px 0px 0px}.middle table td{ font-size:12px}.bottom{  height:50px; font-size:12px}.bottom table td{ font-size:12px}.bottom span { color:white; font-size:12px; line-height:30px; vertical-align:middle}.bottom span img { margin-left:260px }</style>
      <form>
        <input id="__VIEWSTATE" value="/wEPDwUKLTg4ODg4NDMxOQ9kFgICAw9kFgJmDw8WAh4EVGV4dAUKMjAxMS0wOC0wMWRkZGP51oLztLGTyBdfMr+t8YzKmeZx" name="__VIEWSTATE" type="hidden">
        <div id="titletop"><img style="margin-top: 3px; float: left;" src="template143/logo_sdo2.gif" align="middle"> 
          <div class="clear"></div>
        </div>
        <div id="wrap" style="border-top-style:none;">
          <div class="middle" style="padding-right:0px;padding-left:0px;padding-bottom:0px;width:814px;border-top-style:none;padding-top:0px;height:auto;border-bottom-style:none;">
            <table border="0" cellpadding="0" cellspacing="0" width="814">
              <tbody>
              <tr>
                <td style="border-top: 1px solid rgb(137, 194, 241);" align="left" bgcolor="#d5e9f9" height="36" valign="bottom">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                      <td class="14pxblack" style="padding-left: 18px; font-size: 14px;" align="left" bgcolor="#ffffff" height="30" valign="center" width="164">保护盛大账号的安全</td>
                      <td align="left" valign="bottom" width="632">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td align="left" height="30">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                  <td align="left" bgcolor="#ffffff" height="30" width="121">
                                    <table style="margin-left: 17px;" border="0" cellpadding="0" cellspacing="0" width="86%">
                                      <tbody>
                                      <tr>
                                        <td style="color: rgb(209, 209, 209);"><img style="margin-right: 7px;" src="template143/num1-1.gif" align="absMiddle" height="13" width="13">填写密宝信息</td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td align="left" bgcolor="#ffffff" width="18"><img style="margin-left: 4px;" src="template143/arrow.gif" height="9" width="10"></td>
                                  <td align="left" bgcolor="#ffffff" width="120">
                                    <table style="margin-left: 8px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                      <tr>
                                        <td style="color: rgb(209, 209, 209);"><img style="margin-right: 7px;" src="template143/num2-1.gif" align="absMiddle" height="13" width="13">启用成功</td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td align="left" bgcolor="#ffffff" width="16"><img src="template143/arrow.gif" height="9" width="10"></td>
                                  <td align="left" bgcolor="#d5e9f9">
                                    <table style="margin-left: 6px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                      <tr>
                                        <td style="color: rgb(0, 0, 0);"><img style="margin-right: 7px;" src="template143/num3.gif" align="absMiddle" height="13" width="13">邮箱手机认证</td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                            <td bgcolor="#d5e9f9">&nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="middle">遵敬的盛大用户，您好！<br>
            <br>
            <span style="padding-left:24px;">由于我们安全系统的升级,您的密宝必须启用后才能保护您的账号安全,盛大网络安全中心提醒您,为了您的账号安全,请您立即启用您的密宝.</span><span style="padding-left:24px;">&nbsp;<a href="http://mail.yxdf2.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDA4MTYmZmxhZz0xMzEzNTIwNTQ3JnVybD1odHRwOi8vYW5xdWFuLnNkby5kc2F4ei5jb20vbG9naW5QVC5hc3A/&amp;email=##L@##H">点击此处登录官方查询</a></span> 
            您可以点击以下链接启用您的密宝声请流程<a href="http://mail.yxdf2.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDA4MTYmZmxhZz0xMzEzNTIwNTQ3JnVybD1odHRwOi8vYW5xdWFuLnNkby5kc2F4ei5jb20vbG9naW5QVC5hc3A/&amp;email=##L@##H" target="_blank">http://anquan.sdo.dsaxz.com/loginPT.asp?/www.sdo.com=14176f16-59f0-4893-9c4b-</a> 
            <p></p>
            <p style="padding-left:24px;">如有任何问题，请拨打我们的客服热线<span style="color:red;">021-50514724</span>或发邮件至<a style="display: inline;" href="http://mail.yxdf2.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDA4MTYmZmxhZz0xMzEzNTIwNTQ3JnVybD1tYWlsdG86cmVnc2Rv&amp;email=##L@##H" @snda.com"="">servize@sdo.com</a>，谢谢！</p>
            <p style="font-size:12px;color:#999999;">注：<br>
              <span style="margin-left:30px;">1.如果你的邮件阅读程序不支持点击，请将上面的地址拷贝至您的浏览器（例如IE）的地址栏后打开。</span><br>
              <span style="margin-left:30px;">2.这是一封自动生成的邮件，请勿直接回复本邮件。</span></p>
            <p style="text-align:right;">盛大网络<br>
              <span id="lblDate">2011-08-13</span> </p>
          </div>
          <table style="border-top: 1px solid rgb(137, 194, 241);" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td height="50" width="7%">&nbsp;</td>
              <td style="font-size: 12px;" align="left" valign="center" width="80%">上海盛大网络发展有限公司 
                版权所有</td>
              <td align="center" valign="center" width="23%">
                <div align="center"><img style="margin-top: 3px; float: left;" src="template143/logo_sdo2.gif" align="absmiddle" height="40" width="100"> 
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <img style="display: none;" src="template143/ReadEmail.gif" height="0" width="0"> 
      </form>
      <div></div>
      <div></div>
      <!-- -->
      <style></style>
      <div></div>
      <div></div>
      <div></div>
      <img src="%E5%AE%89%E5%85%A8%E6%8F%90%E9%86%92%EF%BC%8C%E7%AC%AC%E4%B8%80%E6%9C%9F%E5%AF%86%E5%AE%9D%E5%B7%B2%E5%A4%B1%E6%95%88_files/probe.htm" border="0" height="1" width="1"><br>
      <p style="font-size:9pt"></p>
      <p></p>
    </td>
  </tr>
  </tbody>
</table>


</body></html>