<html><head>
<title> 明基网上商城—父亲节巨献，献给这世界最爱我的男人
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<div align="center">
  <table border="0" cellpadding="0" cellspacing="0" width="800">
    <tbody>
    <tr>
      <td>
        <map name="FPMap0">
          <area shape="RECT" target="_blank" coords="22,306,179,492" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzMxOA==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="245,307,403,495" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzA1MQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="24,540,191,733" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzA4OQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="237,533,423,734" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzQxMQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="16,773,175,971" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzM0NQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="201,764,403,968" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzM4NQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="435,775,588,968" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzA1Mw==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="618,774,779,968" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNjk3Ng==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="8,1003,184,1200" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzM0NA==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="203,999,378,1197" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL1Byb2R1Y3RfSW5mb19JTUcuYXNweD9Qcm9kdWN0SUQ9MTc0MDg=&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="401,1005,566,1212" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzM3Nw==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="594,995,796,1209" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzMyNg==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="253,1233,399,1449" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzQxMw==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="429,1237,592,1450" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzQxMg==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="627,1240,771,1452" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzEyOQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="11,1479,241,1656" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzM4Nw==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="283,1480,494,1658" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzMxMA==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="526,1471,766,1657" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzI3MQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="40,1696,174,1873" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzI0OA==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="211,1694,367,1873" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzQxNQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="399,1692,547,1875" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzE4NQ==&amp;email=##L@##H">
          <area shape="RECT" target="_blank" coords="594,1685,763,1874" href="http://edm.benq.com.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9zaG9wMSZmbGFnPTEzMzk3MjI2NTUmdXJsPWh0dHA6Ly9zaG9wLmJlbnEuY29tLmNuL3Byb2R1Y3RfaW5mby5hc3B4P1Byb2R1Y3RJRD0xNzMxOQ==&amp;email=##L@##H">
        </map>
        <img src="template172/a.jpg" usemap="#FPMap0" border="0" height="2150" width="800"></td>
    </tr>
    </tbody>
  </table>
</div>
</body></html>