<html><head>
<title> 缤纷圣诞——尚·轻柔羽绒服全场199元
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table summary="" width="700" border="0" cellpadding="0" cellspacing="0" align="center">
  <tbody>
  <tr>
    <td><a title="米尚优品" href="http://edm.misun.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9uZXcxMHcmZmxhZz0xMzIzMzk2MDk3JnVybD1odHRwOi8vd3d3Lm1pc3VuLmNuLw==&amp;email=##L@##H" target="_blank"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color; display: block;" alt="米尚优品" src="template149/edm_top.jpg" width="700" height="73"></a></td>
  </tr>
  <tr>
    <td><a title="缤纷圣诞浪漫狂欢 米尚优品三重惊喜齐分享" href="http://edm.misun.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9uZXcxMHcmZmxhZz0xMzIzMzk2MDk3JnVybD1odHRwOi8vd3d3Lm1pc3VuLmNuL3N0YXRpYy8/dGlkPTE2&amp;email=##L@##H" target="_blank"><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color; display: block;" alt="缤纷圣诞浪漫狂欢 米尚优品三重惊喜齐分享" src="template149/edm_2011-12-8_banner.jpg" width="700" height="269"></a></td>
  </tr>
  </tbody>
</table>
<table width="700" background="template149/edm_thanksgivingday_bodybg.jpg" border="0" cellpadding="0" cellspacing="0" height="286" align="center">
  <tbody>
  <tr>
    <td style="padding: 20px 10px 10px;"><span style="FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: " margin-right:15px;?="" color:#787878;="" 微软雅黑?;="">米尚优品</span><span style="font-size:12px;color:#707070;font-family:arial, helvetica, sans-serif;">在2011年12月9日（星期五）给您发送内容</span> 
    </td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <table summary="" width="672" background="template149/edm_thanksgivingday_contentbg.jpg" border="0" cellpadding="0" cellspacing="0" height="218" align="center">
        <tbody>
        <tr>
          <td style="padding: 0px 15px; line-height: 25px; text-align: left;"><span style="font-weight:bold;font-size:14px;color:#900;text-indent:18px;font-family:arial, helvetica, sans-serif;">缤纷圣诞 
            浪漫狂欢，米尚优品三重惊喜齐分享（活动时间12月12日至12月25日）</span><br>
            <span style="padding-right:18px;padding-left:18px;font-size:12px;padding-bottom:0px;vertical-align:top;color:#717171;text-indent:18px;line-height:25px;padding-top:0px;font-family:arial, helvetica, sans-serif;text-align:left;">惊喜第一波：全场购物满399立减50</span><br>
            <span style="padding-right:18px;padding-left:18px;font-size:12px;padding-bottom:0px;vertical-align:top;color:#717171;text-indent:18px;line-height:25px;padding-top:0px;font-family:arial, helvetica, sans-serif;text-align:left;">惊喜第二波：会员尊享双倍积分 
            购物更划算 购满指定款羽绒服赠送价值199元围巾</span><br>
            <span style="padding-right:18px;padding-left:18px;font-size:12px;padding-bottom:0px;vertical-align:top;color:#717171;text-indent:18px;line-height:25px;padding-top:0px;font-family:arial, helvetica, sans-serif;text-align:left;">惊喜第三波：尚·轻柔羽绒服全场199元优惠，仅限四天</span><br>
            <br>
          </td>
        </tr>
        <tr>
          <td style="padding: 0px 25px; font-size: 12px; vertical-align: top; color: rgb(113, 113, 113); text-indent: 18px; line-height: 24px; font-family: arial,helvetica,sans-serif; text-align: right;">2011-12-9</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td></td>
  </tr>
  <tr>
    <td><img style="border-right: 0px none; border-width: 0px; border-style: none; border-color: -moz-use-text-color; display: block;" src="template149/edm_bottombg.jpg" width="700" height="19"></td>
  </tr>
  </tbody>
</table>
<table summary="" width="700" border="0" cellpadding="0" cellspacing="0" height="25" align="center">
  <tbody>
  <tr>
    <td style="padding: 15px 0px; font-size: 12px; vertical-align: top; color: rgb(113, 113, 113); line-height: 25px; font-family: arial,helvetica,sans-serif; text-align: center;">版权所有 
      2011 北京米尚优品科技有限公司 </td>
  </tr>
  </tbody>
</table>
</body></html>