<html><head>
<meta http-equiv="content-type" content="text/html; charset=gb2312"><style>

html{word-wrap:break-word;}
body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:8px 10px;margin:0;}
pre {
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
</style>




</head><body><table style="font-size: 14px;" align="center" background="template128/bg.png" border="0" cellpadding="0" cellspacing="0" width="606">
  <tbody>
    <tr>
      	<td colspan="3">
           <table background="template128/top.png" border="0" cellpadding="0" cellspacing="0" height="66" width="606">
    <tbody><tr>
      <td width="15">&nbsp;</td>
      <td height="61" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" height="61">
        <tbody><tr>
          <td height="25" width="106">&nbsp;</td>
          <td width="106">&nbsp;</td>
          <td width="106">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top"><a target="_blank" href="http://mail.163.com/"><img src="template128/163logo-s.gif" alt="163网易免费邮" border="0"></a></td>
          <td align="center" valign="top">&nbsp;</td>
          <td align="center" valign="top">&nbsp;</td>
          </tr>
      </tbody></table></td>
      <td width="15">&nbsp;</td>
      </tr>
    </tbody></table>
        </td>
    </tr>
    <tr>
      	<td colspan="3" align="center" height="165" valign="top">
           <img src="template128/h_163.jpg" alt="手机也能玩转网易邮箱" border="0">
        </td>
    </tr>
    <tr>
      <td width="66">&nbsp;</td>
      <td style="color: rgb(49, 49, 49); font-size: 14px;" width="514">
	  	<strong><span style="color:#006BC0;font-size:20px;font-family:'Microsoft Yahei',simhei">大众首选</span>&nbsp;&nbsp;手机浏览器直接登录邮箱，快速、省流量 </strong>
		<table style="margin-top: 10px;" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td valign="top" width="20"><img src="template128/c_163.gif" alt=""></td>
				<td style="font-size: 12px; line-height: 25px;">标准版，登录 <span style="color:#409ADD">m.mail.163.com</span> 即可享受网盘、附件预览、日程管理等特色功能的邮箱体验；<a href="http://count.mail.163.com/beacon/click1106.htm?from=NO_11&amp;domain=163.com&amp;area=edm" target="_blank" style="color: rgb(64, 154, 221);">了解详情»</a></td>
			</tr>
			<tr>
				<td valign="top" width="20"><img src="template128/c_163.gif" alt=""></td>
				<td style="font-size: 12px; line-height: 25px;"> 智能版，自动适配iPhone和Android手机，登录 <span style="color:#409ADD">mail.163.com</span> 即可自动跳转，全新的设计和操作方式，手指就能玩转网易邮箱。</td>
			</tr>
		</tbody></table><br><br><br>
		<strong><span style="color:#006BC0;font-size:20px;font-family:'Microsoft Yahei',simhei">商务尊享</span>&nbsp;&nbsp;随身邮，邮箱短信提醒</strong>
		<table style="margin-top: 10px;" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td valign="top" width="20"><img src="template128/c_163.gif" alt=""></td>
				<td style="font-size: 12px; line-height: 25px;"> 新邮件一到，立刻收到短信提醒；</td>
			</tr>
			<tr>
				<td valign="top" width="20"><img src="template128/c_163.gif" alt=""></td>
				<td style="font-size: 12px; line-height: 25px;"> 发送邮件短信通知收件人，套餐用户还有更多超值服务。 <br><a sys="1" id="smsyiyou" log="1" logid="edm_sms_reg" href="http://count.mail.163.com/beacon/click1106.htm?from=NO_3&amp;domain=163.com&amp;area=edm" target="_blank" style="color: rgb(64, 154, 221);">了解随身邮»</a></td>
			</tr>
		</tbody></table><br><br><br>
		<strong><span style="color:#006BC0;font-size:20px;font-family:'Microsoft Yahei',simhei">潮人必备</span>&nbsp;&nbsp;邮箱iPad版，触屏更给力</strong>
		<table style="margin-top: 10px;" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td valign="top" width="20"><img src="template128/c_163.gif" alt=""></td>
				<td style="font-size: 12px; line-height: 25px;"> 网易邮箱为iPad量身打造了精致细腻的邮箱适配版本，直接登录 <span style="color:#409ADD">mail.163.com</span> 即可；<br>
					<a href="http://count.mail.163.com/statistics/Pzq7Ns.do?product=post_mob&amp;domain=163.com&amp;area=edm" target="_blank" style="color: rgb(64, 154, 221);">了解详情»</a></td>
			</tr>
			<tr>
				<td valign="top" width="20"><img src="template128/c_163.gif" alt=""></td>
				<td style="font-size: 12px; line-height: 25px;"> 推荐同时设置IMAP，不仅能让收取邮件速度提高10倍以上，还能同步管理你的网易邮箱。<br>
					<a href="http://count.mail.163.com/beacon/click1106.htm?from=NO_9&amp;domain=163.com&amp;area=edm" target="_blank" style="color: rgb(64, 154, 221);">如何设置IMAP»</a></td>
			</tr>
		</tbody></table><br><br>
	  <p style="font-size:12px;margin:0; padding:0">若您还有其他疑问，请访问<a href="http://count.mail.163.com/beacon/click.htm?from=NO_78&amp;domain=163.com&amp;area=mobile_welcome_edm" target="_blank" style="color: rgb(64, 154, 221);">帮助中心</a>就能找到答案；或访问“<a href="http://count.mail.163.com/beacon/click.htm?from=NO_72&amp;domain=163.com&amp;area=mobile_welcome_edm" target="_blank" style="color: rgb(64, 154, 221);">邮箱知道</a>”</p>
	  <br><br>
	  
		<img src="template128/edm.gif" style="display: none;" border="0"> 
		
		</td>
      <td width="46">&nbsp;</td>
    </tr>
	<tr>
		<td colspan="3">
           <table border="0" cellpadding="0" cellspacing="0" width="606">
    </table>
        </td>
    </tr>
    <tr>
      <td colspan="3" background="template128/bottom.jpg" height="20">&nbsp;</td>
    </tr>
  </tbody>
</table>
 

<script language="javascript">try{parent.JS.modules[window.name].content.setHeight();}catch(e){}</script>
</body></html>