<html><head>
<title> 【乐品酒】99元包邮
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<link href="%E3%80%90%E4%B9%90%E5%93%81%E9%85%92%E3%80%9199%E5%85%83%E5%8C%85%E9%82%AE_files/style.css" type="text/css" rel="stylesheet">
</head>

<body><br>
<table summary="" border="0" cellpadding="2" cellspacing="0" width="600" align="center">
  <tbody>
  <tr>
    <td style="border-bottom: 1px solid rgb(204, 204, 204); font-family: verdana; color: rgb(102, 102, 102); font-size: 12px;">如果无法看到邮件完整内容，<a style="text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vaW1hZ2VzL2VtYWlsL3Fpbmdsdi0xMTExMDkvZW1haWwuaHRtbA==&amp;email=##L@##H" target="_blank">请点击此处查看。</a></td>
  </tr>
  <tr>
    <td style="line-height: 0; font-size: 0px;"><a href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20v&amp;email=##L@##H" target="_blank"><img alt="" src="template119/e_01.jpg" border="0"></a></td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="2" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td style="padding: 5px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238);" 微软雅黑?;font-size:14px;text-align:center;?=""><a style="color: rgb(51, 51, 51); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20v&amp;email=##L@##H" target="_blank">首页</a></td>
          <td style="padding: 5px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238);" 微软雅黑?;font-size:14px;text-align:center;?=""><a style="color: rgb(51, 51, 51); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vY2F0ZWdvcnktMjctYjAuaHRtbA==&amp;email=##L@##H" target="_blank">法国红酒</a></td>
          <td style="padding: 5px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238);" 微软雅黑?;font-size:14px;text-align:center;?=""><a style="color: rgb(51, 51, 51); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vY2F0ZWdvcnktOC1iMC5odG1s&amp;email=##L@##H" target="_blank">全球红酒</a></td>
          <td style="padding: 5px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238);" 微软雅黑?;font-size:14px;text-align:center;?=""><a style="color: rgb(51, 51, 51); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vY2F0ZWdvcnktMTgtYjAuaHRtbA==&amp;email=##L@##H" target="_blank">价格选酒</a></td>
          <td style="padding: 5px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238);" 微软雅黑?;font-size:14px;text-align:center;?=""><a style="color: rgb(51, 51, 51); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vc2VhcmNoLnBocD9lbmNvZGU9WVRveU9udHpPamc2SW10bGVYZHZjbVJ6SWp0ek9qWTZJdVMvZyUyYm1VZ0NJN2N6b3hPRG9pYzJWaGNtTm9YMlZ1WTI5a1pWOTBhVzFsSWp0cE9qRXpNVGt4TWpFMU5qSTdmUT09&amp;email=##L@##H" target="_blank">促销专区</a></td>
          <td style="padding: 5px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238);" 微软雅黑?;font-size:14px;text-align:center;?=""><a style="color: rgb(51, 51, 51); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vY2F0ZWdvcnktMzUtYjAuaHRtbA==&amp;email=##L@##H" target="_blank">礼盒酒具</a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <div style="text-align:center;padding-bottom:5px;padding-left:0px;width:600px;padding-right:0px;font-family:verdana;background:#b00;color:#fff;font-size:12px;padding-top:5px;">买进口红酒，就到乐品酒，百分百原瓶进口，全国满99元包邮</div>
    </td>
  </tr>
  <tr>
    <td style="line-height: 0; font-size: 0px;"><a href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vZ29vZHMtNDM0Lmh0bWw=&amp;email=##L@##H"><img alt="" src="template119/e_02.jpg" target="_blank" border="0"></a></td>
  </tr>
  <tr>
    <td style="line-height: 0; font-size: 0px;"><img alt="" src="template119/e_03.jpg" usemap="#Map" target="_blank" border="0"></td>
  </tr>
  <tr>
    <td style="line-height: 0; font-size: 0px;"><img alt="" src="template119/e_04.jpg" usemap="#Map2" target="_blank" border="0"></td>
  </tr>
  <tr>
    <td>
      <div style="text-align:center;padding-bottom:5px;padding-left:0px;width:600px;padding-right:0px;background:#eee;padding-top:5px;"><a style="color: rgb(187, 0, 0); text-decoration: none;" href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20v&amp;email=##L@##H" target="_blank" 微软雅黑?;font-size:25px;?="">查看更多美酒&#187;</a></div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="text-align:center;padding-bottom:5px;padding-left:0px;width:600px;padding-right:0px;font-family:verdana;background:#b00;color:#fff;font-size:12px;padding-top:5px;">买进口红酒，就到乐品酒，百分百原瓶进口，全国满99元包邮</div>
    </td>
  </tr>
  <tr>
    <td style="line-height: 0; font-size: 0px;"><img alt="" src="template119/fangxin.gif" target="_blank" border="0"></td>
  </tr>
  <tr>
    <td style="text-align: center; font-family: verdana; color: rgb(102, 102, 102); font-size: 12px;">商品价格或促销内容如有调整，请以乐品酒网站（lepinjiu.com）为准。任何问题欢迎您访问<a href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vYXJ0aWNsZS0zMC5odG1s&amp;email=##L@##H" target="_blank">乐品帮助中心</a></td>
  </tr>
  <tr>
    <td style="text-align: center; font-family: verdana; color: rgb(102, 102, 102); font-size: 12px;">客服热线：400-0288-519</td>
  </tr>
  <tr>
    <td style="border-width: 1px 0px; border-style: solid; border-color: rgb(204, 204, 204); text-align: center; line-height: 200%; font-family: verdana; background: none repeat scroll 0% 0% rgb(238, 238, 238); font-size: 12px;">此邮件是乐品网系统自动发出，请勿直接回复</td>
  </tr>
  <tr>
    <td style="text-align: center; font-family: verdana; color: rgb(102, 102, 102); font-size: 12px;">&#169; 
      2010-2011 LePinJiu All Rights Reserved 乐品酒 版权所有</td>
  </tr>
  </tbody>
</table>
<map name="Map">
  <area href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vZ29vZHMtMzk0Lmh0bWw=&amp;email=##L@##H" shape="rect" target="_blank" coords="402,42,592,308">
  <area href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vZ29vZHMtNDE4Lmh0bWw=&amp;email=##L@##H" shape="rect" target="_blank" coords="207,42,397,308">
  <area href="http://edm.lepinjiu.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9hMDAzJmZsYWc9MTMyMzEzNjAzMiZ1cmw9aHR0cDovL3d3dy5sZXBpbmppdS5jb20vZ29vZHMtNDE3Lmh0bWw=&amp;email=##L@##H" shape="rect" target="_blank" coords="8,42,198,308">
</map>
</body></html>