<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>Yesmywine也买酒 - 中国最大的进口葡萄酒、进口红酒直购平台</title>
</head>
<body>
<div bgcolor="#ffffff">
<table align="center" bgcolor="#ffffff" border="0" width="680" cellpadding="0" cellspacing="0">
  <tbody><tr>
   	<td colspan="2" style="font-size:12px;" align="center" height="40">
      <font color="#333333">如果您不能正常浏览内容，请<a href="http://edm.yesmywine.com/2012/04reggift/boruida0514.html" target="_blank"><font color="red">点击查看</font></a></font>
    </td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/head.jpg" border="0" height="71" width="680"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_01.jpg" border="0" height="127" width="340"></a></td>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_02.jpg" border="0" height="127" width="340"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_03.jpg" border="0" height="127" width="340"></a></td>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_04.jpg" border="0" height="127" width="340"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_05.jpg" border="0" height="128" width="340"></a></td>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_06.jpg" border="0" height="128" width="340"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_07.jpg" border="0" height="127" width="340"></a></td>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_08.jpg" border="0" height="127" width="340"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_09.jpg" border="0" height="127" width="340"></a></td>
    <td><a href="http://www.yesmywine.com/regredirect.jsp?rurl=http://www.yesmywine.com/marketing/topic/01201/01201.html&amp;keyname=EAQ&amp;keysource=boruida0514" target="_blank"><img src="template142/reg_10.jpg" border="0" height="127" width="340"></a></td>
  </tr>
  <tr>
	<td colspan="2"><img src="template142/foot.jpg" height="30" width="680"></td>
  </tr>
  <tr>
	<td colspan="2" style="padding-right:20px;font-size:12px;" align="right" background="template142/foot2.jpg" height="30"><font color="#666666">如果您不想再收到此类邮件，</font><a href="mailto:service@yesmywine.com"><font color="red">请点击此处退订</font></a></td>
  </tr>
</tbody></table>
</div>

</body></html>