<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=gb2312">
<!--ContentBegin-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<TITLE>新浪交友_互动社区_新浪网::找朋友？找伴侣？找同好? 健康的交友社区－新浪交友 帮你实现::</TITLE>
<META http-equiv=Content-type content="text/html; charset=gb2312">
<meta name="title" content="交友中心,交友,美女,帅哥,约会,爱情,活动,聚会,女友,男友,聚会,缘分,缘份,club,party">
<meta name="description"content="想找朋友?想找伴侣？想找同好？来新浪交友！新浪交友提供了一个非常有趣而且安全的在线环境给相互适合的人们。这个健康的在线交友社区拥有持续增长的基础、数百万的免费个人信息和照片资料。无论你想和某人约会，或是寻找你的终生伴侣，新浪交友总会有最适合你的选择">
<meta name="keywords" content="新浪交友,朋友,club,婚姻,思念,爱人,恋人,情人节,玫瑰,征婚,交友,征友,情感,情缘,缘分,终生情侣,理想对象,免费交友,情人,婚恋,MM,GG,友情,单身,约会,美女,帅哥,爱情,恋爱,女友,男友,婚姻,约会,美眉、聊天,兴趣,网友,同城约会、聚会,俱乐部,旅游,缘分">
<link href="http://yuan.sina.com.cn/css/yuan.css" rel="stylesheet" type="text/css">
<style>
a.mm:link,a.mm:visited{
color:#ff0099;text-decoration:none;
}
a.mm:hover{
color:#FF77C9;text-decoration:none;
} 
.g{
font-family: "宋体";
font-size: 12px;
color:#3049B1;
}
a.g:link {
color:#3049B1;
text-decoration: none;
}
a.g:visited{
color:#3049B1;
text-decoration:none;
}
a.g:hover {
color:#778BDB;
text-decoration:none;
}
.l14 {line-height: 140%;}
.a04:link {text-decoration:none;color:333333}
.a04:visited {text-decoration:none;color:666666}
.a04:active,A.a04:hover {text-decoration:none;color:333333}
</style>
<script language="javascript" src=http://yuan.sina.com.cn/temp/2004-06-28/181.js></script>
<style type="text/css">
<!--
.bg {
	background-repeat: no-repeat;
	background-position: right bottom;
}
-->
</style>
<style type="text/css">
<!--
.150 {
	line-height: 150%;
	font-family: "宋体";
	font-size: 14px;
}
-->
</style>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body bgcolor="#e0e0e0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('http://image2.sina.com.cn/yh/images/tuiguang/gqmail/title_free2.gif','images/top5.gif')">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td colspan="3" bgcolor="#FFFFFF"><a href=http://yuan.sina.com.cn target="_blank"><img src="http://image2.sina.com.cn/yh/images/tuiguang/gqmail/top1.gif" width="307" height="49" border="0"></a></td>
  </tr>
  <tr> 
    <td width="104"><a href=http://yuan.sina.com.cn/fun/qiyuan/index.html target="_blank"><img src="http://image2.sina.com.cn/yh/images/tuiguang/gqmail/top2.gif" width="190" height="190" border="0"></a></td>
    <td width="296"><a href="javascript:;" onMouseOver="MM_swapImage('Image1','','http://image2.sina.com.cn/yh/images/tuiguang/gqmail/top5.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="http://image2.sina.com.cn/yh/images/tuiguang/gqmail/top3.gif" name="Image1" width="150" height="190" border="0" usemap="#Image1Map2" id="Image1"></a></td>
    <td width="200" valign="top" bgcolor="#FF3366"><a href=http://yuan.sina.com.cn target="_blank"><img src="http://image2.sina.com.cn/yh/images/tuiguang/gqmail/top4.gif" width="260" height="190" border="0"></a></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FF6699">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="5"><img name="" src="" width="1" height="1" alt=""></td>
  </tr>
  <tr> 
    <td width="1" height="106">&nbsp;</td>
    <td width="1" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dot.gif" ><img name="" src="" width="1" height="1" alt=""></td>
    <td align="center" valign="top">
<table width="100%" border="0" cellspacing="1" cellpadding="12">
        <tr> 
          <td valign="top" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924fdj.gif" bgcolor="#FFFFFF" class="bg"> 
            <table width="100%" height="165" border="0" cellpadding="0" cellspacing="0">
              <tr > 
                <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline.gif" height="1" colspan="3"><img name="" src="" width="1" height="1" alt=""></td>
              </tr>
              <tr> 
                <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dot2.gif"><img name="" src="" width="1" height="1" alt=""></td>
                <td align="center" class="bg"> 
                  <table width="504" border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td height="25" colspan="2" align="center" class=f14><font color="#FF3399"><strong>不远的&quot;Ta&quot;在等着你！</strong></font></td>
                    </tr>
                    <tr> 
                      <td width="75" align="center"><strong>地 区</strong></td>
                      <td width="429" height="20"><a href="http://yuan.sina.com.cn/search/member.php?gender=2&age=18.22&state=11&city=0&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB" target="_blank"><font color="#000000">北京美眉</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=1&age=18.24&state=31&city=310101&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB" target="_blank"><font color="#000000">上海帅哥</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=2&age=18.22&state=32&city=320100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB" target="_blank"><font color="#000000">江苏靓妹</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=1&age=24.30&state=44&city=440100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB" target="_blank"><font color="#000000">广东大款</font></a></td>
                    </tr>
                    <tr> 
                      <td>&nbsp;</td>
                      <td height="20"><a href="http://yuan.sina.com.cn/search/member.php?gender=2&age=18.22&state=42&city=420100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">湖北小妹</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=2&age=18.22&state=51&city=510100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">四川辣妹</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=1&age=18.24&state=33&city=330100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">浙江勤劳男</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=1&age=18.24&state=37&city=0&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">山东大汉</font></a></td>
                    </tr>
                    <tr> 
                      <td align="center">&nbsp;</td>
                      <td height="20"><a href="http://yuan.sina.com.cn/search/member.php?gender=2&age=18.22&state=13&city=130100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">河北妞妞</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=1&age=18.24&state=35&city=350100&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">福建俊男</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?gender=2&age=22.26&state=11&city=110108&pic=on&submit=%CB%D1%CB%F7%D3%D0%C7%E9%C8%CB"><font color="#000000">十一等你约的女孩</font></a> 
                      </td>
                    </tr>
                    <tr> 
                      <td height="5" colspan="2" align="center"><img name="" src="" width="1" height="1" alt=""></td>
                    </tr>
                    <tr> 
                      <td align="center" valign="middle"><strong>星 座</strong></td>
                      <td height="20"><a href="http://yuan.sina.com.cn/search/member.php?astro=1" target="_blank"><font color="#000000">白羊座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=2"><font color="#000000">金牛座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=3"><font color="#000000">双子座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=4"><font color="#000000">巨蟹座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=5"><font color="#000000">狮子座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=6"><font color="#000000">处女座</font></a></td>
                    </tr>
                    <tr> 
                      <td align="center" valign="middle">&nbsp;</td>
                      <td height="20"><a href="http://yuan.sina.com.cn/search/member.php?astro=7"><font color="#000000">天秤座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=8"><font color="#000000">天蝎座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=9"><font color="#000000">射手座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=10"><font color="#000000">魔羯座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=11"><font color="#000000">水瓶座</font></a>　<a href="http://yuan.sina.com.cn/search/member.php?astro=12"><font color="#000000">双鱼座</font></a></td>
                    </tr>
                  </table>
                </td>
                <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dot2.gif"><img name="" src="" width="1" height="1" alt=""></td>
              </tr>
              <tr> 
                <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline.gif" height="1" colspan="3"><img name="" src="" width="1" height="1" alt=""></td>
              </tr>
            </table></td>
        </tr>
      </table> 
    </td>
    <td width="1" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dot.gif"><img name="" src="" width="1" height="1" alt=""></td>
    <td width="2">&nbsp;</td>
  </tr>
</table>
<table width="600" height="200" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FF3366">
  <tr bgcolor="#FFFFFF"> 
    <td height="1" colspan="4"><img name="" src="" width="1" height="1" alt=""></td>
  </tr>
  <tr> 
    <td width="242" height="174" align="center"> 
      <table width="185" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="116" colspan="2"><font color="#FFFFFF">　　时逢<strong>中秋国庆佳节</strong>，<strong>新浪交友</strong>站成千上万的男女会员已经纷纷在这里<strong>祝福许愿</strong>，祈求月老牵线作媒。<strong>如果你相信缘分</strong>，就快来拜访一下月老，或许，你的另一半正在这里等待你的出现！<br>
            </font></td>
        </tr>
        <tr> 
          <td width="117"align="center"><a href=http://yuan.sina.com.cn/fun/qiyuan/index.html target="_blank"><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924qy_zq.gif" width="92" height="30" border="0"></a></td>
          <td width="95" align="center"><a href=http://yuan.sina.com.cn/fun/qiyuan/index.html target="_blank"><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924qy_gq.gif" width="92" height="30" border="0"></a></td>
        </tr>
      </table>
    </td>
    <td width="188" align="right"> 
      <table border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline2.gif" height="1" colspan="3"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline3.gif"><img name="" src="" width="1" height="1" alt=""></td>
          <td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="10">
              <tr> 
                <td><table border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td class="f14" style="PADDING-LEFT: 5px"><strong><font color="#FFFFFF">热门日记</font></strong></td>
                      <td align="right" style="PADDING-RIGHT: 7px"><a href="http://yuan.sina.com.cn/diary/more/hot_0.html" target="_blank"><font color="#FFFFFF">更多&gt;&gt;</font></a></td>
                    </tr>
                    <tr align="center"> 
                      <td height="135" colspan="2" bgcolor="#FFFFFF"> <table width=174 border=0 cellpadding=0 cellspacing=0>
  <tr onMouseOver=showImage(this,"1464756092")> 
    <td width=19 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11><span class=12></span></td>
    <td width=127 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1464756092&id=3886  title=六个感人的小故事（准备好纸巾吧 ^_^） target=_blank class=g>六个感人的小故事..</a></td>
    <td width=28 valign=bottom class=12>174</td>
  </tr>
  <tr> 
    <td height=1 colspan=3 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
  </tr>
  <tr onMouseOver=showImage(this,"1464756092")> 
    <td width=19 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11><span class=12></span></td>
    <td width=127 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1464756092&id=3892  title=最愛的是你 target=_blank class=g>最愛的是你</a></td>
    <td width=28 valign=bottom class=12>132</td>
  </tr>
  <tr> 
    <td height=1 colspan=3 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
  </tr>
  <tr onMouseOver=showImage(this,"1464756092")> 
    <td width=19 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11><span class=12></span></td>
    <td width=127 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1464756092&id=3884  title=蛤蟆写给白天鹅的情书 [转载] target=_blank class=g>蛤蟆写给白天鹅的..</a></td>
    <td width=28 valign=bottom class=12>112</td>
  </tr>
  <tr> 
    <td height=1 colspan=3 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
  </tr>
  <tr onMouseOver=showImage(this,"1464756092")> 
    <td width=19 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11><span class=12></span></td>
    <td width=127 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1464756092&id=3891  title=爱上孤独 target=_blank class=g>爱上孤独</a></td>
    <td width=28 valign=bottom class=12>107</td>
  </tr>
  <tr> 
    <td height=1 colspan=3 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
  </tr>
  <tr onMouseOver=showImage(this,"1453903111")> 
    <td width=19 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11><span class=12></span></td>
    <td width=127 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1453903111&id=2912  title=失落与堕落 target=_blank class=g>失落与堕落</a></td>
    <td width=28 valign=bottom class=12>100</td>
  </tr>
  <tr> 
    <td height=1 colspan=3 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
  </tr>
  <tr onMouseOver=showImage(this,"1464756092")> 
    <td width=19 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11><span class=12></span></td>
    <td width=127 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1464756092&id=3893  title=祝你幸福 target=_blank class=g>祝你幸福</a></td>
    <td width=28 valign=bottom class=12>99</td>
  </tr>
  <tr> 
    <td height=1 colspan=3 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
  </tr>
</table>
 
                      </td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline3.gif"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline2.gif" height="1" colspan="3"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
      </table>
    </td>
    <td width="167"> 
      <table border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline2.gif" height="1" colspan="3"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline3.gif"><img name="" src="" width="1" height="1" alt=""></td>
          <td align="center" valign="top"> <table border="0" cellspacing="0" cellpadding="10">
              <tr> 
                <td> <table border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td style="PADDING-LEFT: 5px" class="f14"><strong><font color="#FFFFFF">佳作欣赏</font></strong></td>
                      <td style="PADDING-RIGHT: 7px" align="right"><a href="http://yuan.sina.com.cn/diary/more/best_1.html" target="_blank"><font color="#FFFFFF">更多&gt;&gt;</font></a></td>
                    </tr>
                    <tr align="center"> 
                      <td height="135" colspan="2" bgcolor="#FFFFFF"><table width=180 border=0 cellpadding=0 cellspacing=0>
<tr onMouseOver=showImage(this,"1018495621")>
<td width=20 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11></td>
<td width=160 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1018495621&id=3593 target=_blank  class=g title=--------真正的爱------>--------真正的爱----..</a></td>
<tr>
<td height=1 colspan=2 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
</tr>
<tr onMouseOver=showImage(this,"1063489483")>
<td width=20 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11></td>
<td width=160 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1063489483&id=3123 target=_blank  class=mm title=“顺其自然”难吗？>“顺其自然”难吗？</a></td>
<tr>
<td height=1 colspan=2 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
</tr>
<tr onMouseOver=showImage(this,"1065256987")>
<td width=20 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11></td>
<td width=160 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1065256987&id=4024 target=_blank  class=mm title=雨天里的心情>雨天里的心情</a></td>
<tr>
<td height=1 colspan=2 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
</tr>
<tr onMouseOver=showImage(this,"1079733722")>
<td width=20 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11></td>
<td width=160 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1079733722&id=3167 target=_blank  class=mm title=家有小女>家有小女</a></td>
<tr>
<td height=1 colspan=2 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
</tr>
<tr onMouseOver=showImage(this,"1060819981")>
<td width=20 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11></td>
<td width=160 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1060819981&id=3604 target=_blank  class=mm title=感悟幸福>感悟幸福</a></td>
<tr>
<td height=1 colspan=2 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
</tr>
<tr onMouseOver=showImage(this,"1059654453")>
<td width=20 valign=bottom><img src=http://yuan.sina.com.cn/diary/images/dot.gif width=12 height=11></td>
<td width=160 height=22 valign=bottom class=12><a href=http://yuan.sina.com.cn/diary/view.php?uid=1059654453&id=2729 target=_blank  class=g title=雾海情思>雾海情思</a></td>
<tr>
<td height=1 colspan=2 background=http://yuan.sina.com.cn/diary/images/x_line3.gif><img name= src= width=1 height=1 alt=></td>
</tr>
</table>
</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline3.gif"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924dotline2.gif" height="1" colspan="3"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
      </table></td>
    <td width="3">&nbsp;</td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF"><img name="" src="" width="1" height="1" alt=""></td>
  </tr>
   
      <tr><td><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="600" HEIGHT="300" id="mask" ALIGN="">
 <PARAM NAME=movie VALUE="http://image2.sina.com.cn/yh/images/tuiguang/photostar/FLASH600.swf"> <PARAM NAME=quality VALUE=high><PARAM NAME=wmode VALUE=transparent> <EMBED src="http://image2.sina.com.cn/yh/images/tuiguang/photostar/FLASH600.swf" quality=high wmode=transparent bgcolor=#FFFFFF  WIDTH="600" HEIGHT="300" NAME="mask" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT></td></tr>
<tr> 
    <td height="90" align="center" valign="top" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924bg.gif" class=f14>
      <p><strong><font color="#FFFFFF"><br>
      意 见 征 集</font></strong> </p><table width="470" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="11"><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_tl.gif" width="11" height="11"></td>
          <td width="548" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_t.gif"><img name="" src="" width="1" height="1" alt=""></td>
          <td width="11"><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_tr.gif" width="11" height="11"></td>
        </tr>
        <tr> 
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_l.gif"><img name="" src="" width="1" height="1" alt=""></td>
          <td align="center" bgcolor="#FFD9E2"> <table width="90%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td height="75" class="150">亲爱的会员，感谢您一直以来对新浪交友的热切关注和大力支持！为更好的服务于您，交友社区即将于十一之后推出新版，如果您有任何意见和建议，请留给我们，让我们共同创建交友乐园，祝大家节日快乐！ 
                </td>
              </tr>
            </table>
            <a href=http://yuan.sina.com.cn/friend/help/guest.html target=_blank><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924yjfk.gif" target=_blank width="112" height="30" border="0"></a></td>
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_r.gif"><img name="" src="" width="1" height="1" alt=""></td>
        </tr>
        <tr> 
          <td><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_bl.gif" width="11" height="11"></td>
          <td background="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_b.gif"><img name="" src="" width="1" height="1" alt=""></td>
          <td><img src="http://image2.sina.com.cn/yh/images/tuiguang/20040924frame_br.gif" width="11" height="11"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="90" align="center" valign="top" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924bg.gif" class=f14>&nbsp;</td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="3" background="http://image2.sina.com.cn/yh/images/tuiguang/20040924bgline.gif"><img name="" src="" width="1" height="1" alt=""></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td bgcolor="#FFFFFF"> <script language=javascript src=http://yuan.sina.com.cn/js/love.tail.js></script> 
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF"><strong><font color="#FF0000">如果您已经是新浪交友的会员，可直接</font><font color="#00FFFF"><a href="http://yuan.sina.com.cn/member/fm.php" target="_blank"><font color="#000000">从此登录</font></a><br>
      </font></strong></td>
  </tr>
</table>
<map name="Image1Map">
  <area shape="circle" coords="71,139,68" href="http://yuan.sina.com.cn/member/register/s_reg.php" onMouseOver="MM_swapImage('Image1','','http://image2.sina.com.cn/yh/images/tuiguang/title_free2.gif',1)" onMouseOut="MM_swapImgRestore()">
</map>
<map name="Image1Map2">
  <area shape="circle" coords="70,91,69" href="http://yuan.sina.com.cn/member/register/s_reg.php">
</map>
</body>
</html>
<!--ContentEnd-->
