<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>旗航邮件管理软件，免费试用活动进行中！！</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
</HEAD>
<BODY><BR>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table height=30 cellspacing=0 cellpadding=0 width=600 border=0 align="center">
  <tbody> 
  <tr> 
    <td> 
      <p align=center><font color=#0000ff style="font-size:14px">旗航邮件管理软件，外贸邮件管理利器！咨询热线：0592-3335666/400-888-5661</font></p>
    </td>
  </tr>
  </tbody>
</table>
<table cellspacing=0 cellpadding=0 width=600 border=0 align="center">
  <tbody> 
  <tr> 
    <td><a 
            href="http://edm.xmqh.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDIwMTEwOTAzJmZsYWc9MTMxNTAxMjg3NiZ1cmw9aHR0cDovL3d3dy54bXFoLm5ldC8=&amp;email=#L@H"><img 
            height=165 src="template178/new_01.png" width=331 
            border=0></a></td>
    <td><img height=165 src="template178/new_02.png" 
            width=269 border=0></td>
  </tr>
  <tr> 
    <td><img height=154 src="template178/new_03.png" 
            width=331 border=0></td>
    <td><img height=154 src="template178/new_04.png" 
            width=269 border=0></td>
  </tr>
  <tr> 
    <td><img height=83 src="template178/new_05.png" 
            width=331 border=0></td>
    <td><a 
            href="http://edm.xmqh.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDIwMTEwOTAzJmZsYWc9MTMxNTAxMjg3NiZ1cmw9aHR0cDovL2RlbW8ueG1xaC5uZXQ6MTg2My9Db3RTeXN0ZW0vcmVnaXN0ZXIuanNw&amp;email=#L@H"><img 
            height=83 src="template178/new_06.gif" width=269 
            border=0></a></td>
  </tr>
  <tr> 
    <td><img height=127 src="template178/new_07.png" 
            width=331 border=0></td>
    <td><img height=127 src="template178/new_08.png" 
            width=269 border=0></td>
  </tr>
  <tr> 
    <td><img height=101 src="template178/new_09.png" 
            width=331 border=0></td>
    <td><img height=101 src="template178/new_10.png" 
            width=269 border=0></td>
  </tr>
  </tbody>
</table>
</BODY></HTML>
