<html><head>
<title> 递四方速递：跨国电子商务物流,航邮小包,海外仓储,订单管理,国际快递,国际专线
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<div id="head"></div>
<img alt="" src="template155/order_active.jpg" usemap="#Map" border="0">
<map id="Map" name="Map">
  <area shape="RECT" target="_blank" coords="76,1016,461,1046" href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODkmZmxhZz0xMzE2MTQzMDMwJnVybD1odHRwOi8vaXRlbS50YW9iYW8uY29tL2l0ZW0uaHRtP2lkPTEyNjYyNTY5MjEw&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="75,1069,460,1094" href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODkmZmxhZz0xMzE2MTQzMDMwJnVybD1odHRwOi8vaXRlbS50YW9iYW8uY29tL2l0ZW0uaHRtP2lkPTEyODE3Mjk5MzI4&amp;email=##L@##H">
  <area shape="RECT" target="_blank" coords="476,1655,679,1681" href="http://edm.shopsimple.com/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDE5ODkmZmxhZz0xMzE2MTQzMDMwJnVybD1odHRwOi8vd2VpYm8uY29tLzRweGV4cHJlc3M=&amp;email=##L@##H">
</map>
<div id="foot"></div>
</body></html>