<html><head>
<title>活动首页的邮件推广</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<div style="margin:0pt auto;padding:0pt;border:0pt none;line-height:0px;width:719px;height:auto;overflow:hidden;"> 
  <table width="600" border="0" cellpadding="0" cellspacing="0" height="25" align="center">
    <tbody> 
    <tr> 
      <td> 
        <p align="left"><font color="#999999">衣联活动页面大改版！更多精彩等着你！</font></p>
      </td>
    </tr>
    </tbody> 
  </table>
  <table id="__01" width="600" border="0" cellpadding="0" cellspacing="0" height="1249" align="center">
    <tbody> 
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank"><img src="template159/140811ddb7dbbybar9airi.gif" alt="衣联网服装平台" title="衣联网服装平台" width="600" border="0" height="357"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank"><img src="template159/140811sveqppfrrhbcfj3c.gif" alt="衣联网服装平台" title="衣联网服装平台" width="600" border="0" height="43"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTEyMy8=&amp;email=##L@##H" target="_blank"><img src="template159/140811lsxkkk4his04h0a0.gif" alt="一手货源 优品推荐，厂家云集" title="一手货源 优品推荐，厂家云集" width="600" border="0" height="152"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkyNF8yLw==&amp;email=##L@##H" target="_blank"><img src="template159/140812npl08stbswwwx10b.gif" alt="一件拿样 等你来！一件也拿批发价，进货0风险" title="一件拿样 等你来！一件也拿批发价，进货0风险" width="600" border="0" height="150"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkxNl8yLw==&amp;email=##L@##H" target="_blank"><img src="template159/1408122ceo7zvv7iaizwpj.gif" alt="限时聚团批，低价团批，超值团批不容错过" title="限时聚团批，低价团批，超值团批不容错过" width="600" border="0" height="153"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkyMS8=&amp;email=##L@##H" target="_blank"><img src="template159/140812fvbvdv4b2jrmy24v.gif" alt="全场包邮，优惠专享，捉住包邮周，别撒手" title="全场包邮，优惠专享，捉住包邮周，别撒手" width="600" border="0" height="152"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIwMS8=&amp;email=##L@##H" target="_blank"><img src="template159/140812e11o9auvavyuy9av.gif" alt="主题卖场,优品推荐,热销单品专场推荐" title="主题卖场,优品推荐,热销单品专场推荐" width="600" border="0" height="156"></a></td>
    </tr>
    <tr> 
      <td><a href="http://edm.eelly.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjM4NTkwMTAmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank"><img src="template159/1408120nun0x7n0oou7eeo.gif" alt="衣联网服装平台" title="衣联网服装平台" width="600" border="0" height="86"></a></td>
    </tr>
    </tbody> 
  </table>
  <table width="600" border="0" cellpadding="0" cellspacing="0" height="25" align="center">
    <tbody> 
    <tr> 
      <td> 
        <p align="center"><font color="#999999">copyright@衣联网络信息科技有限公司&nbsp;&nbsp;2011-12-03-14-30</font></p>
      </td>
    </tr>
    </tbody> 
  </table>
</div>
      </body></html>