<html><head>
<title> 本周新活动，周二周四下午13点准时开启，爱马仕、古琦、普拉达等手袋、腕表、配饰等
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table border=0 width="660" align="center">
  <tbody> 
  <tr> 
    <td> 
      <p align="center">本周新活动，周二周四下午13点准时开启，爱马仕、古琦、普拉达等手袋、腕表、配饰等</p>
      <p align="center">如果您无法正常打开本邮件，请<a href="http://www.vipshang.com/music/edm/index_edm16.html" target="_blank">点击这里查看</a>。如果要退订请到本邮件底部选择退订。</p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚网" alt="唯尚网" src="template148/zcyj01.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚-项链" alt="唯尚-项链" src="template148/EDM20120227_1.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚-腕表" alt="唯尚-腕表" src="template148/EDM20120227_2.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚网-手袋" alt="唯尚网-手袋" src="template148/EDM20120227_3.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚网-鞋履" alt="唯尚网-鞋履" src="template148/EDM20120227_4.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚网-眼镜" alt="唯尚网-眼镜" src="template148/EDM20120227_5.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚网-首饰" alt="唯尚网-首饰" src="template148/EDM20120227_6.jpg" border="0"></a></p>
      <p align="center"><a href="http://edm.vipshang.net/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF8xXzIwJmZsYWc9MTMzMDMzNjc1OCZ1cmw9aHR0cDovL3d3dy52aXBzaGFuZy5jb20vaW5kZXguaHRtbA==&amp;email=##L@##H" target="_blank"><img title="唯尚网-箱包" alt="唯尚网-箱包" src="template148/EDM20120227_7.jpg" border="0"></a></p>
      <p align="center">唯尚网—专业的奢侈品线上线下立体批发零售商，产品包括箱包、钟表、珠宝、美妆、配饰、服装、鞋履等品类，便捷诚信服务，为您提供安全放心物美价廉的国际名品服务，100%正品保证、资深时尚顾问、VIP礼遇、免运费、7天无条件退换货。</p>
      <p style="font-size:9pt;"></p>
    </td>
  </tr>
  </tbody>
</table>



</body></html>