<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>途牛旅游网暑假旅游天天低价，注册为途牛会员即拥二百抵用券</TITLE>
<META content="text/html; charset=gb2312" http-equiv=Content-Type>
</HEAD>
<BODY leftMargin=0 topMargin=0 bgColor=#ffffff marginheight="0" marginwidth="0">
<DIV align=center><BR>
<TABLE border=1 cellSpacing=0 borderColorLight=#000000 borderColorDark=#ffffff 
cellPadding=1 width=650 bgColor=#ffffff align=center>
  <TBODY>
  <TR>
    <TD height=50>
      <P align=center><FONT 
      style="FONT-FAMILY: 宋体; COLOR: #4f4e4e; FONT-SIZE: 12px;line-height:18px;" 
      face=宋体>请将该电子邮件地址添加至您的邮箱地址簿，以确保收到来自途牛网的电子邮件。<BR>若此电子邮件不能正确显示，请访问 <A 
      style="COLOR: #4f4e4e" 
      href="http://market.tuniu.com/Partner_redirect.php?p=11167&amp;cmpid=union_11167&amp;url=http://www.tuniu.com/u/cpa_register" 
      target=_blank><FONT style="COLOR: #4f4e4e">在线版本</FONT></A></FONT> 
  </P></TD></TR>
  <TR>
    <TD>
      <DIV align=center>
      <TABLE id=table25 border=0 cellSpacing=0 cellPadding=0 width=650>
        <TBODY>
        <TR>
          <TD>
            <DIV 
            style="LINE-HEIGHT: 150%; MARGIN: 0px auto; WIDTH: 650px; FONT-FAMILY: arial,sans-serif; HEIGHT: 100%; FONT-SIZE: 12px" 
            align=center>
            <TABLE 
            style="TEXT-ALIGN: left; FONT-FAMILY: arial,verdana,sans-serif" 
            id=table26 border=0 cellSpacing=0 cellPadding=0 width=650>
              <TBODY>
              <TR>
                <TD></TD></TR>
              <TR>
                <TD></TD></TR>
              <TR>
                <TD vAlign=top></TD></TR>
              <TR>
                <TD vAlign=top>
                  <TABLE border=0 cellSpacing=0 cellPadding=0 width=600>
                    <TBODY>
                    <TR>
                      <TD><A 
                        href="http://market.tuniu.com/Partner_redirect.php?p=11167&amp;cmpid=union_11167&amp;url=http://www.tuniu.com/u/cpa_register" 
                        target=_blank><IMG border=0 alt="" 
                        src="途牛旅游网暑假旅游天天低价，注册为途牛会员即拥二百抵用券_files/20120601015838_69061.gif" 
                        width=650 height=520></A> </TD></TR></TBODY></TABLE><A 
                  href="http://market.tuniu.com/Partner_redirect.php?p=11167&amp;cmpid=union_11167&amp;url=http://www.tuniu.com/u/cpa_register"><IMG 
                  border=0 src="途牛旅游网暑假旅游天天低价，注册为途牛会员即拥二百抵用券_files/s2.jpg" 
                  width=650 
        height=70></A></TD></TR></TBODY></TABLE></DIV></TD></TR></TBODY></TABLE></DIV>
      <DIV align=center>
      <TABLE id=table45 border=0 cellSpacing=0 cellPadding=0 width=650>
        <TBODY>
        <TR>
          <TD>
          <TD 
          style="TEXT-ALIGN: center; PADDING-BOTTOM: 0pt; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #666666; FONT-SIZE: 12px; PADDING-TOP: 0pt" 
          align=middle>
            <P style="LINE-HEIGHT: 20px; MARGIN: 10px 0pt; COLOR: #000000"><FONT 
            color=#333333>本邮件由系统发出，请不要直接回复此邮件，您可以登陆途牛旅游网来了解常见问题。<BR></FONT><FONT 
            style="FONT-FAMILY: 宋体; COLOR: #4f4e4e; FONT-SIZE: 12px" 
            face=宋体>请将该电子邮件地址添加至您的邮箱地址簿，以确保收到来自途牛旅游网的电子邮件。</FONT><BR>途牛旅游网旅游线路价格或促销内容如有调整,请以途牛旅游网上最终产品页面为准。<BR>任何问题欢迎您致电联系客服: 
            &nbsp;<FONT color=#c60000>途牛旅游网&nbsp; </FONT>400-710-3672</P>
            <P 
            style="LINE-HEIGHT: 20px; MARGIN: 10px 0pt; COLOR: #999999; BORDER-TOP: #dddddd 1px solid; PADDING-TOP: 5px" 
            align=center>Copyright &copy; 2006-2012 途牛旅游网 <A style="COLOR: #666666" 
            title=bottom 
            href="http://market.tuniu.com/Partner_redirect.php?p=11167&amp;cmpid=union_11167&amp;url=http://www.tuniu.com/u/cpa_register" 
            target=_blank>Tuniu.com</A></P></TD></TR>　 
  </TBODY></TABLE></DIV></TD></TR></TBODY></TABLE></DIV>&nbsp; </BODY></HTML>
