<html><head>
<title> 2012豪礼相送！注册米尚官网免费赢取iphone4s！
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<link href="2012%E8%B1%AA%E7%A4%BC%E7%9B%B8%E9%80%81%EF%BC%81%E6%B3%A8%E5%86%8C%E7%B1%B3%E5%B0%9A%E5%AE%98%E7%BD%91%E5%85%8D%E8%B4%B9%E8%B5%A2%E5%8F%96iphone4s%EF%BC%81_files/style.css" type="text/css" rel="stylesheet">
</head>

<body><br>
<table summary="" width="700" border="0" cellpadding="0" cellspacing="0" align="center">
  <tbody>
  <tr>
    <td>
      <table summary="" width="700" background="template133/emd2011_10_24_01.jpg" border="0" cellpadding="0" cellspacing="0" height="90">
        <tbody>
        <tr>
          <td style="padding: 15px 0px 0px 20px; vertical-align: top; height: 75px;"><a href="http://edm.misun.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9uZXcmZmxhZz0xMzI1NzM1MzE3JnVybD1odHRwOi8vd3d3Lm1pc3VuLmNuLw==&amp;email=##L@##H" target="_blank"><img title="米尚优品，love life love work" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="米尚优品，love life love work" src="template133/logo.png" width="286" height="28"></a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td><img style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="注册米尚优品官网，赢取百万豪礼。2011-11-1至2011-12-31期间登陆米尚优品网站，即可获取抽奖机会。" src="template133/edm2011_10_24_02.jpg" width="700" height="83"></td>
  </tr>
  <tr>
    <td><a href="http://edm.misun.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdF9uZXcmZmxhZz0xMzI1NzM1MzE3JnVybD1odHRwOi8vd3d3Lm1pc3VuLmNuL3podWFudGkvZG9fZmxhc2g/c19pZD0y&amp;email=##L@##H" target="_blank"><img title="立即抽奖" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="立即抽奖" src="template133/edm2011_10_24_03.jpg"></a></td>
  </tr>
  <tr>
    <td>
      <table summary="" width="700" border="0" cellpadding="0" cellspacing="0" height="46">
        <tbody>
        <tr>
          <td><img title="活动流程" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="活动流程" src="template133/edm2011_10_24_04.jpg" width="192" height="64"></td>
          <td><img title="登录注册" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="登录注册" src="template133/edm2011_10_24_05.jpg" width="169" height="64"></td>
          <td><img title="参与抽奖" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="参与抽奖" src="template133/edm2011_10_24_06.jpg" width="174" height="64"></td>
          <td><img title="领取奖品" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; display: block;" alt="领取奖品" src="template133/edm2011_10_24_08.jpg" width="165" height="64"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table summary="" width="700" background="template133/edm2011_10_24_07.jpg" border="0" cellpadding="0" cellspacing="0" height="65">
        <tbody>
        <tr>
          <td style="font-size: 12px; padding-bottom: 10px; color: rgb(139, 139, 139); text-align: center;" valign="bottom">本活动最终解释权归米尚优品所有</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body></html>