<html><head>
<title> 《人才测评师》实战训练营
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
</style>
<table style="line-height: 200%; font-size: 12px;" border="0" cellpadding="0" cellspacing="0" width="650" align="center">
  <tbody> 
  <tr>
    <td><img src="template141/banner.jpg" height="190" width="650"></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#ffffff" valign="middle">
      <table border="0" cellpadding="0" cellspacing="0" width="600">
        <tbody>
        <tr>
          <td style="font-size: 12px;" align="left" bgcolor="#ffffff">
            <table border="0" cellpadding="0" cellspacing="0" width="600">
              <tbody>
              <tr>
                <td style="line-height: 200%; font-size: 12px;" align="left">
                  <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="90">　　随着企业间竞争的日益激烈，人力资源正逐步成为企业的战略性资源，企业已开始从战略的角度考虑人力资源管理问题。在十二五规划开局之年，作为HR的从业者如何利用人才测评--人力资源管理转型的重要工具，实现新形势下人力资源管理的变革与转型。&nbsp;<a class="linkStyle" href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8xMSZmbGFnPTEzMTkwMzIyNjImdXJsPWh0dHA6Ly8yMjIuMzUuMTM2LjY0L21haWwvMjAxMTA5MTcvaW5kZXgxLmh0bWw=&amp;email=##L@##H"> 
                        (更多)&nbsp;</a></td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="45" valign="top"><img src="template141/title_07.gif" height="43" width="171"></td>
                    </tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left"><img src="template141/dian.png" align="absMiddle" height="4" width="4">　企事业单位主要负责人、组织部门负责人；<br>
                        <img src="template141/dian.png" align="absMiddle" height="4" width="4">　企业主要负责人、人力资源总监、经理、专员（三年以上人力资源经历）；<br>
                        <img src="template141/dian.png" align="absMiddle" height="4" width="4">　高校相关专业院系、就职业指导中心负责人。 
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="45">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody>
                          <tr>
                            <td width="171"><img alt="" src="template141/title_02.gif" height="43" width="168"></td>
                            <td width="429"><a class="linkStyle" href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8xMSZmbGFnPTEzMTkwMzIyNjImdXJsPWh0dHA6Ly8yMjIuMzUuMTM2LjY0L21haWwvMjAxMTA5MTcvaW5kZXgxLmh0bWw=&amp;email=##L@##H">(更多)&nbsp;</a>&nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" height="90">
                        <table style="border-color: rgb(204, 204, 204); border-collapse: collapse;" border="1" cellpadding="0" cellspacing="0" width="569">
                          <tbody>
                          <tr>
                            <td style="border-color: rgb(204, 204, 204);" width="100%"><img src="template141/x1.jpg" height="24" width="569"></td>
                          </tr>
                          <tr>
                            <td style="border-color: rgb(204, 204, 204);" align="center">
                              <table border="0" cellpadding="0" cellspacing="0" width="95%">
                                <tbody>
                                <tr>
                                  <td style="" font-size:12px;?="" 微软雅黑?;line-height:200%;="" align="left"><span style="color:#a52d2d;font-weight:bold;">1.现代人才测评概论</span><br>
                                    <span style="color:#a52d2d;font-weight:bold;">2.人才测评在企业人力资源管理中的应用价值</span><br>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="50" valign="middle">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody>
                          <tr>
                            <td width="169"><img src="template141/title_02.png" height="43" width="164"></td>
                            <td width="431"><a class="linkStyle" href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8xMSZmbGFnPTEzMTkwMzIyNjImdXJsPWh0dHA6Ly8yMjIuMzUuMTM2LjY0L21haWwvMjAxMTA5MTcvaW5kZXgxLmh0bWw=&amp;email=##L@##H">(更多)&nbsp;</a>&nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="50">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody>
                          <tr>
                            <td width="18">&nbsp;</td>
                            <td width="222"><strong>苏永华</strong> 诺姆四达测评咨询有限公司总裁；复旦大学管理学博士后。</td>
                            <td width="120">&nbsp;</td>
                            <td width="220"><strong>纪 超 </strong>诺姆四达测评咨询有限公司副总裁；中国人民大学企业管理硕士；</td>
                            <td width="20">&nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody></tbody>
                        </table>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody></tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="45">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tbody>
                          <tr>
                            <td style="line-height: 200%; font-size: 12px;" align="left" height="45">
                              <table border="0" cellpadding="0" cellspacing="0" width="600">
                                <tbody>
                                <tr>
                                  <td width="237"><img alt="" src="template141/title_11.png" height="43" width="231"></td>
                                  <td width="338"><a class="linkStyle" href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8xMSZmbGFnPTEzMTkwMzIyNjImdXJsPWh0dHA6Ly8yMjIuMzUuMTM2LjY0L21haWwvMjAxMTA5MTcvaW5kZXgxLmh0bWw=&amp;email=##L@##H">(更多)&nbsp;</a>&nbsp;</td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                            <td>&nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: 200%; font-size: 12px;" align="left" height="112"><strong>时间地点</strong>： 
                        <br>
                        时间：2011年11月10日-12日 地点：苏州 <br>
                        <strong>培训费用：</strong>4480元/人（含培训费、教材资料费、午餐费、互动交流费拙政园、寒山寺。（食宿费用自理）； 
                        <br>
                        <strong>参与人数：</strong>为保证课堂讨论与实战演练效果，本期培训班限定50人以内，报名从速。</td>
                    </tr>
                    <tr></tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" bgcolor="#ffffff">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody></tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td background="template141/2-2.jpg">
      <table border="0" cellpadding="0" cellspacing="0" width="650">
        <tbody>
        <tr>
          <td width="410">&nbsp;</td>
          <td width="30"><a href="http://115.47.12.164/feedback.php?id=bGlzdF9uYW1lPWNhbGxjZW50ZXJfbGlzdF8xMSZmbGFnPTEzMTkwMzIyNjImdXJsPWh0dHA6Ly93ZWliby5jb20vbm9ybXN0YXJzaA==&amp;email=##L@##H" target="_blank"><img src="template141/foot.jpg" height="36" width="30" border="0"></a></td>
          <td width="210">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body></html>