<html><head>
<title>中原地产工商铺</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style type="text/css"><!--.STYLE1 {font-size: 12px}--></style>
<style>
a:link {text-decoration: none;}
</style>
<!-- ImageReady Slices (中原地产工商铺) -->
<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
  <tbody>
  <tr> 
    <td style="text-align: right; padding-right: 8px; background: none repeat scroll 0% 0% rgb(246, 246, 246); height: 23px; font-size: 12px; padding-top: 3px;">如果无法浏览此邮件，请点击“<a style="color: rgb(183, 0, 49);" href="#" target="_blank">这里-中原地产工商铺</a>”<a href="http://www.gqmarket.com/zy/edm.html">查看</a> 
    </td>
  </tr>
  <tr> 
    <td height="19"><img src="template192/2_01.gif" height="75" border="0" width="600"></td>
  </tr>
  <tr> 
    <td><img src="template192/2_02.gif" height="87" border="0" width="600"></td>
  </tr>
  <tr> 
    <td height="17"><img src="template192/2_03.gif" height="83" border="0" width="600"></td>
  </tr>
  <tr> 
    <td><img src="template192/2_04.gif" height="96" border="0" width="600"></td>
  </tr>
  <tr> 
    <td><img src="template192/2_05.gif" height="99" border="0" width="600"></td>
  </tr>
  <tr> 
    <td><img src="template192/2_06.gif" height="136" border="0" width="600"></td>
  </tr>
  <tr> 
    <td><img src="template192/2_07.gif" height="162" border="0" width="600"></td>
  </tr>
  <tr> 
    <td height="22"><img src="template192/2_08.gif" height="235" border="0" width="600"></td>
  </tr>
  <tr> 
    <td><img src="template192/2_09.gif" height="229" border="0" width="600"></td>
  </tr>
  <tr> 
    <td height="19"><img src="template192/2_10.gif" height="58" border="0" width="600"></td>
  </tr>
  <tr> 
    <td height="19">　</td>
  </tr>
  <tr> 
    <td style="text-align: left; padding-bottom: 5px; line-height: 24px; padding-left: 30px; background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(102, 102, 102); padding-top: 10px;"><span style="font-size:12px;"><strong style="color:#333333;">亲：您好！您收到我们的邮件是因为您是我们的会员，感谢您在百忙之中抽时间阅读我们的邮件。<br>
      </strong><strong style="color:#333333;">请不要直接回复此邮件，您可以通过点击以下链接了解常见问题。</strong></span><br>
      <span class="STYLE1" style="color:#b70031;">*</span><span class="STYLE1">如您不希望再次收到我们的邮件，请随时<a href="#">点击这里</a>取消订阅。<br>
      <span style="color:#b70031;">*</span>其它任何问题欢迎您致电中原客户经理周生：134-2125-4217。</span><br>
    </td>
  </tr>
  <tr> 
    <td height="26"><img src="template192/2_11.gif" height="25" border="0" width="600"></td>
  </tr>
  </tbody>
</table>
</body></html>