<html><head>
<title> {%%subject%%}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body><br>
<style>
p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}
th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<table style="border-style: solid;" bordercolordark="#ea6920" bordercolorlight="#ea6920" border="5" bordercolor="#ea6920" cellpadding="0" cellspacing="0" width="670" align="center">
  <tbody> 
  <tr>
    <td align="center"><br>
      <table border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td align="right"><img title="mymyfang.com" style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; width: 116px; height: 42px;" alt="mymyfang.com" src="template166/edm_logo01.jpg"></td>
        </tr>
        </tbody>
      </table>
      <br>
      <table border="0" cellpadding="0" cellspacing="5" width="620">
        <tbody>
        <tr>
          <td align="left" height="20" valign="center">
            <p><font face="Arial" style="font-size:12px;"><strong>{%%subject%%}</strong></font></p>
          </td>
        </tr>
        <tr>
          <td>
            <hr>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td align="left" valign="center" width="350">
            <p><font color="#f86b1b" face="Arial" style="font-size:12px;"><strong>亲爱的 {%%username%%},</strong></font></p>
          </td>
          <td align="right" valign="center">
            <p><font face="Arial" style="font-size:12px;"><strong>买卖房网站是免费的!!</strong></font>&nbsp;&nbsp;<br>
              {%%piclink%%}<img style="border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color;" alt="快速注册" src="template166/registnow.gif" align="middle"> 
            </p>
          </td>
        </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td width="5"></td>
          <td align="left" height="10" valign="center"></td>
          <td width="5"></td>
        </tr>
        <tr>
          <td width="5"></td>
          <td align="left" valign="center">
            <p style="line-height:30px;"><font face="Arial" style="font-size:12px;">我们高兴的通知您，我们的客户和会员对您的房源，例如 
              {%%subject%%} 相当感兴趣。</font> </p>
          </td>
          <td width="5"></td>
        </tr>
        <tr>
          <td colspan="3" height="10"></td>
        </tr>
        <tr>
          <td width="5"></td>
          <td align="left" valign="center">
            <p><font face="Arial" style="font-size:12px;">我们为我们的客户和会员提供查看您所发布的所有房源的机会，并帮助安排实地看房。买卖房网站每天有超过1000万的访问者，是全球最大的在线房地产市场之一，将竭尽全力地支持您快速达成房产交易。 
              </font></p>
          </td>
          <td width="5"></td>
        </tr>
        <tr>
          <td colspan="3" height="15"></td>
        </tr>
        <tr>
          <td width="5"></td>
          <td align="left" valign="center">
            <p><font face="Arial" style="font-size:12px;">为此，请通过快速注册登录我们的网站，仅需花费一分钟的时间。您所提供的房产将被免费自动发布。注册后，您可免费发布任意更多的房产信息。</font></p>
          </td>
          <td width="5"></td>
        </tr>
        <tr>
          <td width="5"></td>
          <td align="left" height="15" valign="center"></td>
          <td width="5"></td>
        </tr>
        </tbody>
      </table>
      <table style="border-right: 2px solid rgb(255, 233, 94); border-width: 2px; border-style: solid; border-color: rgb(255, 233, 94);" bgcolor="#fff7c2" border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td width="5"></td>
          <td align="left" height="10" valign="center"></td>
          <td width="5"></td>
        </tr>
        <tr>
          <td width="5"></td>
          <td align="left" valign="center">
            <p><font face="Arial" style="font-size:12px;">快速注册请点击下面的链接： </font></p>
            <p align="center"><font face="Arial" style="font-size:12px;"><a href="http://www.mymyfang.com/Inviteregister/index/t/%7B%%shorreglink%%%7D">快速注册</a></font></p>
          </td>
          <td 5?="" width="5"></td>
          <td align="left" height="10" valign="center"></td>
          <td width="5"></td>
        </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td align="left" height="15" valign="center"></td>
        </tr>
        <tr>
          <td align="left" height="10" valign="center"><font face="Arial" style="font-size:12px;">或按以下步骤进行注册：</font></td>
        </tr>
        <tr>
          <td><font face="Arial" style="font-size:12px;">1.访问<a href="http://www.mymyfang.com/">http://www.mymyfang.com</a></font></td>
        </tr>
        <tr>
          <td><font face="Arial" style="font-size:12px;">2.点击注册</font></td>
        </tr>
        <tr>
          <td><font face="Arial" style="font-size:12px;">3.选择专为房产经纪人设计的 “经纪人快速注册“ ，并输入您的个人代码 
            <strong>{%%sOnlyCode%%}</strong></font> </td>
        </tr>
        <tr>
          <td><font face="Arial" style="font-size:12px;">4.确认注册和您的房源发布</font></td>
        </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td>
            <hr>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <table border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td align="left">
            <p><font color="#f86b1b" face="Arial" style="font-size:12px;">致敬, <br>
              <br>
              您的买卖房网站团队 <br>
              <br>
              </font></p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<br>
<table border="0" cellpadding="0" cellspacing="0" width="670" align="center">
  <tbody> 
  <tr>
    <td>
      <hr color="#f76b19" size="1">
    </td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="670" align="center">
  <tbody> 
  <tr>
    <td align="center">
      <p><font face="Arial" style="font-size:9pt"><a href="http://www.mymyfang.com/">MyMyFang</a> &nbsp;
        | &nbsp;<a href="http://www.mymyfang.com/member/agreement">使用条款</a></font>&nbsp;<font color="#565555" face="Arial"  style="font-size:8pt">| &nbsp;
        &#169; 2011 SoHi Group, All Rights Reserved </font></p>
<br>
    </td>
  </tr>
  </tbody>
</table>
</body></html>