<html><head>
<title> 一件也拿批发价，服装进货0风险！
</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
</head>

<body>
<style>
p,td,input,select,textarea {font-size: 12px;line-height:20px;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}
</style>
<br>
<div style="padding:15px;overflow:visible;font-size:14px;height:auto;min-height:250px;line-height:170%;">
  <div><includetail>
    <div style="font:verdana normal 14px;color:#000;">
        <table style="margin-left: auto; margin-right: auto; font-size: 12px; color: rgb(51, 51, 51);" width="650" border="0" cellpadding="0" cellspacing="0" align="center">
          <tbody>
          <tr>
            <td rowspan="2" width="429" align="left"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank"><img src="template193/13510486rj03d284d03dbj.gif" width="203" border="0" height="44"></a></td>
            <td colspan="6" height="24" align="right"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank" style="color: rgb(255, 54, 51);">邮件显示不正常，【请点击此】</a> 
            </td>
          </tr>
          <tr> 
            <td width="24" height="20" align="left"><img src="template193/1351086xheg17o6s2oe6oj.gif" width="19" border="0" height="20"></td>
            <td width="54" align="left"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9bWVtYmVy&amp;email=##L@##H" target="_blank" style="color: rgb(25, 113, 167);">我的衣联</a></td>
            <td width="27" align="left"><img src="template193/13510837spb97t7b3g3p73.gif" width="22" border="0" height="20"></td>
            <td width="40" align="left"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Y2FydA==&amp;email=##L@##H" target="_blank" style="color: rgb(25, 113, 167);">购物车</a></td>
            <td width="22" align="left"><img src="template193/135108ymxwljr3krrwbyly.gif" width="18" border="0" height="20"></td>
            <td width="54" align="left"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9aGVscA==&amp;email=##L@##H" target="_blank" style="color: rgb(25, 113, 167);">帮助中心</a></td>
          </tr>
          </tbody>
        </table>
        <table width="10" border="0" cellpadding="0" cellspacing="0" align="center">
          <tbody>
          <tr> 
            <td height="6"></td>
          </tr>
          </tbody>
        </table>
        <table style="font-weight: 700; margin-left: auto; margin-right: auto; font-size: 12px; color: rgb(51, 51, 51);" width="650" bgcolor="#D40000" border="0" cellpadding="0" cellspacing="0" align="center">
          <tbody>
          <tr> 
            <td width="10" height="37" align="left"><img src="template193/135103u86ulguhaqmnaqld.gif" width="10" border="0" height="37"></td>
            <td align="center"><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank">首页</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNo&amp;email=##L@##H" target="_blank">所有货源</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTE=&amp;email=##L@##H" target="_blank">实体货源</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTM=&amp;email=##L@##H" target="_blank">网络货源</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTI=&amp;email=##L@##H" target="_blank">工厂货源</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTQ=&amp;email=##L@##H" target="_blank">品牌货源</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJnNvdXJjZV90eXBlPTU=&amp;email=##L@##H" target="_blank">外贸尾货</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJmNhdGVnb3J5PTI4OQ==&amp;email=##L@##H" target="_blank">女装</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJmNhdGVfaWRbXT0yOTI=&amp;email=##L@##H" target="_blank">男装</a><font color="#FFFFFF">&nbsp;| 
              </font><a style="color: rgb(255, 255, 255); text-decoration: none;" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9c2VhcmNoJmNhdGVfaWRbXT0yOTM=&amp;email=##L@##H" target="_blank">童装</a><font color="#FFFFFF"> 
              </font>&nbsp;&nbsp;
              </td>
            <td width="10" align="right"><img src="template193/135103tlohimc0mdltltcm.gif" width="10" border="0" height="37"></td>
          </tr>
          </tbody>
        </table>
      <table width="10" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td height="6"></td>
        </tr>
        </tbody>
      </table>
      <table width="650" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td width="359" align="left"><strong><font size="2" color="#ff0000">&nbsp;&nbsp;&nbsp; 
            添加到网络收藏：</font></strong> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9zaHVxaWFuLnFxLmNvbS9wb3N0P3RpdGxlPXd3dy5lZWxseS5jb20mdXJpPWh0dHA6Ly93d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank"><img src="template193/1351104qrefzxejae3fxvl.jpg" width="16" border="0" height="16"></a>&nbsp; 
            <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHBzOi8vd3d3Lmdvb2dsZS5jb20vYm9va21hcmtzL21hcms/b3A9YWRkJmJrbWs9aHR0cDovL3d3dy5lZWxseS5jb207dGl0bGU9d3d3LmVlbGx5LmNvbQ==&amp;email=##L@##H" target="_blank"><img src="template193/1351051dizjr5uqcmir1rd.jpg" width="16" border="0" height="16"></a>&nbsp; 
            <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9jYW5nLmJhaWR1LmNvbS9kby9hZGQ/aXQ9d3d3LmVlbGx5LmNvbSZpdT1odHRwOi8vd3d3LmVlbGx5LmNvbQ==&amp;email=##L@##H" target="_blank"><img src="template193/135100sgrng18i10zlj8lt.jpg" width="16" border="0" height="16"></a>&nbsp; 
            <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9teXdlYi5jbi55YWhvby5jb20vcG9wYWRkLmh0bWw/dXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLyZ0aXRsZT13d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank"><img src="template193/135113101o1nb0811i80hl.jpg" width="16" border="0" height="16"></a>&nbsp; 
            <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZG91YmFuLmNvbS9yZWNvbW1lbmQvP3VybD1odHRwOi8vd3d3LmVlbGx5LmNvbS8mdGl0bGU9d3d3LmVlbGx5LmNvbQ==&amp;email=##L@##H" target="_blank"><img src="template193/135104ip0i07i616i6o652.gif" width="16" border="0" height="16"></a>&nbsp; 
            <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly92LnQuc2luYS5jb20uY24vc2hhcmUvc2hhcmUucGhwP2FwcGtleT0yNDQ1MzM2ODIxJnRpdGxlPXd3dy5lZWxseS5jb20mdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29t&amp;email=##L@##H" target="_blank"><img src="template193/1351124g398m14z118xg0z.jpg" width="16" border="0" height="16"></a></td>
          <td width="291" align="left"><strong><font size="2" color="#ff0000">衣联快报：</font></strong><font size="2"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIxMl8yLw==&amp;email=##L@##H" target="_blank" style="color: rgb(25, 113, 167);">衣联年终大献：圣诞节狂欢抢先大补货</a></font></td>
        </tr>
        </tbody>
      </table>
      <table width="10" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td height="6"></td>
        </tr>
        </tbody>
      </table>
      <table width="10" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody> </tbody>
      </table>
      <table width="650" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td height="200"><a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank"><img src="template193/163712kir83823k9xjj8kj.jpg" width="650" border="0" height="423"></a> 
          </td>
        </tr>
        </tbody>
      </table>
      <table style="border: 1px solid rgb(216, 214, 214);" width="650" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr bgcolor="#FFFFFF"> 
          <td> 
            <table style="margin: 5px 8px;" width="630" border="0" cellpadding="0" cellspacing="0" height="30">
              <tbody>
              <tr> 
                <td width="250"> <img src="template193/135106431g1kspmm4kkkup.jpg" width="240" height="28"> 
                </td>
                <td width="380" align="left"> <img src="template193/135105nofak7k30o3h2fck.jpg" width="380" border="0" height="28"> 
                </td>
              </tr>
              </tbody>
            </table>
            <table style="margin: 5px 8px;" width="630" border="0" cellpadding="0" cellspacing="0" height="30">
              <tbody>
              <tr> 
                <td width="240"> 
                  <table style="margin: 0px 0px 5px;" width="240" border="0" cellpadding="0" cellspacing="0" height="30" align="left">
                    <tbody>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIxMl8yLw==&amp;email=##L@##H"> 
                        ·衣联年终大献：圣诞狂欢大补货</a>！ </td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9jbGljay51bmlvbi5lZWxseS5jb20vSmRDbGljay8/dW5pb25JZD0yNjcmc2l0ZWlkPTEwMDAwMSZ0bz1odHRwOi8vd3d3LmVlbGx5LmNvbS9uZXdzLmFzcHg/aWQ9NTQzMg==&amp;email=##L@##H">·</a><a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIxMi8=&amp;email=##L@##H">“笋货专区”，最具性价比！</a> 
                      </td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIwMS8=&amp;email=##L@##H"> 
                        ·优品推荐，最热销单品推荐</a>！ </td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkyNF8yLw==&amp;email=##L@##H"> 
                        ·一件也拿批发价，进货0风险！</a> </td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkxNl8yLw==&amp;email=##L@##H"> 
                        ·</a><a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkxNl8yLw==&amp;email=##L@##H">限时团批，超值团批，不容错过</a></td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkyMS8=&amp;email=##L@##H"> 
                        ·全场包邮，捉住包邮周，别撒手！</a> </td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTEyMy8=&amp;email=##L@##H"> 
                        ·厂家云集，一手货源，低价进货！</a> </td>
                    </tr>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px; color: rgb(51, 51, 51); padding-left: 20px;"> 
                        <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkxNl8xLw==&amp;email=##L@##H"> 
                        ·新店开张，下单就有大优惠！</a> </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td width="380"> 
                  <table style="margin-top: 0px;" width="380" border="0" cellpadding="0" cellspacing="0" height="30" align="right">
                    <tbody>
                    <tr> 
                      <td colspan="2" style="font-size: 12px; line-height: 27px;"> 
                        <table style="font-size: 12px; margin-top: 5px; border-bottom: 1px solid rgb(204, 204, 204); font-family: arial,helvetica,sans-serif;" width="378" border="0" cellpadding="0" cellspacing="0" height="91">
                          <tbody>
                          <tr> 
                            <td rowspan="5" valign="top" width="112" align="center"> 
                              <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9NDI5MzQ1&amp;email=##L@##H"> 
                              <img src="template193/001.jpg" style="border: 0px none;" width="100" border="0" height="100"></a> 
                            </td>
                            <td colspan="2" style="font-size: 12px; line-height: 20px;" height="38"> 
                              <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9NDI5MzQ1&amp;email=##L@##H"> 
                              同款销量第一，磨毛莱卡螺纹棉打底衫，网络爆款！<font style="font-size:12px;color:#ff6600;">韩版磨毛高领打底衫</font></a> 
                            </td>
                          </tr>
                          <tr> 
                            <td colspan="2" style="color: rgb(153, 153, 153); font-size: 12px; line-height: 15px;" height="25"> 
                              <font style="color:#ff0000;"><strong>衣联价：￥11.20</strong></font> 
                            </td>
                          </tr>
                          <tr style="border-bottom: 1px solid rgb(204, 204, 204);"> 
                            <td width="122" height="21"> <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9Z29vZHMmaWQ9NDI5MzQ1&amp;email=##L@##H"> 
                              <img src="template193/13510463x4mb9v1bekrzny.jpg" style="border: 0px none;" width="63" border="0" height="21"></a> 
                            </td>
                            <td style="font-size: 12px; color: rgb(216, 214, 214);" width="144"> 
                              <a style="color: rgb(255, 0, 0); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL3NlYXJjaC1jYXRlZ29yeS0yODkuaHRtbA==&amp;email=##L@##H"> 
                              更多同类商品</a> </td>
                          </tr>
                          </tbody>
                        </table>
                        <table style="font-size: 12px; margin-top: 5px; border-bottom: 1px solid rgb(204, 204, 204); font-family: arial,helvetica,sans-serif;" width="378" border="0" cellpadding="0" cellspacing="0" height="91">
                          <tbody>
                          <tr> 
                            <td rowspan="5" valign="top" width="112" align="center"> 
                              <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2dvb2RzLTQ3NjkxMi5odG1s&amp;email=##L@##H"> 
                              <img src="template193/002.jpg" style="border: 0px none;" width="100" border="0" height="100"></a> 
                            </td>
                            <td colspan="2" style="font-size: 12px; line-height: 20px;" height="38"> 
                              <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2dvb2RzLTQ3NjkxMi5odG1s&amp;email=##L@##H"> 
                              同款销量第一，时尚秋冬羊绒打底衫，网络爆款！<font style="font-size:12px;color:#ff6600;">韩版时尚秋冬羊绒打底衫M0005</font></a> 
                            </td>
                          </tr>
                          <tr> 
                            <td colspan="2" style="color: rgb(153, 153, 153); font-size: 12px; line-height: 15px;" height="25"> 
                              <font style="color:#ff0000;"><strong>衣联价：￥37.00</strong></font> 
                            </td>
                          </tr>
                          <tr style="border-bottom: 1px solid rgb(204, 204, 204);"> 
                            <td width="122" height="21"> <a style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2dvb2RzLTQ3NjkxMi5odG1s&amp;email=##L@##H"> 
                              <img src="template193/13510463x4mb9v1bekrzny.jpg" style="border: 0px none;" width="63" border="0" height="21"></a> 
                            </td>
                            <td style="font-size: 12px; color: rgb(216, 214, 214);" width="144"> 
                              <a style="color: rgb(255, 0, 0); text-decoration: none;" target="_blank" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL3NlYXJjaC1jYXRlZ29yeS0yODkuaHRtbA==&amp;email=##L@##H"> 
                              更多同类商品</a> </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <table style="margin: 5px 8px;" width="630" border="0" cellpadding="0" cellspacing="0" height="30">
              <tbody>
              <tr> 
                <td width="100%"><img src="template193/t1.jpg" usemap="#Map" width="634" border="0" height="263"> 
                  <img src="template193/t2.jpg" usemap="#Map2" width="634" border="0" height="263"> 
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <!--两张广告图-->
      <table width="650" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td width="324"> 
            <table style="margin: 5px 0px;" width="315" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr> 
                <td> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPSM=&amp;email=##L@##H" target="_blank"> 
                  <img src="template193/shengdan.jpg" style="border: 0px none;" width="315" height="150"></a> 
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td width="326"> 
            <table style="margin: 5px 0px 5px 10px;" width="315" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr> 
                <td> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPSM=&amp;email=##L@##H" target="_blank"> 
                  <img src="template193/sunhuo.jpg" style="border: 0px none;" width="315" height="150"></a> 
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="border: 1px solid rgb(216, 214, 214);" width="650" cellpadding="0" cellspacing="0" align="center">
      </table>
      <!--650px的广告图-->
      <table style="margin-top: 5px; margin-bottom: 5px;" width="650" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPSM=&amp;email=##L@##H" target="_blank"> 
            <img src="template193/newpd.gif" width="650" border="0" height="100"></a> 
          </td>
        </tr>
        </tbody>
      </table>
      <table style="border: 1px solid rgb(216, 214, 214); margin-bottom: 5px;" width="650" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr bgcolor="#FFFFFF"> 
          <td> 
            <table style="margin: 5px 8px;" width="630" border="0" cellpadding="0" cellspacing="0" height="30">
              <tbody>
              <tr> 
                <td> <img src="template193/JCHD.jpg" width="630" height="28"> 
                </td>
              </tr>
              </tbody>
            </table>
            <table style="margin: 5px 8px 5px 18px;" width="620" border="0" cellpadding="0" cellspacing="0" height="30">
              <tbody>
              <tr> 
                <td width="320"> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkyMS8=&amp;email=##L@##H" target="_blank"> 
                  <img src="template193/13510195m4tjnj4tnouoxh.jpg" width="300" border="0" height="143"></a> 
                </td>
                <td width="315" align="left"> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTIwMS8=&amp;email=##L@##H" target="_blank"> 
                  <img src="template193/1351141xitdddrru6ej0g6.jpg" width="300" border="0" height="143"></a> 
                </td>
              </tr>
              </tbody>
            </table>
            <table style="margin: 5px 8px 5px 18px;" width="620" border="0" cellpadding="0" cellspacing="0" height="30">
              <tbody>
              <tr> 
                <td width="320"> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMTEyMy8=&amp;email=##L@##H" target="_blank"> 
                  <img src="template193/135115yad5291no7nzym5o.jpg" width="300" border="0" height="143"></a> 
                </td>
                <td width="315" align="left"> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2FjdGl2aXR5LzExMDkyNF8yLw==&amp;email=##L@##H" target="_blank"> 
                  <img src="template193/135113bzx1i98x9duwi2if.jpg" width="300" border="0" height="143"></a> 
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="overflow: hidden; border: 1px solid rgb(212, 0, 0); margin: 0pt auto 10px; line-height: 120%; font-size: 12px; color: rgb(51, 51, 51);" width="650" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr> 
          <td style="padding: 10px;"> 
            <div> 
              <p> 因为您曾经注册成为衣联网的用户，所以您会收到这封邮件。我们保证仅向您发送关于衣联网的产品、促销优惠以及服务的电子邮件。衣联网尊重并保护您的隐私。<br>
                <br>
                商品价格或促销内容如有调整，以衣联网上最终页面为准。任何问题欢迎您致电或邮件联系衣联网客服中心：400-6688-038。如有问题请访问<a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tL2luZGV4LnBocD9hcHA9aGVscA==&amp;email=##L@##H" target="_blank" style="color: rgb(25, 113, 167);">帮助中心</a>。</p>
            </div>
            <div style="text-align:center;margin-top:10px;color:#333;"> <a href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly93d3cuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank"><img src="template193/13510486rj03d284d03dbj.gif" border="0"></a><br>
              Copyright &#169; 2003-2011 Eelly.All Rights Reserved 衣联公司 版权所有 粤ICP备10209547号-2 
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
    </div>
    </includetail></div>
</div>
<map name="Map"> 
  <area shape="rect" coords="11,15,154,247" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9xaWdlZ2UuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank">
  <area shape="rect" coords="168,14,310,245" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9xbHp3LmVlbGx5LmNvbS8=&amp;email=##L@##H" target="_blank">
  <area shape="rect" coords="323,12,463,243" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9tYW5keS5lZWxseS5jb20v&amp;email=##L@##H" target="_blank">
  <area shape="rect" coords="478,13,619,246" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9zdWthLmVlbGx5LmNvbS8=&amp;email=##L@##H" target="_blank">
</map>
<map name="Map2"> 
  <area shape="rect" coords="10,12,156,249" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly96aGljb25neGkuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank">
  <area shape="rect" coords="168,13,307,245" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9rYW1hbm5hLmVlbGx5LmNvbS8=&amp;email=##L@##H" target="_blank">
  <area shape="rect" coords="323,14,465,245" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9rYXhpbmxvbmcuZWVsbHkuY29tLw==&amp;email=##L@##H" target="_blank">
  <area shape="rect" coords="479,13,622,246" href="http://edm.eelly.cn/feedback.php?id=bGlzdF9uYW1lPXJvb3RfbGlzdDAwMyZmbGFnPTEzMjYyNDk0OTcmdXJsPWh0dHA6Ly9saWFuZ2FuLmVlbGx5LmNvbS8=&amp;email=##L@##H" target="_blank">
</map>
</body></html>