<html><head>
<meta http-equiv="content-type" content="text/html; charset=gb2312"><style>

html{word-wrap:break-word;}
body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:8px 10px;margin:0;}
pre {
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
</style>




</head><body><table style="font-family: verdana; font-size: 12px; line-height: 180%;" align="center" background="template126/bg.png" border="0" cellpadding="0" cellspacing="0" width="606">
  <tbody>
	
    <tr>
      	<td colspan="3" style="font-size: 0pt; line-height: 0;">
			<table background="template126/top.png" border="0" cellpadding="0" cellspacing="0" height="66" width="606">
				<tbody><tr>
					<td width="40">&nbsp;</td>
					<td height="61" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" height="61">
							<tbody><tr>
								<td height="25">&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td valign="top" width="106"><a href="http://mail.163.com/" target="_blank"><img src="template126/163logo-s.gif" alt="163网易免费邮" border="0"></a></td>
								<td valign="top" width="106"><a href="http://www.126.com/" target="_blank"><img src="template126/126logo-s.gif" alt="126网易免费邮" border="0"></a></td>
								<td valign="top" width="106"><a href="http://www.yeah.net/" target="_blank"><img src="template126/yeahlogo-s.gif" alt="yeah.net网易免费邮" border="0"></a></td>
							</tr>
						</tbody></table>
					</td>
				<td width="40">&nbsp;</td>
				</tr>
			</tbody></table>
        </td>
    </tr>
	
	<tr>
		<td colspan="3" align="center"><img src="template126/pic-1.jpg" alt="网易邮箱—您不知道的事" border="0"></td>
	 </tr>
    <tr>
      <td width="25">&nbsp;</td>
	  
      <td width="556">
		<p style="margin:0;padding:0;color:#666;padding-top:10px;line-height:2.2">关于网易邮箱，您也许已听过不少，但关于它所拥有的强大功能，您又了解多少呢？</p>
		<div style="border-bottom:1px dashed #E5E5E5;margin:15px 0">
			<table style="font-size: 12px; color: rgb(51, 51, 51);" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td style="width: 70px;" align="left"><img src="template126/prod-1.jpg" alt=""></td>
						<td style="color: rgb(153, 153, 153);" valign="middle">
							<p style="margin:0;padding:0;margin:10px 0">您也许知道，打开网页登录网易邮箱</p>
							<p style="margin:0;padding:0;margin:10px 0">但未必知道，<span style="color:#333">安装网易 <a target="_blank" href="http://count.mail.163.com/statistics/Hf9x4q.do?domain=163.com&amp;product=post_welcome10&amp;area=item_first" style="color: rgb(0, 84, 148);">网易邮箱助手</a> ，不开网页也能直接看邮件</span></p>
						</td>
					</tr>
					<tr>
						<td colspan="2" height="5">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="border-bottom:1px dashed #E5E5E5;margin:15px 0">
			<table style="font-size: 12px; color: rgb(153, 153, 153);" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td style="width: 70px;" align="left"><img src="template126/prod-2.jpg" alt=""></td>
						<td valign="middle">
							<p style="margin:0;padding:0;margin:10px 0">您也许知道，网易邮箱能够管理海量邮件和通讯录</p>
							<p style="margin:0;padding:0;margin:10px 0">但未必知道，<span style="color:#333">使用 <a target="_blank" sys="1" module="related_add" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=related_add" style="color: rgb(0, 84, 148);">多帐户关联</a> ，随意切换多个网易邮箱，无需重新登录；</span></p>
							<p style="margin:0;padding:0;margin:10px 0;text-indent:6em"><span style="color:#333">通过 <a target="_blank" sys="1" module="pop3_create" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=pop3_create" style="color: rgb(0, 84, 148);">邮箱中心</a> 收取、管理其他邮箱的邮件，10秒设置QQ/Gmail邮件迁移！</span></p>
						</td>
					</tr>
					<tr>
						<td colspan="2" height="5">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="border-bottom:1px dashed #E5E5E5;margin:15px 0">
			<table style="font-size: 12px; color: rgb(153, 153, 153);" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td style="width: 70px;" align="left"><img src="template126/prod-4.jpg" alt=""></td>
						<td style="color: rgb(153, 153, 153);" valign="middle">
							<p style="margin:0;padding:0;margin:10px 0">您也许知道，邮件中可以随意添加50M以下的附件</p>
							<p style="margin:0;padding:0;margin:10px 0">但未必知道，<span style="color:#333">网易邮箱的 <a target="_blank" sys="1" id="bj_center" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=bj_center" style="color: rgb(0, 84, 148);">2G超大附件</a> ，一次发出1000张照片/500首歌曲/4部高清电影</span></p>
						</td>
					</tr>
					<tr>
						<td colspan="2" height="5">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="border-bottom:1px dashed #E5E5E5;margin:15px 0">
			<table style="font-size: 12px; color: rgb(153, 153, 153);" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td style="width: 70px;" align="left"><img src="template126/prod-5.jpg" alt=""></td>
						<td style="color: rgb(153, 153, 153);" valign="middle">
							<p style="margin:0;padding:0;margin:10px 0">您也许知道，网盘在线存储服务</p>
							<p style="margin:0;padding:0;margin:10px 0">但未必知道，<span style="color:#333"><a target="_blank" sys="1" id="nf_center" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=nf_center" style="color: rgb(0, 84, 148);">网易邮箱网盘</a> ，支持文件预览、分享和发送，在手机邮箱网盘和电脑同步</span></p>
						</td>
					</tr>
					<tr>
						<td colspan="2" height="5">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p style="color:#666">除了这些，还有<a target="_blank" sys="1" id="nresume" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=nresume" style="color: rgb(0, 84, 148);">简历中心</a>、<a target="_blank" href="http://count.mail.163.com/statistics/CPfoPS.do?domain=163.com&amp;product=post_welcome10&amp;area=bottom" style="color: rgb(0, 84, 148);">用户俱乐部</a>、<a target="_blank" sys="1" id="schedule" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=schedule" style="color: rgb(0, 84, 148);">日程管理</a>、<a target="_blank" sys="1" id="music_outlink" href="http://count.mail.163.com/statistics/NhASrh.do?domain=163.com&amp;product=post_welcome10&amp;area=music_outlink" style="color: rgb(0, 84, 148);">音乐盒</a>……网易邮箱给您超出想象的精彩。 </p>
		<div style="border:1px solid #E3E7EA;background-color:#F8FAFC;color:#666;padding:10px 20px;line-height:2">
			您也许知道，网易邮箱已经有13年的发展历史，用户数超过4亿<br>
			但未必知道，网易邮箱的每一点变化都来源于您的点击、您的肯定、您的不满、您的坚守。<br>
			<a target="_blank" href="http://count.mail.163.com/statistics/4O9ASo.do?domain=163.com&amp;product=post_welcome10&amp;area=bottom" style="color: rgb(0, 84, 148);">看看100名网易邮箱员工写给您的百情书&gt;&gt;&gt;</a>
		</div>
	  </td>
      <td width="25">&nbsp;</td>
    </tr>
	<tr>
		<td colspan="3" height="20">&nbsp;</td>
	</tr>
	<tr>
	  <td style="font-size: 0pt; line-height: 0;" colspan="3" background="template126/bottom.jpg" height="20">&nbsp;</td>
	</tr>
  </tbody>
</table>
<img src="template126/edm.gif" style="display: none;" border="0">
 

<script language="javascript">try{parent.JS.modules[window.name].content.setHeight();}catch(e){}</script>
</body></html>