<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="600" bgcolor="#470101" align="center">
	<tbody>
		<tr>
			<td style="line-height:30px;font-family:宋体;height:30px;color:#000000;font-size:12px;" bgcolor="#ffffff" colspan="5" align="middle">
				如果您无法正常浏览此邮件，请<a style="color:#cc0000;" href="#" target="_blank">点击这里</a>查看&nbsp;&nbsp;
			</td>
		</tr>
	</tbody>
</table>
<table style="border-bottom:#dcdcdc 1px solid;border-left:#dcdcdc 1px solid;border-top:#dcdcdc 1px solid;border-right:#dcdcdc 1px solid;" class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
	<tbody>
		<tr>
			<td colspan="3">
				<img style="vertical-align:bottom;" border="0" alt="" src="template1.jpg" width="600" height="150" /> 
			</td>
		</tr>
		<tr>
			<td rowspan="7" width="20">
				&nbsp;
			</td>
			<td width="560">
				<h1 style="margin:0px;">
					标题1
				</h1>
				<h2 style="margin:0px;">
					标题2
				</h2>
				<h3 style="margin:0px;">
					标题3
				</h3>
				<h4 style="margin:0px;">
					标题4
				</h4>
			</td>
			<td rowspan="7" width="20">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td style="line-height:22px;font-family:宋体;color:#666666;font-size:12px;">
				<p style="text-indent:2em;">
					浔阳江头夜送客，枫叶荻花秋瑟瑟。主人下马客在船，举酒欲饮无管弦。醉不成欢惨将别，别时茫茫江浸月。忽闻水上琵琶声，主人忘归客不发。寻声暗问弹者谁，琵琶声停欲语迟。移船相近邀相见，添酒回灯重开宴。千呼万唤始出来，犹抱琵琶半遮面。转轴拨弦三两声，未成曲调先有情。弦弦掩抑声声思，似诉平生不得志；低眉信手续续弹，说尽心中无限事。轻拢慢捻抹复挑，初为霓裳后《六幺》。
				</p>
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="560">
					<tbody>
						<tr>
							<td width="160">
								<img style="vertical-align:bottom;" border="0" alt="" src="template2.jpg" width="160" height="160" /> 
							</td>
							<td width="40">
								&nbsp;
							</td>
							<td width="160">
								<img style="vertical-align:bottom;" border="0" alt="" src="template2.jpg" width="160" height="160" /> 
							</td>
							<td width="40">
								&nbsp;
							</td>
							<td width="160">
								<img style="vertical-align:bottom;" border="0" alt="" src="template2.jpg" width="160" height="160" /> 
							</td>
						</tr>
						<tr>
							<td height="30">
								<h4 style="margin:0px;">
									标题4
								</h4>
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								<h4 style="margin:0px;">
									标题4
								</h4>
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								<h4 style="margin:0px;">
									标题4
								</h4>
							</td>
						</tr>
						<tr>
							<td style="line-height:20px;font-family:宋体;color:#666666;font-size:12px;">
								浔阳江头夜送客，枫叶荻花秋瑟瑟。主人下马客在船，举酒欲饮无管弦。醉不成欢惨将别，别时茫茫江浸月。忽闻水上琵琶声，主人忘归客不发。寻声暗问弹者谁，琵琶声停欲语迟。移船相近邀相见，添酒回灯重开宴。千呼万唤始出来，犹抱琵琶半遮面。转轴拨弦三两声，未成曲调先有情。弦弦掩抑声声思，似诉平生不得志；低眉信手续续弹，说尽心中无限事。轻拢慢捻抹复挑，初为霓裳后《六幺》。
							</td>
							<td>
								&nbsp;
							</td>
							<td style="line-height:20px;font-family:宋体;color:#666666;font-size:12px;">
								浔阳江头夜送客，枫叶荻花秋瑟瑟。主人下马客在船，举酒欲饮无管弦。醉不成欢惨将别，别时茫茫江浸月。忽闻水上琵琶声，主人忘归客不发。寻声暗问弹者谁，琵琶声停欲语迟。移船相近邀相见，添酒回灯重开宴。千呼万唤始出来，犹抱琵琶半遮面。转轴拨弦三两声，未成曲调先有情。弦弦掩抑声声思，似诉平生不得志；低眉信手续续弹，说尽心中无限事。轻拢慢捻抹复挑，初为霓裳后《六幺》。
							</td>
							<td>
								&nbsp;
							</td>
							<td style="line-height:20px;font-family:宋体;color:#666666;font-size:12px;">
								浔阳江头夜送客，枫叶荻花秋瑟瑟。主人下马客在船，举酒欲饮无管弦。醉不成欢惨将别，别时茫茫江浸月。忽闻水上琵琶声，主人忘归客不发。寻声暗问弹者谁，琵琶声停欲语迟。移船相近邀相见，添酒回灯重开宴。千呼万唤始出来，犹抱琵琶半遮面。转轴拨弦三两声，未成曲调先有情。弦弦掩抑声声思，似诉平生不得志；低眉信手续续弹，说尽心中无限事。轻拢慢捻抹复挑，初为霓裳后《六幺》。
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td style="font-family:宋体;font-size:14px;font-weight:bold;" bgcolor="#f9f9f9" height="30" align="middle">
				<a style="color:#ff0000;text-decoration:none;" href="#" target="_blank">点击查看更多详情>></a> 
			</td>
		</tr>
		<tr>
			<td style="padding-bottom:10px;line-height:20px;font-family:宋体;color:#000000;font-size:12px;padding-top:10px;" align="middle">
				在此输入你的公司名称、地址、联系信息或版权
			</td>
		</tr>
	</tbody>
</table>
<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="600" bgcolor="#470101" align="center">
	<tbody>
		<tr>
			<td style="line-height:30px;font-family:宋体;height:30px;color:#000000;font-size:12px;" bgcolor="#ffffff" colspan="5" align="middle">
				如您不想继续接收我们的邮件，可随时<a href="{%%unsub_link%%}" target="_blank">取消订阅</a>
			</td>
		</tr>
	</tbody>
</table>