.txt-b {
	FONT-WEIGHT: bold! important
}
.txt-i {
	FONT-STYLE: italic! important
}
.txt-u {
	TEXT-DECORATION: underline! important
}
.txt-del {
	TEXT-DECORATION: line-through
}
.txt-12 {
	FONT-SIZE: 12px
}
.txt-14 {
	FONT-SIZE: 14px
}
.txt-16 {
	FONT-SIZE: 16px
}
.txt-20 {
	FONT-SIZE: 20px
}

.btn {
	OVERFLOW: hidden; CURSOR: pointer; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.btn SPAN {
	OVERFLOW: hidden; CURSOR: pointer; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.btngrp {
	PADDING-RIGHT: 1px; MARGIN-RIGHT: 8px
}
.btngrp .btn {
	MARGIN-RIGHT: -1px
}
.btn-dft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 24px; TEXT-DECORATION: none
}
.btn-dft SPAN {
	PADDING-RIGHT: 9px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 15px; MARGIN-RIGHT: 3px; PADDING-TOP: 5px
}
.btn-dft {
	BACKGROUND-POSITION: 100% -24px
}
.btn-dft-gl {
	BACKGROUND-POSITION: -1692px 0px
}
.btn-dft-gl SPAN {
	BACKGROUND-POSITION: -1692px 0px
}
.btn-dft SPAN {
	BACKGROUND-POSITION: -1692px 0px
}
.btn-dft-hover-arr {
	BACKGROUND-POSITION: 100% -72px
}
.btn-dft-icon-hover {
	BACKGROUND-POSITION: 100% -72px
}
.btn-dft-hover {
	BACKGROUND-POSITION: 100% -72px
}
.btn-dft-gl-hover-arr {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-gl-hover {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-gl-hover-txt SPAN {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-hover-txt SPAN {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-gl-hover SPAN {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-gr-hover SPAN {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-icon-hover SPAN {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-hover SPAN {
	BACKGROUND-POSITION: -1692px -48px
}
.btn-dft-active-arr {
	BACKGROUND-POSITION: 100% -120px
}
.btn-dft-active {
	BACKGROUND-POSITION: 100% -120px
}
.btn-dft-gl-active-arr {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-gl-active {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-gl-active-txt SPAN {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-active-txt SPAN {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-gl-active SPAN {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-gr-active SPAN {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-active SPAN {
	BACKGROUND-POSITION: -1692px -96px
}
.btn-dft-gl-disabd {
	CURSOR: default
}
.btn-dft-gc-disabd {
	CURSOR: default
}
.btn-dft-gr-disabd {
	CURSOR: default
}
.btn-dft-gl-disabd SPAN {
	CURSOR: default
}
.btn-dft-gc-disabd SPAN {
	CURSOR: default
}
.btn-dft-gr-disabd SPAN {
	CURSOR: default
}
.btn-dft-disabd {
	CURSOR: default
}
.btn-dft-disabd SPAN {
	CURSOR: default
}
.btn-dft-gl-disabd {
	BACKGROUND-POSITION: 100% -312px
}
.btn-dft-disabd {
	BACKGROUND-POSITION: 100% -312px
}
.btn-dft-gl-disabd SPAN {
	BACKGROUND-POSITION: -1692px -288px
}
.btn-dft-disabd SPAN {
	BACKGROUND-POSITION: -1692px -288px
}
.btn-dft-gl-hover-txt {
	POSITION: relative
}
.btn-dft-gl-hover-arr {
	POSITION: relative
}
.btn-dft-gc-hover-txt {
	POSITION: relative
}
.btn-dft-gc-hover-arr {
	POSITION: relative
}
.btn-dft-gr-hover-txt {
	POSITION: relative
}
.btn-dft-gr-hover-arr {
	POSITION: relative
}
.btn-dft-gl-active-txt {
	POSITION: relative
}
.btn-dft-gl-active-arr {
	POSITION: relative
}
.btn-dft-gc-active-txt {
	POSITION: relative
}
.btn-dft-gc-active-arr {
	POSITION: relative
}
.btn-dft-gr-active-txt {
	POSITION: relative
}
.btn-dft-gr-active-arr {
	POSITION: relative
}
.btn-dft-gl-hover {
	POSITION: relative
}
.btn-dft-gc-hover {
	POSITION: relative
}
.btn-dft-gr-hover {
	POSITION: relative
}
.btn-dft-gl-active {
	POSITION: relative
}
.btn-dft-gc-active {
	POSITION: relative
}
.btn-dft-gr-active {
	POSITION: relative
}
.btn-dft-impt {
	BACKGROUND-POSITION: 100% -168px
}
.btn-dft-impt SPAN {
	BACKGROUND-POSITION: -1692px -144px
}
.btn-dft-impt-hover {
	BACKGROUND-POSITION: 100% -216px
}
.btn-dft-impt-hover SPAN {
	BACKGROUND-POSITION: -1692px -192px
}
.btn-dft-impt-active {
	BACKGROUND-POSITION: 100% -264px
}
.btn-dft-impt-active SPAN {
	BACKGROUND-POSITION: -1692px -240px
}
.btn-dft-icon {
	POSITION: relative
}
.btn-dft-icon SPAN {
	PADDING-LEFT: 30px
}
.btn-dft-icon .ico {
	LEFT: 8px; POSITION: absolute; TOP: 4px
}
.btn-dft-gl {
	BORDER-RIGHT: 1px solid
}
.btn-dft-gl SPAN {
	MARGIN-RIGHT: 0px
}
.btn-dft-gc {
	BORDER-RIGHT: 1px solid; BACKGROUND-POSITION: -1695px 0px; BORDER-TOP: 0px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid
}
.btn-dft-gc SPAN {
	BACKGROUND-POSITION: -1695px 0px; MARGIN: 0px
}
.btn-dft-gc-hover-arr {
	BACKGROUND-POSITION: -1695px -48px
}
.btn-dft-gc-hover-txt SPAN {
	BACKGROUND-POSITION: -1695px -48px
}
.btn-dft-gc-hover {
	BACKGROUND-POSITION: -1695px -48px
}
.btn-dft-gc-hover SPAN {
	BACKGROUND-POSITION: -1695px -48px
}
.btn-dft-gc-active-arr {
	BACKGROUND-POSITION: -1695px -96px
}
.btn-dft-gc-active-txt SPAN {
	BACKGROUND-POSITION: -1695px -96px
}
.btn-dft-gc-active {
	BACKGROUND-POSITION: -1695px -96px
}
.btn-dft-gc-active SPAN {
	BACKGROUND-POSITION: -1695px -96px
}
.btn-dft-gc-disabd {
	BACKGROUND-POSITION: -1695px -288px
}
.btn-dft-gc-disabd SPAN {
	BACKGROUND-POSITION: -1695px -288px
}
.btn-dft-gr {
	BACKGROUND-POSITION: 100% -24px; BORDER-LEFT: 1px solid
}
.btn-dft-gr-hover-arr {
	BACKGROUND-POSITION: 100% -72px
}
.btn-dft-gr-hover {
	BACKGROUND-POSITION: 100% -72px
}
.btn-dft-gr-active-arr {
	BACKGROUND-POSITION: 100% -120px
}
.btn-dft-gr-active {
	BACKGROUND-POSITION: 100% -120px
}
.btn-dft-gr-disabd {
	BACKGROUND-POSITION: 100% -312px
}
.btn-dft-gr SPAN {
	BACKGROUND-POSITION: -1695px 0px; MARGIN-LEFT: 0px
}
.btn-dft-gr-hover-txt SPAN {
	BACKGROUND-POSITION: -1695px -48px
}
.btn-dft-gr-hover SPAN {
	BACKGROUND-POSITION: -1695px -48px
}
.btn-dft-gr-active-txt SPAN {
	BACKGROUND-POSITION: -1695px -96px
}
.btn-dft-gr-active SPAN {
	BACKGROUND-POSITION: -1695px -96px
}
.btn-dft-gr-disabd SPAN {
	BACKGROUND-POSITION: -1695px -288px
}
.btn-dft-pd SPAN {
	PADDING-RIGHT: 21px
}
.btn-dft-pd .arr {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -1657px 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -22px; WIDTH: 22px; PADDING-TOP: 0px; HEIGHT: 24px
}
.btn-dft-sprt SPAN {
	MARGIN-RIGHT: 21px
}
.btn-dft-sprt .arr {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -1656px 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -22px; WIDTH: 22px; PADDING-TOP: 0px; HEIGHT: 24px
}
