<style type="text/css">
<!--


.topic9b {  font-family: "宋体"; font-size: 10.5pt;font-weight:bold; color: #000000;vertcal-align:top ;line-height:15px;}
.topic9b:link {  font-family: "宋体"; font-size: 10.5pt;font-weight:bold; color: #000000; vertcal-align:top;line-height:15px;}
.topic9b:visited {  font-family: "宋体"; font-size: 10.5pt;font-weight:bold; color: #000000; vertcal-align:top;line-height:15px;}
.topic9b:hover {  font-family: "宋体"; font-size: 10.5pt;font-weight:bold; color: #730C34;vertcal-align:top;line-height:15px; }


TABLE.ubb,td.ubb
{
    border: 1px solid #A9A9A9;
    FONT-SIZE: 10.5pt; 
}

INPUT.buttonface
{
    background-color: #D2E9FF;
    COLOR: #000080;
    FONT-SIZE: 9pt
}

input.dialogbotton
     {
     font-size:9pt;
     background-color: rgb(255,204,51); 
     color: rgb(0,0,128) ;
     }
     
select{
	font-size:9pt;
	color:navy;
}

.pageHead{font-size:10.5pt;font-weight:bold;color:navy}
.p9{font-size:9pt}
.p10{font-size:10.5pt;}
.p914{font-size:12px;line-height:14pt;}
.p915{font-size:12px;line-height:15pt;}
.p11{font-size:14.8px}
.p1116{font-size:14.8px;line-height:16pt;}
.p1117{font-size:14.8px;line-height:17pt;}
.p12{font-size:14.8px}
.p1217{font-size:14.8px;line-height:17pt;}
.p1218{font-size:14.8px;line-height:18pt;}
.p15{line-height:18pt;}
.p8t{font-size: 8pt;}

.border {  border: #333333; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

a:link {text-decoration: none; color:navy;}
a:visited {text-decoration: none;color:#3366CC}
a:hover {text-decoration: underline; color:red;}


INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt;height:21px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}

p,td,input,select,textarea {font-size: 9pt;line-height:14pt;}

th {font-size: 9pt;FONT-WEIGHT:normal;line-height:14pt;}
-->
</style>
