<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} - DNSPod 域名解析 </title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="dnspod">
            <div class="header">
                DNSPod 域名解析
            </div>
            <h3>{{title}}</h3>
            <div>{{content}}</div>
<!--
            <div class="footer text-center">
                <font color=red>提示</font>：请先将本系统涉及到的所有邮箱域名的DNS服务器设置为：F1G1NS1.DNSPOD.NET 和 F1G1NS2.DNSPOD.NET
            </div>
-->
        </div>
    </body>
</html>